<form id="byweight-shipping-rules-form">
    <div class="simple-table">
        <div class="toolbar">
            <a class="button" href="#" data-bind="click: AddRule">@("Add Rule".Localize())</a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>@("From weight".Localize())</th>
                    <th>@("To weight".Localize())</th>
                    <th>@("Charge".Localize())</th>
                    <th class="action"></th>
                    <th class="action"></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: Rules">
                <tr data-bind="if: !IsEditing()">
                    <td>
                        <span data-bind="text: FromWeight"></span> @("KG".Localize())
                    </td>
                    <td>
                        <span data-bind="text: ToWeight"></span> @("KG".Localize())
                    </td>
                    <td>
                        <span data-bind="text: ShippingPrice"></span>
                        <!--ko text: $root.PriceUnitDisplayName($data.PriceUnit()) --><!-- /ko -->
                    </td>
                    <td class="action">
                        <a class="action" data-bind="click: $root.EditRule" href="#">@Html.IconImage("edit-small")</a>
                    </td>
                    <td class="action">
                        <a class="action" data-bind="click: $root.RemoveRule" href="#">@Html.IconImage("minus-small")</a>
                    </td>
                </tr>
                <tr data-bind="if: IsEditing">
                    <td>
                        <input type="text" data-bind="value: FromWeight" class="small" placeholder="@("KG".Localize())">
                    </td>
                    <td>
                        <input type="text" data-bind="value: ToWeight" class="small" placeholder="@("KG".Localize())">
                    </td>
                    <td>
                        <input type="text" data-bind="value: ShippingPrice" class="small" placeholder="@("Price".Localize())">
                        <select data-bind="options: $root.AvailablePriceUnits, optionsText: 'Text', optionsValue: 'Value', value: PriceUnit" class="small"></select>
                    </td>
                    <td>
                        <a data-bind="click: $root.CommitRuleEditing">@Html.IconImage("save-small")</a>
                    </td>
                    <td>
                        <a data-bind="click: $root.CancelRuleEditing">@Html.IconImage("minus-small")</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>

@Html.Partial("~/Areas/" + Strings.AreaName + "/Views/Config.Scripts.cshtml")