@model ActivityEditorModel

<form id="activity-editor-form">
    <div class="step-content clearfix">
        <div class="common-form">
            <table id="activity-binding-form">
                <tbody>
                    <tr>
                        <th>@("Activity".Localize())</th>
                        <td>
                            <span data-bind="text: activity.displayName"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>@("Description".Localize())</th>
                        <td>
                            <input type="text" name="Description" data-bind="value: description"
                                   data-val="true"
                                   data-val-required="@("Required".Localize())" />
                            <span data-valmsg-for="Description" data-valmsg-replace="true"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>@("Priority".Localize())</th>
                        <td>
                            <input type="text" name="Priority" data-bind="value: priority"
                                   data-val="true"
                                   data-val-required="@("Required".Localize())"
                                   data-val-digits="@("Please enter an integer")" />
                            <span data-valmsg-for="Priority" data-valmsg-replace="true"></span>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <div class="clearfix">
                                <input type="checkbox" id="EnableAsyncExecution" data-bind="checked: isAsyncExecutionEnabled, enable: activity.allowAsyncExecution" />
                                <label class="inline" for="EnableAsyncExecution">@("Enable Async Execution".Localize())</label>
                            </div>
                            <div class="block message warning" style="margin-top:5px" data-bind="visible: !activity.allowAsyncExecution()">
                                @("This activity does not allow async execution".Localize())
                            </div>
                        </td>
                    </tr>
                    <tr style="display:none" data-bind="visible: isAsyncExecutionEnabled">
                        <th>@("Delay".Localize())</th>
                        <td>
                            <div class="columns">
                                <div class="span2">
                                    <input type="text" data-bind="value: delayDays" />
                                </div>
                                <div class="span1">
                                    @("days".Localize())
                                </div>
                                <div class="span2">
                                    <select data-bind="value: delayHours">
                                        @foreach (var hour in Enumerable.Range(0, 24))
                                        {
                                            <option value="@hour">@hour</option>
                                        }
                                    </select>
                                </div>
                                <div class="span1">
                                    @("hr.".Localize())
                                </div>
                                <div class="span2">
                                    <select data-bind="value: delayMinutes">
                                        @foreach (var min in Enumerable.Range(0, 60))
                                        {
                                            <option value="@min">@min</option>
                                        }
                                    </select>
                                </div>
                                <div class="span1">
                                    @("min.".Localize())
                                </div>
                                <div class="span2">
                                    <select data-bind="value: delaySeconds">
                                        @foreach (var sec in Enumerable.Range(0, 60))
                                        {
                                            <option value="@sec">@sec</option>
                                        }
                                    </select>
                                </div>
                                <div class="span1">
                                    @("sec.".Localize())
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <input id="IsActivityEnabled" type="checkbox" data-bind="checked: isEnabled" />
                            <label for="IsActivityEnabled" class="inline">@("Enabled")</label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
