@model ActivityConfigEditorModel
@{
    var activity = ViewBag.Activity as IActivity;
    var configModelType = activity.ConfigModelType;
}

<form class="common-form" id="default-activity-param-editor">
    @Html.HiddenFor(m => m.RuleId)
    @Html.HiddenFor(m => m.AttachedActivityInfoId)
    <input type="hidden" name="Config.BindingType" value="@Html.Raw(configModelType.AssemblyQualifiedName)" />
    <table>
        <tbody>
            @foreach (var prop in configModelType.GetProperties(System.Reflection.BindingFlags.Public | System.Reflection.BindingFlags.Instance))
            {
                @Html.Editor("Config." + prop.Name)
            }
        </tbody>
    </table>
</form>

<script>
    $(function () {

        var $form = $('#default-activity-param-editor');
        var editor = ActivityEditor.current();

        editor.on('saving', function (sender, args) {
            if (!$form.valid()) {
                args.cancel = true;
            }
        });

        editor.on('saved', function (sender, args) {
            $form.find(':hidden[name="RuleId"]').val(editor.model().ruleId());
            $form.find(':hidden[name="AttachedActivityInfoId"]').val(editor.model().attachedActivityInfoId());

            return $.post('@Url.Action("UpdateActivityConfig")', $form.serializeArray())
                    .fail(function (xhr) {
                        var result = JSON.parse(xhr.responseText);
                        window.loading.hide();
                        info.show(result.message, false);
                    });
        });

    });
</script>