@model ActivityEditorModel

<div class="wrap">
    <div id="activity-editor-tabs">
        <ul>
            <li><a href="#basicinfo">@("Basic Info".Localize())</a></li>
            @if (Model.ActivityDescriptor.Configurable)
            {
                <li><a href="#config">@("Activity Configuration".Localize())</a></li>
            }
        </ul>
        <div id="basicinfo">
            @Html.Partial("_BasicInfo")
        </div>
        @if (Model.ActivityDescriptor.Configurable)
        {
            <div id="config">
                @Html.Partial(Model.ActivityDescriptor.ConfigViewVirtualPath)
            </div>
        }
    </div>

    <p class="buttons">
        <button type="submit" class="btn-save">@("Save".Localize())</button>
        <a href="#" class="button gray btn-cancel">@("Cancel".Localize())</a>
    </p>
</div>

<script>
    $(function () {
        $('#activity-editor-tabs').tabs();
    });
</script>

@Html.Partial("_Editor.Scripts")