@model ActivityEditorModel

<div class="wrap">
    <div id="activity-editor-tabs">
        <ul>
            <li><a href="#basicinfo">@("Basic Info".Localize())</a></li>
            @if (!string.IsNullOrEmpty(Model.Activity.EditorVirtualPath))
            {
                <li><a href="#config">@("Activity Configuration".Localize())</a></li>
            }
        </ul>
        <div id="basicinfo">
            @Html.Partial("_BasicInfo")
        </div>
        @if (!string.IsNullOrEmpty(Model.Activity.EditorVirtualPath))
        {
            <div id="config">
                @Html.Partial(Model.Activity.EditorVirtualPath, ViewBag.ConfigEditorModel as ActivityConfigEditorModel)
            </div>
        }
    </div>

    <p class="buttons">
        <a href="#" class="button gray right J_Cancel">@("Cancel".Localize())</a>
        <button type="submit" class="right J_Save">@("Save".Localize())</button>
    </p>
</div>

<script>
    $(function () {
        $('#activity-editor-tabs').tabs({
            beforeActivate: function (event, ui) {
                if (ui.oldPanel) {
                    var valid = true;
                    ui.oldPanel.find('form').each(function () {
                        if (!$(this).valid()) {
                            valid = false;
                        }
                    });

                    return valid;
                }
            }
        });
    });
</script>

@Html.Partial("_Editor.Scripts")