@using Kooboo.Commerce.API;
@using Kooboo.Commerce.API.CmsSite;
@{
    var shoppingCart = Site.Current.Commerce().ShoppingCarts.BySessionId(Context.Session.SessionID).FirstOrDefault();
}
@if(shoppingCart == null || shoppingCart.Items == null || shoppingCart.Items.Count <= 0)
{
    <p>@("Nothing in shopping cart.".Localize())</p><a href="/ProductList">@("Go Shopping".Localize())</a>
}
else
{
    if(shoppingCart.Customer != null)
    {
        <h4>@shoppingCart.Customer.FirstName</h4>
    }
    <table class="simple-table">
        <thead>
            <tr>
                <th>@("Product".Localize())</th>
                <th>@("Quantity".Localize())</th>
                <th>@("Discount".Localize())</th>
                <th>@("Price".Localize())</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in shoppingCart.Items)
            {
                <tr>
                    <td>@item.ProductPrice.Product.Name</td>
                    <td>@item.Quantity</td>
                    <td>@item.Discount.ToString("C")</td>
                    <td>@(item.Total.ToString("C"))</td>
                </tr>
            }
        </tbody>
        <tfoot class="total">
            <tr>
                <td colspan="4">
                    @("Discount".Localize()): @(shoppingCart.TotalDiscount.ToString("C")),
                    @("Total".Localize()): <em>@(shoppingCart.Total.ToString("C"))</em>
                </td>
            </tr>
        </tfoot>
    </table>
    if (shoppingCart.AppliedPromotions.Count > 0) { 
    <h3>Applied Promotions</h3>
    <div class="applied-promotions">
        <ul>
            @foreach (var promotion in shoppingCart.AppliedPromotions)
            {
                <li>
                    @promotion.Name
                </li>
            }
        </ul>
    </div>
    }
    <div class="buttons" style="text-align:right">
        <a class="button" href="/ProductList">@("Continue Shopping".Localize())</a>
        <a class="button primary" href="/MyOrder">@("Checkout".Localize())</a>
    </div>
}
