@using Kooboo.Commerce.API;
@using Kooboo.Commerce.API.CmsSite;
@{
    var shoppingCart = Site.Current.Commerce().ShoppingCarts.BySessionId(Context.Session.SessionID).FirstOrDefault();
}
@if(shoppingCart == null || shoppingCart.Items == null || shoppingCart.Items.Length <= 0)
{
    <p>@("Nothing in shopping cart.".Localize())</p><a href="/ProductList">@("Go Shopping".Localize())</a>
}
else
{
    decimal totalPrice = 0.0m;
    int totalCount = 0;
    if(shoppingCart.Customer != null)
    {
        <h4>@shoppingCart.Customer.FirstName</h4>
    }
    <table>
        <thead>
            <tr>
                <th>@("Product".Localize())</th>
                <th>@("Quantity".Localize())</th>
                <th>@("Price".Localize())</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in shoppingCart.Items)
            {
                var price = item.Quantity * item.ProductPrice.RetailPrice;
                totalPrice += price;
                totalCount += item.Quantity;
                <tr>
                    <td>@item.ProductPrice.Product.Name</td>
                    <td>@item.Quantity</td>
                    <td>@(price)</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td>@("Total".Localize())</td>
                <td>@totalCount</td>
                <td>@totalPrice</td>
            </tr>
        </tfoot>
    </table>
    <div>
        <a href="/MyOrder">@("Checkout".Localize())</a>
        <a href="/ProductList">@("Continue Shopping".Localize())</a>
    </div>
}
