
<div class="block common-form">
    <form id="buckaroo-form">
        <table>
            <tbody>
                <tr>
                    <th>@("Website Key".Localize())</th>
                    <td>
                        <input type="text" name="WebsiteKey" data-bind="value: WebsiteKey" />
                    </td>
                </tr>
                <tr>
                    <th>@("Secret Key".Localize())</th>
                    <td>
                        <input type="text" name="SecretKey" data-bind="value: SecretKey" />
                    </td>
                </tr>
                <tr>
                    <th>@("Credit Debit Mandate Reference".Localize())</th>
                    <td>
                        <input type="text" name="CreditDebitMandateReference" data-bind="value: CreditDebitMandateReference" />
                    </td>
                </tr>
                <tr>
                    <th>@("Credit Debit Mandate Date".Localize())</th>
                    <td>
                        <input type="text" name="CreditDebitMandateDate" data-bind="value: CreditDebitMandateDate" />
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

<script>
    (function ($) {
        var viewModel = null;
        var editor = PaymentProcessorEditor.current();

        editor.on('load', function (sender, args) {
            var methodId = args.paymentMethodId;
            $.get('@Url.Action("Load", "Config", new { area = Strings.AreaName })', { methodId: methodId })
             .done(function (data) {
                 viewModel = ko.mapping.fromJS(data);
                 ko.applyBindings(viewModel, document.getElementById('ideal-form'));
             });
        });

        editor.on('saving', function (sender, args) {
            var methodId = args.paymentMethodId;

            return $.ajax({
                url: '@Url.Action("Save", "Config", new { area = Strings.AreaName })?methodId=' + methodId,
                type: 'POST',
                data: $('#buckaroo-form').serializeArray()
            })
            .fail(function (data) {
                window.loading.hide();
                info.show(data.Message, false);
            });
        });
    })(jQuery);
</script>