@model Kooboo.Commerce.Activities.Recommendation.RecommendationActivitySettings
@{
    Layout = "~/Areas/Commerce/Views/Shared/AddIns/_ActivitySettings.cshtml";
    ViewBag.Title = "Recommendation Activity Settings".Localize();
}

<div class="common-form">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <table>
            <tbody>
                @Html.EditorFor(m => m.ApiKey)
                @Html.EditorFor(m => m.ApiSecret)
            </tbody>
        </table>
        <p class="buttons">
            <button type="submit" data-ajaxform="">@("Save".Localize())</button>
            <a href="#" class="button gray btn-cancel">@("Cancel".Localize())</a>
        </p>
    }
</div>


<script>
    $('.btn-cancel').on('click', function () {
        window.parent.ViewModel.activityContext().cancel();
    });
</script>