@{
    ViewBag.Title = "Media library".Localize();
}

@section Topbar {
    <h1 class="title">@ViewBag.Title</h1>
    <div class="breadcrumb" data-bind="with: data">
        <!-- ko template: { name: 'breadcrumb', foreach: Paths } -->
        <!-- /ko -->
    </div>
    <div class="searchbox">
        <input type="text" data-bind="value: SearchWord" />
        <button type="button" onclick="vm.getData();">
            <img class="icon search" src="/Images/invis.gif">
        </button>
    </div>
    <ul class="view-switch">
        <li class="list" data-bind="css: { active: vm.ListStyle() == 'list' }"><a href="javascript:;" title="@("Table list view".Localize())" onclick="vm.ListStyle('list');">@Html.IconImage("sprite")</a></li>
        <li class="grid" data-bind="css: { active: vm.ListStyle() == 'grid' }"><a href="javascript:;" title="@("Thumbnails view".Localize())" onclick="vm.ListStyle('grid');">@Html.IconImage("sprite")</a></li>
    </ul>
}

@section Panel{
    <ul class="header-panel">
        <li>
            <a data-toggle="new-folder">@Html.IconImage("folder-add")@("New folder".Localize())</a>
        </li>
        <li>
            <a class="upload-button">
                <span>
                    <input data-toggle="upload" class="upload-input" type="file" name="files[]" data-url="/Areas/Commerce/Handlers/UploadHandler.ashx?owner=@Request.QueryString["owner"]&path=@Request.QueryString["path"]" />
                </span>
                @Html.IconImage("upload")@("Upload".Localize())
            </a>
        </li>
    </ul>
}

@Html.Partial("_MediaLibrary")