@using Kooboo.Commerce.API;
@using Kooboo.Commerce.API.CmsSite;
@using Kooboo.Commerce.API.Categories;
@{
    var cateId = Page_Context.Current.PageRequestContext.RouteValues["id"];
    var products = cateId == null || string.IsNullOrEmpty(cateId.ToString()) ? null : Site.Current.Commerce().Products.ByCategoryId(Convert.ToInt32(cateId)).Include(o => o.Brand).Include(o => o.Images).Include(o => o.PriceList).Include(o => o.CustomFieldValues).Include(o => o.CustomFieldValues.Select(f => f.CustomField)).ToArray();
    var categories = Site.Current.Commerce().Categories.ByParentId(null).Include(o => o.Children).ToArray();
}
<form id="__AjaxAntiForgeryForm" action="#" method="post">
    @AntiForgery.GetHtml()
</form>
<div class="search_top">
    <div class="grid_left search_count">
        Categorie
        <br>
        ‘<span class="orange">Health</span>’ leverde
        <span class="orange products-count">
            7038
        </span>
        <br>
        resultaten op
    </div>
    <div class="grid_right search_options">


        <dl>
            <dd>
                <input type="text" value="" placeholder="Zoek binnen deze selectie" class="search_within">
            </dd>
            <dd>
                <ul class="search_sort">
                    <li>Sorteer:</li>
                    <li>
                        <a id="ctl00_cpContent_Options1_hlSort_Name" class="sort_asc GreyLink" href="http://newshoppage.vitaminstore.eu/health/?sort=5">naam</a>
                    </li>
                    <li class="divider">|</li>
                    <li>
                        <a id="ctl00_cpContent_Options1_hlSort_Price" class="sort_asc GreyLink" href="http://newshoppage.vitaminstore.eu/health/?sort=1">prijs</a>
                    </li>
                    <li class="divider">|</li>
                    <li>
                        <span class="sort_asc orange">relevantle</span>
                    </li>
                    <li class="divider">|</li>
                    <li>
                        <a href="http://newshoppage.vitaminstore.eu/health/?sort=7" class="GreyLink">recensies</a>
                    </li>
                </ul>
            </dd>
            <dd>
                <ul class="search_viewtype">
                    <li>Weergave:</li>
                    <li class="view_list_li">
                        <span class="view_list_selected orange">Lijst</span>
                    </li>
                    <li>
                        <a href="http://newshoppage.vitaminstore.eu/health/?view=1" class="view_table GreyLink">Tegels</a>
                    </li>
                </ul>
            </dd>
        </dl>

    </div>
</div>

<div class="productsContainer">

    <div class="search_list">
        @if (products == null)
        {
            <div>No Products</div>
        }
        else
        {
            foreach (var product in products)
            {
                var price = product.GetLowestPrice();
                if (price == null)
                {
                    continue;
                }
                string detailUrl = CmsSiteUrlResolver.MapUrl(product, "self");
                var img = product.GetImage("list");
                string imageUrl = img == null ? "" : img.ImageUrl;
                <div class="search_proitem">
                    <div class="grid_left search_pic">
                        <a onclick="_gaq.push(['_trackEvent', 'list-view', 'Click', 'product']);" href="@detailUrl">
                            <img title="@product.Name" src="@imageUrl" alt="" style="border-width:0px;">
                        </a>
                    </div>
                    <div class="grid_left search_pro">
                        <dl>
                            <dd class="search_pro_name">
                                <a class="GreyLink" onclick="_gaq.push(['_trackEvent', 'list-view', 'Click', 'product']);" href="@detailUrl">
                                    <strong>
                                        @product.Name
                                    </strong> -
                                    @product.Brand.Name
                                </a>
                            </dd>
                            <dd>
                                <ul class="star-rating"><li class="current-rating" style="width:42px"></li></ul>
                                <span class="ReviewsCount">
                                    <a href="@(detailUrl)#reviews" class="green_link">17 Recensies</a>
                                </span>
                            </dd>
                            <dd class="search_pro_text">
                                @Html.Raw(product.GetCustomFieldValue("Introduction"))
                                <a class="green_link" onclick="_gaq.push(['_trackEvent', 'list-view', 'Click', 'product']);" href="@detailUrl">...meer</a>
                            </dd>
                        </dl>

                    </div>
                    <div class="grid_right">
                        <dl>
                            <dd>
                                <div class="lowestprice">
                                    <div class="lowestprice-top">
                                    </div>
                                    <div class="lowestprice-item">
                                        <span class="measure">
                                            @(price.GetVariantValue("MeasureQuantity"))
                                            @(product.GetCustomFieldValue("Measure"))
                                        </span>
                                        <br>
                                        <span class="currentlyprice">
                                            € @(price.RetailPrice)
                                        </span>
                                    </div>
                                    <div class="lowestprice-bottom">
                                    </div>
                                </div>
                            </dd>
                            <dd class="addcart">
                                <a href="javascript: AddCart('@price.Id', 1);" onclick="_gaq.push(['_trackEvent', 'list-view', 'Click', 'addcart']);" rel="nofollow">
                                    <img alt="IN WINKELWAGEN" src="/CMS_Data/Sites/Vitaminstore/images/product/btn-new.gif">
                                </a>
                            </dd>
                        </dl>
                    </div>
                </div>
            }
        }
    </div>
    <span class="pageNumber" data-page="1"></span>
</div>

<div class="loading-more">

    <div class="bubblingG" style="display: none;">
        <span id="bubblingG_1"></span>
        <span id="bubblingG_2"></span>
        <span id="bubblingG_3"></span>
    </div>

</div>