
<div class="block common-form">
    <form id="paypal-form">
        <table>
            <tbody>
                <tr>
                    <th>@("Client ID".Localize())</th>
                    <td>
                        <input type="text" name="ClientId" data-bind="value: ClientId" />
                    </td>
                </tr>
                <tr>
                    <th>@("Client Secret".Localize())</th>
                    <td>
                        <input type="text" name="ClientSecret" data-bind="value: ClientSecret" />
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <input type="checkbox" id="SandboxMode" name="SandboxMode" value="true" data-bind="checked: SandboxMode" />
                        <label for="SandboxMode" class="inline">@("Sandbox Mode".Localize())</label>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

<script>
    (function ($) {
        var viewModel = null;
        var editor = PaymentProcessorEditor.current();

        editor.on('load', function (sender, args) {
            var methodId = args.paymentMethodId;
            $.get('@Url.Action("Load", "Config", new { area = Strings.AreaName })', { methodId: methodId })
                .done(function (data) {
                    viewModel = ko.mapping.fromJS(data);
                    ko.applyBindings(viewModel, document.getElementById('ideal-form'));
                });
        });

        editor.on('saving', function (sender, args) {
            var methodId = args.paymentMethodId;

            return $.ajax({
                url: '@Url.Action("Save", "Config", new { area = Strings.AreaName })?methodId=' + methodId,
                type: 'POST',
                data: $('#paypal-form').serializeArray()
            })
            .fail(function (data) {
                window.loading.hide();
                info.show(data.Message, false);
            });
        });
    })(jQuery);
</script>