@using Kooboo.Commerce.Payments.PayPal;
@model PayPalSettings
@{
    Layout = "~/Areas/Commerce/Views/Shared/AddIns/_PaymentProcessorSettings.cshtml";
}

<div class="block message info">
    <strong>@("Implementation instructions".Localize()):</strong>
    <p>
        @("Frontend site implementors need to send following parameters to the payment processor"):
    </p>
    <p>
        <ul>
            @foreach (var each in PayPalConstants.ParameterDescriptors)
            {
                <li>@each.ParameterName: @each.Description</li>
            }
        </ul>
    </p>
</div>

<div class="block common-form">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <table>
            <tbody>
                @Html.EditorFor(m => m.ClientId)
                @Html.EditorFor(m => m.ClientSecret)
                @Html.EditorFor(m => m.SandboxMode)
            </tbody>
        </table>
    }
</div>
