@using Kooboo.Commerce.Payments.PayPal;
@model PayPalSettings
@{
    Layout = "~/Areas/Commerce/Views/Shared/AddIns/_PaymentGatewaySettings.cshtml";
    ViewBag.Title = "PayPal settings".Localize();
}

<blockquote>
    <strong>@("Credit Card Parameters".Localize()):</strong>
    <p>
        <ul>
            @foreach (var kvp in PayPalParameters.ParameterDescriptions)
            {
                <li>@kvp.Key: @kvp.Value</li>
            }
        </ul>
    </p>
</blockquote>

<div class="block common-form">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <table>
            <tbody>
                @Html.EditorFor(m => m.ClientId)
                @Html.EditorFor(m => m.ClientSecret)
            </tbody>
        </table>
    }
</div>
