@model DefaultPolicySettingsModel
@{
    Layout = "~/Areas/Commerce/Views/Shared/AddIns/_PromotionPolicySettings.cshtml";
}

<div class="common-form">
    @using (Html.BeginForm())
    {
        <table>
            <tbody>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.DiscountAppliedTo)</th>
                    <td>
                        @Html.DropDownListFor(m => m.DiscountAppliedTo, Model.AvailableDiscountAppliedTos, new { @class = "medium" })
                    </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.DiscountMode)</th>
                    <td>
                        @Html.DropDownListFor(m => m.DiscountMode, Model.AvailableDiscountModes, new { @class = "medium" })
                    </td>
                </tr>
                <tr class="J_DiscountAmountHolder hide">
                    <th>@Html.DisplayNameFor(m => m.DiscountAmount)</th>
                    <td>
                        @Html.TextBoxFor(m => m.DiscountAmount, new { @class = "medium" })
                    </td>
                </tr>
                <tr class="J_DiscountPercentHolder hide">
                    <th>@Html.DisplayNameFor(m => m.DiscountPercent)</th>
                    <td>
                        @Html.TextBoxFor(m => m.DiscountPercent, new { @class = "mini" }) %
                    </td>
                </tr>
            </tbody>
        </table>
    }
</div>

<script>
    $(function () {
        var $discountModel = $('select[name="DiscountMode"]');

        onDiscountModeChanged($discountModel.val());

        $discountModel.change(function () {
            onDiscountModeChanged($(this).val());
        });

        function onDiscountModeChanged(mode) {
            if (mode == 'ByAmount') {
                $('.J_DiscountAmountHolder').show();
                $('.J_DiscountPercentHolder').hide();
            } else {
                $('.J_DiscountAmountHolder').hide();
                $('.J_DiscountPercentHolder').show();
            }
        }
    });
</script>