@model PagedList<StoreRowModel>
@{
    ViewBag.Title = "Index";
}

@section Panel {
    <ul class="panel">
        <li>
            <a href="@Url.Action("Create", ViewContext.RequestContext.AllRouteValues().Merge("return", ViewContext.HttpContext.Request.RawUrl))">
                @Html.IconImage("add") @("Create".Localize())
            </a>
        </li>
        <li>
            <a href="@Url.Action("Delete", ViewContext.RequestContext.AllRouteValues().Merge("return", ViewContext.HttpContext.Request.RawUrl))"
                data-show-on-check="Any" data-command-type="AjaxPost" data-confirm="@("Are you sure to delete this store?".Localize())">
                @Html.IconImage("delete") @("Delete".Localize())
            </a>
        </li>
    </ul>
}

<div class="topbar clearfix">
	<h1 class="title">@("Stores".Localize())</h1>
	<div class="searchbox">
		<input type="text" name="search">
		<button type="submit"><img src="/images/invis.gif" class="icon search"></button>
	</div>
</div>

@Html.GridFor2(typeof(StoreRowModel), Model)
<div class="pagination right">
    @Html.Pager(Model, "", ViewContext.RequestContext.AllRouteValues(), null)
</div>