@model CategoryEditorModel

@using (Html.BeginForm("Save", "Category", RouteValues.From(Request.QueryString)))
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.Id)
    <div class="common-form">
        <table>
            @Html.EditorFor(m => m.Name, new { HtmlAttributes = new { @class = "medium" } })
            <tr>
                <th><label>@("Photo".Localize())</label></th>
                <td>
                    <input type="hidden" id="Photo" name="Photo" value="@Model.Photo">
                    <ul class="form-list images @(string.IsNullOrEmpty(Model.Photo) ? "hide" : "")">
                        <li>
                            <div class="file-thumbnail @(string.IsNullOrEmpty(Model.Photo) ? "hide" : "")">
                                <img id="photoImg" src="@Model.Photo">
                                <a class="action" id="btnRemove" href="javascript:;" onclick="RemoveImage();" title="@("Remove".Localize())">
                                    @Html.IconImage("minus-small")
                                </a>
                            </div>
                        </li>
                    </ul>
                    <a href="javascript:;" class="action J_Upload" data-owner="commerce" data-property="category" data-src="@Model.Photo" title="@("Add".Localize())">
                        @Html.IconImage("plus-small")
                    </a>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="Description">
                        @("Description".Localize())
                    </label>
                </th>
                <td>
                    <textarea id="Description" name="Description" class="medium">@Model.Description</textarea>
                </td>
            </tr>
            @Html.EditorFor(o => o.Published)
            <tr>
                <th>
                    <label>
                        @("Parent".Localize())
                    </label>
                </th>
                <td>
                    @(string.IsNullOrEmpty(Model.ParentCrumble) ? "None" : Model.ParentCrumble)
                </td>
            </tr>
            <tr>
                <th>
                    <label>
                        @("Custom Fields".Localize())
                    </label>
                </th>
                <td>
                    <div class="columns">
                        <div class="span6">
                            <table id="customFields" class="key-value">
                                <thead>
                                    <tr>
                                        <th class="key">@("Name".Localize())</th>
                                        <th class="value">@("Value".Localize())</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.CustomFields != null)
                                    {
                                        foreach (var cf in Model.CustomFields)
                                        {
                                            <tr>
                                                <td>@Html.TextBox("CustomFields.Name")</td>
                                                <td>@Html.TextBox("CustomFields.Value", cf.Value)</td>
                                                <td><a href="javascript:;" onclick="RemoveCustomField(this);">@Html.IconImage("minus")</a></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <a href="javascript:;" class="action" onclick="AddCustomField();">
                                @Html.IconImage("plus")
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
}

<script type="text/javascript">
    $(function () {
        $('.J_Upload').upload({
            on_file_select: function (data) {
                var url = '';
                if (data.files && data.files.length > 0) {
                    url = data.files[0].Url;
                }
                $('#Photo').val(url);
                $('#photoImg').attr('src', url);
                $('#photoImg').parent().show();
                $('#photoImg').parents('ul').show();
            }
        });

        $('#photoImg').cropimage({
            keep_ratio: false,
            on_image_croped: function (data) {
                $(data.element).attr('src', data.url + '?v=' + new Date().getTime())
            }
        });
    })

    function RemoveImage() {
        $('#Photo').val('');
        $('#photoImg').attr('src', '');
        $('#photoImg').parent().hide();
    }

    function AddCustomField() {
        var tr = $('<tr></tr>');
        var name = $('<input type="text" name="CustomFields.Name" value="" />');
        var value = $('<input type="text" name="CustomFields.Value" value="" />');
        var icon = $('<a href="javascript:;" onclick="RemoveCustomField(this);"><img class="icon minus small" src="/Images/invis.gif"></a>');
        tr.append($('<td></td>').append(name));
        tr.append($('<td></td>').append(value));
        tr.append($('<td></td>').append(icon));
        $('#customFields').append(tr);
    }

    function RemoveCustomField(ele) {
        var tr = $(ele).closest('tr');
        tr.remove();
    }

</script>