@model CategoryEditorModel

@using (Html.BeginForm("Save", "Category", RouteValues.From(Request.QueryString))) {
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.Id)
    <div class="common-form">
        <table>
            @Html.EditorFor(m => m.Name)
            <tr>
                <th><label>@("Photo".Localize())</label></th>
                <td>
                    <img id="photoImg" src="@Model.Photo" style="display: @(string.IsNullOrEmpty(Model.Photo) ? "none" : "block")" />
                    <a href="javascript:;" class="upload" data-owner="commerce" data-property="category" data-src="@Model.Photo">
                        @Html.IconImage("plus small")
                    </a>
                    <a id="btnRemove" href="javascript:;" onclick="RemoveImage();" style="display: @(string.IsNullOrEmpty(Model.Photo) ? "none" : "block")">
                        @Html.IconImage("minus small")
                    </a>
                    <input type="hidden" id="Photo" name="Photo" value="@Model.Photo" />
                </td>
            </tr>
            <tr>
                <th>
                    <label for="Description">
                        @("Description".Localize())</label>
                </th>
                <td>
                    <textarea id="Description" name="Description" style="min-height: 100px;">@Model.Description</textarea>
                </td>
            </tr>
            @Html.EditorFor(o => o.Published)
            @Html.EditorFor(o => o.ParentId)
        </table>
    </div> 
}

<script type="text/javascript">
    $(function () {
        $('.upload').upload({
            on_file_select: function (data) {
                $('#Photo').val(data.file.Url);
                $('#photoImg').attr('src', data.file.Url).show();
                $('#btnRemove').show();
            }
        });

        $('#photoImg').cropimage({
            keep_ratio: false,
            on_image_croped: function (data) {
                $(data.element).attr('src', data.url + '?v=' + new Date().getTime())
            }
        });
    })

    function RemoveImage() {
        $('#Photo').val('');
        $('#photoImg').attr('src', '').hide();
        $('#btnRemove').hide();
    }
</script>