@model CategoryEditorModel

@using (Html.BeginForm("Save", "Category", RouteValues.From(Request.QueryString)))
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.Id)
    <div class="common-form">
        <table>
            <tr>
                <th>
                    <label>
                        @("Parent".Localize())
                    </label>
                </th>
                <td>
                    @Html.Raw(ViewBag.ParentPath)
                </td>
            </tr>
            @Html.EditorFor(m => m.Name, new { HtmlAttributes = new { @class = "medium" } })
            <tr>
                <th><label>@("Photo".Localize())</label></th>
                <td>
                    <input type="hidden" id="Photo" name="Photo" value="@Model.Photo">
                    <ul class="form-list images @(string.IsNullOrEmpty(Model.Photo) ? "hide" : "")">
                        <li>
                            <div class="file-thumbnail @(string.IsNullOrEmpty(Model.Photo) ? "hide" : "")">
                                <img id="photoImg" src="@Model.Photo">
                                <a class="action" id="btnRemove" href="javascript:;" onclick="RemoveImage();" title="@("Remove".Localize())">
                                    @Html.IconImage("minus-small")
                                </a>
                            </div>
                        </li>
                    </ul>
                    <a href="javascript:;" class="action J_Upload" data-owner="@(Request.QueryString["instance"])" data-property="Categories" data-src="@Model.Photo" title="@("Add".Localize())">
                        @Html.IconImage("plus-small")
                    </a>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="Description">
                        @("Description".Localize())
                    </label>
                </th>
                <td>
                    <textarea id="Description" name="Description" class="medium">@Model.Description</textarea>
                </td>
            </tr>
            <tr>
                <th>
                    <label>
                        @("Custom Fields".Localize())
                    </label>
                </th>
                <td>
                    @Html.Partial("_SimpleCustomFields", Model.CustomFields)
                </td>
            </tr>
        </table>
    </div>
}

<script type="text/javascript">
    $(function () {
        $('.J_Upload').upload({
            on_file_select: function (data) {
                var url = '';
                if (data.files && data.files.length > 0) {
                    url = data.files[0].Url;
                }
                $('#Photo').val(url);
                $('#photoImg').attr('src', url);
                $('#photoImg').parent().show();
                $('#photoImg').parents('ul').show();
            }
        });

        $('#photoImg').cropimage({
            keep_ratio: false,
            on_image_croped: function (data) {
                $(data.element).attr('src', data.url + '?v=' + new Date().getTime())
            }
        });
    })

    function RemoveImage() {
        $('#Photo').val('');
        $('#photoImg').attr('src', '');
        $('#photoImg').parent().hide();
    }

</script>