@{
    var productType = (ProductType)ViewBag.ProductType;
}
<div class="common-form">
    <table>
        <tbody>
            <tr>
                <th>@("Name".Localize())</th>
                <td>
                    <input type="text" name="Name" data-bind="value:Name" class="medium" 
                           data-val="true"
                           data-val-required="@("Required".Localize())" />
                    <span data-valmsg-for="Name" data-valmsg-replace="true"></span>
                </td>
            </tr>
            <tr>
                <th>@("Brand".Localize())</th>
                <td>
                    <div class="medium" data-bind="select2:BrandId, select2Options: $root.BrandSelect2Options"></div>
                </td>
            </tr>
            <tr>
                <th>@("Product Type".Localize())</th>
                <td>@productType.Name</td>
            </tr>
            <tr>
                <th>@("Created At".Localize())</th>
                <td><span data-bind="format:CreatedAtUtc, pattern: 'yy-mm-dd', provider: 'date'"></span></td>
            </tr>
            <tr>
                <th>@("Is Published".Localize())</th>
                <td><input type="checkbox" data-bind="checked: IsPublished" /></td>
            </tr>
            <tr>
                <th>@("Published At".Localize())</th>
                <td><span data-bind="format:PublishedAtUtc, pattern: 'yy-mm-dd', provider: 'date'"></span></td>
            </tr>
        </tbody>
    </table>
</div>