<div class="common-form">
    <table data-bind="with: product">
        <tbody>
            <tr>
                <th>@("Name".Localize())</th>
                <td>
                    <input type="text" name="Name" data-bind="value: name" class="medium" 
                           data-val="true"
                           data-val-required="@("Required".Localize())" />
                    <span data-valmsg-for="Name" data-valmsg-replace="true"></span>
                </td>
            </tr>
            <tr>
                <th>@("Brand".Localize())</th>
                <td>
                    <div class="medium" data-bind="select2: brand, select2Options: { textField: 'name', ajax: { url: '/Commerce/Product/SearchBrands' }}"></div>
                </td>
            </tr>
            <tr>
                <th>@("Categories".Localize())</th>
                <td>
                    <div class="medium" data-bind="select2: categories, select2Options: { multiple: true, textField: 'name', ajax: { url: '/Commerce/Product/SearchCategories' }}"></div>
                </td>
            </tr>
            <tr>
                <th>@("Publish".Localize())</th>
                <td><input type="checkbox" data-bind="checked: isPublished" /></td>
            </tr>
        </tbody>
    </table>
</div>