@using Kooboo.Commerce.Web.Framework.UI.Form
@{
    var productType = (ProductType)ViewBag.ProductType;
    var controls = FormControls.Controls().ToList();
}

<div class="simple-table" data-bind="with: product">
    <input type="hidden" name="FieldType" value="VariantField" />
    <div class="toolbar">
        <a class="button" href="javascript:;" data-bind="click: $root.addVariant">Add</a>
        @if (productType.VariantFieldDefinitions.Count > 0)
        {
            <a href="#" class="button" data-action="set-variant-values">@("Bulk add".Localize())</a>
        }
        <span data-bind="visible: $root.anyVariantSelected">
            <a href="#" class="button" data-action="bulk-change-price">@("Change prices".Localize())</a>
            <a href="#" class="button" data-bind="click: $root.deleteSelectedVariants">@("Delete".Localize())</a>
        </span>
    </div>
    <table class="variants-table">
        <thead>
            <tr>
                <th class="checkbox mutiple">
                    <div data-toggle="dropdown">
                        <input type="checkbox" data-action="toggle-all-variants">
                        @Html.IconImage("caret-down-black")
                        <ul class="dropdown hide">
                            <!-- ko if: $root.summarizedVariantFieldValues().length > 0 -->
                                <li><a href="#" data-bind="click: $root.selectAllVariants">@("All".Localize())</a></li>
                                <!-- ko foreach: $root.summarizedVariantFieldValues -->
                                <!-- ko foreach: values -->
                                <li>
                                    <a data-bind="text: $data, click: $root.selectVariantByVariantField.bind($data, $parent.name)"></a>
                                </li>
                                <!-- /ko -->
                                <!-- /ko -->
                                <li><a href="#" data-bind="click: $root.unselectAllVariants">@("None".Localize())</a></li>
                            <!-- /ko -->
                            <!-- ko if: $root.summarizedVariantFieldValues().length === 0 -->
                            <li>
                                <a href="javascript:void(0);">@("No available variant values".Localize())</a>
                            </li>
                            <!-- /ko -->
                        </ul>
                    </div>
                </th>
                <th>@("Sku".Localize())</th>
                @foreach (var field in productType.VariantFieldDefinitions)
                {
                    <th>@field.Label</th>
                }
                <th class="mini">@("Price".Localize())</th>
                <th class="action"></th>
                <th class="action"></th>
            </tr>
        </thead>
        <tbody data-bind="if: variants().length === 0">
            <tr class="empty">
                <td colspan="100">
                    @("Empty".Localize())
                </td>
            </tr>
        </tbody>
        <tbody data-bind="foreach: { data: variants, afterRender: $root.reinitVariantControls }">
            <tr data-bind="visible: !isEditing(), css: { active: selected }">
                <td class="checkbox">
                    <input type="checkbox" class="select" data-bind="checked: selected" />
                </td>
                <td data-bind="text:sku"></td>
                @foreach (var field in productType.VariantFieldDefinitions)
                {
                    <td data-bind="text: variantFields['@field.Name']"></td>
                }
                <td class="mini" data-bind="text:price"></td>
                <td><a data-bind="click: $root.editVariant" title="Edit">@Html.IconImage("edit-small")</a></td>
                <td><a data-bind="click: $root.deleteVariant" title="Delete">@Html.IconImage("minus-small")</a></td>
            </tr>
            <tr data-bind="visible: isEditing">
                <td>
                    <input type="checkbox" class="select" data-bind="checked: selected" />
                </td>
                <td><input type="text" data-bind="value:sku"></td>
                @foreach (var field in productType.VariantFieldDefinitions)
                {
                    var control = controls.FirstOrDefault(c => c.Name == field.ControlType) ?? controls.First();

                    <td>
                        @control.Render(field, null, new
                                       {
                                           data_field_type = "VariantField",
                                           data_bind = control.ValueBindingName + ": variantFields['" + field.Name + "']"
                                       }, ViewContext)
                    </td>
                }
                <td class="mini"><input type="text" data-bind="value:price" class="mini"></td>
                <td><a data-bind="click: $root.commitVariantEditing" title="Save">@Html.IconImage("save-small")</a></td>
                <td><a data-bind="click: $root.cancelVariantEditing" title="Cancel">@Html.IconImage("minus-small")</a></td>
            </tr>
        </tbody>
    </table>
</div>

@Html.Partial("_TabVariants.Scripts")