@using Kooboo.Commerce.Web.Framework.UI.Form
@{
    Layout = "~/Areas/Commerce/Views/Shared/Blank.cshtml";

    var product = (Product)ViewBag.Product;
    var productType = (ProductType)ViewBag.ProductType;
    var controls = FormControls.Controls().ToList();

    if (!String.IsNullOrEmpty(Request.QueryString["id"]))
    {
        ViewBag.Title = "Edit " + productType.Name + ": " + product.Name;
    }
    else
    {
        ViewBag.Title = "Create " + productType.Name;
    }
}
@section Panel {
    @Html.HeaderPanel().Buttons(buttons =>
    {
        buttons.Add("Save", "save").Dropdown(dropdown =>
        {
            if (product != null && product.IsPublished)
            {
                dropdown.Add("Save").WithUrl("javascript:viewModel.submit(true);");
                dropdown.Add("Save as draft").WithUrl("javascript:viewModel.submit(false);");
            }
            else
            {
                dropdown.Add("Save").WithUrl("javascript:viewModel.submit(false);");
                dropdown.Add("Save and publish").WithUrl("javascript:viewModel.submit(true);");
            }            
        });
        
        buttons.AddTopbarCommands(ViewBag.ToolbarCommands as IEnumerable<ITopbarCommand>, typeof(Product), product == null ? null : (int?)product.Id);
        buttons.AddCancelButton();
    })
}

<script>
    window.ProductEditor = {
        tabs: {}
    };
</script>

<div id="product-edit-main">
    <div class="block">
        <div id="J_ProductTabs">
            <ul>
                <li><a href="#basic">@("Basic info".Localize())</a></li>
                <li><a href="#fields">@("Fields".Localize())</a></li>
                <li><a href="#images">@("Images".Localize())</a></li>
                <li><a href="#variants">@("Variants".Localize())</a></li>
                @Html.Partial("_TabPluginHeaders")
            </ul>
            <div id="basic">
                <form>
                    @Html.Partial("_TabBasicInfo")
                </form>
            </div>
            <div id="fields">
                <form>
                    @Html.Partial("_TabCustomFields")
                </form>
            </div>
            <div id="images">
                <form>
                    @Html.Partial("_TabImages")
                </form>
            </div>
            <div id="variants">
                <form>
                    @Html.Partial("_TabVariants")
                </form>
            </div>
            @Html.Partial("_TabPluginContents")
        </div>
    </div>
</div>

@Html.Partial("Edit.Scripts")