@{
    ViewBag.Title = (string.IsNullOrEmpty(Request.QueryString["Id"]) ? "Create Product" : "Edit Product").Localize();
    Layout = "~/Views/Shared/Blank.cshtml";

    var productType = (ProductType)ViewBag.ProductType;
    var controls = FormControls.Controls().ToList();
    var customTabs = Kooboo.CMS.Sites.Extension.UI.Tabs.CustomTabs.GetTabs(ViewContext.RequestContext).ToArray();
}
@section Panel {
    @Html.HeaderPanel().Buttons(buttons =>
{
    buttons.Add("Save", "save").WithUrl("javascript:vm.saveData();");
    buttons.AddCancelButton();
})
}

<div id="product-edit-main">
    <div class="block" data-bind="with:data">
        <h1 class="title"><span>@ViewBag.Title:</span><span data-bind="text: Name"></span></h1>
        <form>
            <div id="J_ProductTabs">
                <ul>
                    <li><a href="#basicInfo">@("Basic info".Localize())</a></li>
                    <li data-bind="visible: ProductTypeId"><a href="#customFields">@("Custom Fields".Localize())</a></li>
                    <li><a href="#images">@("Images".Localize())</a></li>
                    <li><a href="#categories">@("Categories".Localize())</a></li>
                    <li data-bind="visible: ProductTypeId"><a href="#variants">@("Variants & Prices".Localize())</a></li>
                    @foreach (var tab in customTabs)
                {
                        <li>
                            <a href="#@tab.Name">@tab.DisplayText.Localize()</a>
                        </li>
                }
                </ul>
                <div id="basicInfo">
                    @Html.Partial("_TabBasicInfo")
                </div>
                <div id="categories">
                    <div class="block treeview">
                        <ul id="category_tree" data-bind="template: { name: 'category_template', foreach: $root.Categories }"></ul>
                    </div>
                </div>
                <div id="images">
                    <div class="common-form">
                        <table>
                            <tbody data-bind="template: { name: 'image_type_template', foreach: $root.ImageTypes }"></tbody>
                        </table>
                    </div>
                </div>
                <div id="variants">
                    @Html.Partial("_TabPrices")
                </div>
                <div id="customFields">
                    @Html.Partial("_TabCustomFields")
                </div>
                @foreach (var tab in customTabs)
            {
                    <div class="tab-content" id="@tab.Name">
                        @Html.Partial(tab.VirtualPath)
                    </div>
            }
            </div>
        </form>
    </div>
</div>

<script id="category_template" type="text/html">
    <li class="tree-node clearfix">
        @Html.IconImage("folder-blue")
        <!-- ko if: Children() && Children().length > 0 -->
        <span class="toggle">@Html.IconImage("sprite")</span>
        <!-- /ko -->
        <input type="checkbox" data-bind="value:Id(), checked: $root.SelectedCategories" />
        <span class="text" data-bind="text:Name"></span>
        <!-- ko if: Children() && Children().length > 0 -->
        <ul data-bind="template: { name: 'category_template', foreach: Children }"></ul>
        <!-- /ko -->
    </li>
</script>
<script id="image_type_template" type="text/html">
    <tr>
        <th><span data-bind="text:Name"></span><br />(<span data-bind="text:Width"></span>X<span data-bind="text:Height"></span>)</th>
        <td>
            <ul class="form-list images" data-bind="foreach: $root.GetImageUrl($data)">
                <li>
                    <div class="file-thumbnail">
                        <img class="crop_image" data-bind="attr:{src:ImageUrl, width: $root.GetImageWidth($data), height: $root.GetImageHeight($data), 'data-width': $root.GetImageWidth($data), 'data-height': $root.GetImageHeight($data) }" />
                        <a href="javascript:;" class="action" data-bind="click: $root.RemoveImage">@Html.IconImage("minus-small")</a>
                    </div>
                </li>
            </ul>
            <a href="javascript:;" class="action J_Upload" data-owner="@(Request.QueryString["commerceName"])" data-bind="attr: { 'data-property': 'Products/' + Name(), 'data-multiple': IsMultiple }">
                @Html.IconImage("plus-small")
            </a>
        </td>
    </tr>
</script>

@Html.Partial("Edit.Scripts")