@model IEnumerable<Kooboo.Commerce.Web.Areas.CommerceWebAPI.ViewModels.ApiControllerInfo>
@{
    ViewBag.Title = "AllAPI";
}

<h2>AllAPI</h2>
<div>
    <ul>
        @foreach (var c in Model)
        {
            <li>
                <h4>@c.ControllerName</h4>
                <ul>
                    @foreach (var a in c.Actions)
                    {
                        <li>
                            <h5>@a.ActionName</h5>
                            @Html.ActionLink(a.ApiRoute, "APIDetail", "ApiInfo", new { area = "CommerceWebAPI", controllerName = c.ControllerName, actionName = a.ActionName }, null)
                            <dl>
                                @foreach (var p in a.Parameters)
                                {
                                    <dt>@p.ParameterName</dt>
                                    <dd>@p.TypeName</dd>
                                }
                            </dl>
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>
</div>