@using Newtonsoft.Json
@using Kooboo.Commerce.Web.Areas.Commerce.Models.Rules
@model IList<EventSlotModel>
@{
    ViewBag.Title = "Overview".Localize();
}
<div class="block rules">
    <div class="simple-table">
        <table>
            <thead>
                <tr>
                    <th>Event</th>
                    <th>Rules</th>
                </tr>
            </thead>
            <tbody id="rules-overview" data-bind="foreach: Slots">
                <tr>
                    <td class="event" data-bind="text: EventName"></td>
                    <td>
                        <!-- ko foreach: Rules -->
                        <div class="summary">
                            <div data-bind="template: { name: 'RuleSummaryTemplate-' + Type(), data: $data }"></div>
                            <a class="action" data-bind="attr: { href: '@Url.Action("List", RouteValues.From(Request.QueryString))&eventName=' + $parent.EventName() + '&activeRule=' + $index() }">
                                @Html.IconImage("edit-small")
                            </a>
                        </div>
                        <!-- /ko -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@Html.Partial("RuleType.IfElse")
@Html.Partial("RuleType.SwitchCase")
@Html.Partial("RuleType.Always")

<script>
    $(function () {

        var viewModel = {
            Slots: ko.mapping.fromJS(@(Html.Raw(JsonConvert.SerializeObject(Model, new JsonSerializerSettings { TypeNameHandling = TypeNameHandling.Auto }))))
        };

        ko.applyBindings(viewModel, document.getElementById('rules-overview'));
    });
</script>