@model AddInMeta
@{
    ViewBag.Title = "Add-in installation".Localize();
    ViewBag.FullWidth = true;
}
@section Panel{
    <ul class="panel">
        <li>
            <a href="@ViewContext.RequestContext.GetRequestValue("return")">
                @Html.IconImage("cancel") @("Cancel".Localize())
            </a>
        </li>
        <li>
            <a data-ajaxform="">
                @Html.IconImage("next") @("Next".Localize())
            </a>
        </li>
    </ul>
}
<div class="block">
    <h1 class="title">@ViewBag.Title</h1>
    <div class="process-steps">
        <div class="steps-inner">
            <span>@("Add-in selection".Localize())</span>
            <span class="current">@("Installation".Localize())<b></b></span>
            <span>@("Finish".Localize())</span>
        </div>
    </div>
    <div class="content">
        <p>@("We are about to install your add-in. In this step, we will perform the following actions:".Localize())</p>
        <ol>
            <li><strong>@("Copy the module files into Kooboo CMS system.".Localize())</strong></li>
            <li><strong>@("Run the 'Installation' events defined by add-in developers".Localize())</strong></li>
        </ol>
        @using (Html.BeginForm())
        {
        }
    </div>
    <div class="content">
        <p>@Html.Raw("When you are ready, click the <strong>Next</strong> button to start the installation.".Localize())</p>
    </div>

</div>
