@model InstallViewModel
@{
    ViewBag.Title = "Add-In installation".Localize();
    ViewBag.FullWidth = true;

    var isValidUpload = Model.HasUploadedPackage && Model.Errors.Count == 0;
}
@section Panel{
    <ul class="panel">
        <li>
            <a href="@ViewContext.RequestContext.GetRequestValue("return")">
                @Html.IconImage("cancel") @("Cancel".Localize())
            </a>
        </li>
        @if (isValidUpload)
        {
            <li>
                <a data-ajaxform="">
                    @Html.IconImage("next") @("Next".Localize())
                </a>
            </li>
        }
    </ul>
}
<div class="block">
    <h1 class="title">@ViewBag.Title</h1>
    <div class="process-steps">
        <div class="steps-inner">
            <span class="current">@("Add-in selection".Localize())<b></b></span>
            <span>@("Installation".Localize())</span>
            <span>@("Finish".Localize())</span>
        </div>
    </div>
    @using (Html.BeginForm(ViewContext.RequestContext.GetRequestValue("Action").ToString(),
        ViewContext.RequestContext.GetRequestValue("Controller").ToString(), ViewContext.RequestContext.AllRouteValues(), FormMethod.Post,
        new Dictionary<string, object>() { { "enctype", "multipart/form-data" } }))
    {
        if (isValidUpload == false)
        {
            <div class="common-form">
                <table>
                    <tbody>
                        <tr>
                            <th><label>@("Upload add-in installation file".Localize())</label></th>
                            <td>
                                <a class="upload-button button upload" title="Please upload">
                                    <span>
                                        <input type="file" name="AddInFile" accept="" />
                                    </span>
                                    @("Select file".Localize())
                                </a>
                                @Html.ValidationMessageForInput("AddInFile")

                                @if (Model.Errors.Count > 0) {
                                <ul>
                                    @foreach (var error in Model.Errors) {
                                        <li style="color:red">@error</li>
                                    }
                                </ul>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <input type="hidden" name="AddInId" value="@Model.AddInMeta.Id" />
            <div class="columns clearfix">
                <div class="col-32">
                    <div class="content">
                        <p>
                           @("You have uploaded below add-in installation file. If this is not the add-in file you want, ".Localize())<a class="upload-link" title="@("Click to select file".Localize())">
                                <span>
                                    <input type="file" name="AddInFile" accept="" />
                                </span>@("click here".Localize())
                            </a> @("to select a new add-in file.".Localize())
                        </p>
                        @if (Model.IsMigration) {
                            <p>
                                There's already an older version installed. Click next if you want to upgrade it from <strong>@Model.CurrentAddInMeta.Version</strong> to <strong>@Model.AddInMeta.Version</strong>
                            </p>
                        }
                    </div>
                    <div class="block box">
                        <div class="container">
                            <div class="common-form">
                                <table>
                                    <tr>
                                        <th>@("Add-in ID".Localize())</th>
                                        <td><strong>@Model.AddInMeta.Id</strong></td>
                                    </tr>
                                    <tr>
                                        <th>@("Version".Localize())</th>
                                        <td><strong>@Model.AddInMeta.Version</strong></td>
                                    </tr>
                                    <tr>
                                        <th>@("Target Commerce version".Localize())</th>
                                        <td><strong></strong></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    @if (Model.AssemblyConflicts.Count > 0)
                    {
                        <div class="content">
                            <p>@("Some assembly files are conflicted:".Localize())</p>
                        </div>
                        <div class="simple-table">
                            <table>
                                <thead>
                                    <tr>
                                        <th>@("Assembly file".Localize())</th>
                                        <th>@("System version".Localize())</th>
                                        <th>@("Add-in version".Localize())</th>
                                        <th>@("Solution".Localize())</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var conflict in Model.AssemblyConflicts)
                                    {
                                        var defaultSolution = Model.AssemblyConflictSolutions.FirstOrDefault(x => x.AssemblyName == conflict.AssemblyName);
                                        
                                        <tr>
                                            <td>@conflict.AssemblyName</td>
                                            <td>@conflict.CurrentVersion</td>
                                            <td>@conflict.NewVersion</td>
                                            <td>
                                                @(defaultSolution.Override ? "Use Add-in version" : "Use system version")
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        }
    }
</div>
<script>
    $(function () {
        $('input[name="AddInFile"]').change(function () {
            if ($(this).val() != '') {
                //window.leaveConfirm.unbind();
                this.form.submit();
            }
        });
    })
</script>
