@model Kooboo.CMS.Sites.DataSource.DataSourceSetting

<div class="block common-form" id="facets-datasource-main">
    <table>
        <tr>
            <th>@("Facets".Localize())</th>
            <td>
                <div>
                    <select class="medium" data-bind="options: UnaddedFacetDefinitions, optionsText: 'Name', optionsValue: 'Name', value: SelectedFacetName"></select>
                    <a href="#" data-bind="click: AddSelectedFacet">
                        @Html.IconImage("plus")
                    </a>
                </div>
                <div data-bind="visible: DataSource.Facets().length > 0" style="display:none;margin-top:10px" class="simple-table">
                    <table>
                        <thead>
                            <tr>
                                <th>@("Name".Localize())</th>
                                <th>@("Ranges".Localize())</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: DataSource.Facets">
                            <tr>
                                <td>
                                    <span data-bind="text: Name"></span>
                                    <input type="hidden" data-bind="attr: { name: $root.GetFacetHtmlName($index(), 'Name') }, value: Name" />
                                </td>
                                <td>
                                    <span data-bind="visible: !Ranges() || Ranges().length === 0">-</span>
                                    <div data-bind="visible: Ranges() && Ranges().length > 0">
                                        <div data-bind="foreach: Ranges">
                                            <div data-bind="visible: !IsEditing()">
                                                <span data-bind="text: Label() ? Label() : $root.BuildRangeExpression($data)"></span>
                                                <a href="#" data-bind="click: $root.EditRange.bind($data, $parent)" style="display:inline-block">@Html.IconImage("edit small")</a>
                                                <!-- ko if: $parent.Ranges().length > 1 -->
                                                <a href="#" data-bind="click: $root.RemoveRange.bind($data, $parent)" style="display:inline-block">@Html.IconImage("minus small")</a>
                                                <!-- /ko -->

                                                <input type="hidden" data-bind="attr: { name: $root.GetFacetRangeHtmlName($parentContext.$index(), $index(), 'Label') }, value: Label" />
                                                <input type="hidden" data-bind="attr: { name: $root.GetFacetRangeHtmlName($parentContext.$index(), $index(), 'FromValue') }, value: FromValue" />
                                                <input type="hidden" data-bind="attr: { name: $root.GetFacetRangeHtmlName($parentContext.$index(), $index(), 'FromInclusive') }, value: FromInclusive() ? 'true' : 'false'" />
                                                <input type="hidden" data-bind="attr: { name: $root.GetFacetRangeHtmlName($parentContext.$index(), $index(), 'ToValue') }, value: ToValue" />
                                                <input type="hidden" data-bind="attr: { name: $root.GetFacetRangeHtmlName($parentContext.$index(), $index(), 'ToInclusive') }, value: ToInclusive() ? 'true' : 'false'" />
                                            </div>
                                            <div class="common-form" data-bind="visible: IsEditing" style="margin-top:10px">
                                                <table>
                                                    <tr>
                                                        <th>@("Label".Localize())</th>
                                                        <td>
                                                            <input type="text" class="small" data-bind="value: Label, attr: { name: 'EditedRangeLabel' + $index() }"
                                                                   data-val="true" data-val-required="@("Required".Localize())" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>@("From value".Localize())</th>
                                                        <td>
                                                            <input type="text" class="small" data-bind="value: FromValue, attr: { name: 'EditedRangeFromValue' + $index() }" />
                                                            <input type="checkbox" value="true" data-bind="checked: FromInclusive, attr: { name: 'EditedRangeFromInclusive' + $index(), id: 'EditedRangeFromInclusive' + $index() }" title="@("From value inclusive".Localize())" />
                                                            <label class="inline" data-bind="attr: { 'for': 'EditedRangeFromInclusive' + $index() }">@("Inclusive".Localize())</label>
                                                            <em class="tip">@("Leave empty for unlimited lower bound".Localize())</em>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>@("To value".Localize())</th>
                                                        <td>
                                                            <input type="text" class="small" data-bind="value: ToValue, attr: { name: 'EditedRangeToValue' + $index() }" />
                                                            <input type="checkbox" value="true" data-bind="checked: ToInclusive, attr: { name: 'EditedRangeToInclusive' + $index(), id: 'EditedRangeToInclusive' + $index() }" title="@("To value inclusive".Localize())" />
                                                            <label class="inline" data-bind="attr: { 'for': 'EditedRangeToInclusive' + $index() }">@("Inclusive".Localize())</label>
                                                            <em class="tip">@("Leave empty for unlimited upper bound".Localize())</em>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th></th>
                                                        <td>
                                                            <a href="#" class="button" data-bind="click: $root.CommitRangeEditing.bind($data, $parent)">@("Save".Localize())</a>
                                                            <a href="#" class="button gray" data-bind="visible: CanCancelEditing, click: $root.CancelRangeEditing.bind($data, $parent)">@("Cancel".Localize())</a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div style="margin-top:10px">
                                            <a href="#" data-bind="click: $root.AddRange">@Html.IconImage("plus small")</a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <a href="#" data-bind="click: $root.RemoveFacet">@Html.IconImage("minus")</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>
    <fieldset>
        <legend class="clickable">@Html.IconImage("arrow") @("Advanced".Localize())</legend>
        <div style="padding-top:10px">
            <table>
                <tr>
                    <th>@("Filters".Localize())</th>
                    <td>
                        <div>
                            <select class="medium" data-bind="options: UnaddedFilterDefinitions, optionsText: 'Field', optionsValue: 'Field', value: SelectedFilterName"></select>
                            <a href="#" data-bind="click: AddSelectedFilter">
                                @Html.IconImage("plus")
                            </a>
                        </div>
                        <div data-bind="foreach: DataSource.Filters">
                            <div style="margin: 10px 0;border-bottom:#ddd 1px dashed;padding: 5px 0;">
                                <div style="margin-bottom:10px">
                                    <strong data-bind="text: Field"></strong>
                                    <input type="hidden" data-bind="attr: { name: $root.GetFilterHtmlName($index(), 'Field') }, value: Field" />
                                </div>
                                <div style="margin:10px 0;" data-bind="visible: $root.IsRangeFilteringSupported(Field())" class="clearfix">
                                    <input type="checkbox" value="true" data-bind="attr: { id: $root.GetFilterHtmlId($index(), 'UseRangeFiltering'), name: $root.GetFilterHtmlName($index(), 'UseRangeFiltering') }, checked: UseRangeFiltering" />
                                    <label class="inline" data-bind="attr: { 'for': $root.GetFilterHtmlId($index(), 'UseRangeFiltering') }">@("Use range filtering".Localize())</label>
                                </div>
                                <div data-bind="visible: UseRangeFiltering" class="common-form">
                                    <table>
                                        <tr>
                                            <th>@("From value".Localize())</th>
                                            <td>
                                                <input type="text" class="small" data-bind="value: FromValue, attr: { name: $root.GetFilterHtmlName($index(), 'FromValue') }" />
                                                <input type="checkbox" value="true" data-bind="attr: { id: $root.GetFilterHtmlId($index(), 'FromInclusive'), name: $root.GetFilterHtmlName($index(), 'FromInclusive') }, checked: FromInclusive" />
                                                <label data-bind="attr: { 'for': $root.GetFilterHtmlId($index(), 'FromInclusive') }">@("Inclusive".Localize())</label>
                                                <em class="tip">@("Leave empty for unlimited lower bound".Localize())</em>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>@("To value".Localize())</th>
                                            <td>
                                                <input type="text" class="small" data-bind="value: ToValue, attr: { name: $root.GetFilterHtmlName($index(), 'ToValue') }" />
                                                <input type="checkbox" value="true" data-bind="attr: { id: $root.GetFilterHtmlId($index(), 'ToInclusive'), name: $root.GetFilterHtmlName($index(), 'ToInclusive') }, checked: ToInclusive" />
                                                <label data-bind="attr: { 'for': $root.GetFilterHtmlId($index(), 'ToInclusive') }">@("Inclusive".Localize())</label>
                                                <em class="tip">@("Leave empty for unlimited upper bound".Localize())</em>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div data-bind="visible: !UseRangeFiltering()" class="common-form">
                                    <table>
                                        <tr>
                                            <th>@("Value".Localize())</th>
                                            <td>
                                                <input type="text" class="medium" data-bind="attr: { name: $root.GetFilterHtmlName($index(), 'FieldValue') }, value: FieldValue" />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </fieldset>
</div>

@Html.Partial("~/Areas/Kooboo.Commerce.Search/Views/DataSource/Facets.Scripts.cshtml")