@model Kooboo.CMS.Sites.DataSource.DataSourceSetting

<div class="block common-form" id="product-indexes-datasource">
    <table>
        <tr>
            <th>@("Filters".Localize())</th>
            <td>
                <div>
                    <select class="medium" data-bind="options: UnaddedFilterDefinitions, optionsText: 'Name', optionsValue: 'Name', value: SelectedFilterName"></select>
                    <a href="#" data-bind="click: AddSelectedFilter">
                        @Html.IconImage("plus")
                    </a>
                </div>
                <div data-bind="foreach: DataSource.Filters">
                    <div style="margin: 10px 0;border-bottom:#ddd 1px dashed;padding: 5px 0;">
                        <div style="margin-bottom:10px">
                            <strong data-bind="text: Name"></strong>
                            <input type="hidden" data-bind="attr: { name: $root.GetFilterHtmlName($index(), 'Name') }, value: Name" />
                            <input type="hidden" data-bind="attr: { name: $root.GetFilterHtmlName($index(), 'Field') }, value: Field" />
                            <input type="hidden" data-bind="attr: { name: $root.GetFilterHtmlName($index(), 'LowercaseInput') }, value: LowercaseInput() ? 'true' : 'false'" />
                            
                            <a style="float:right" data-bind="click: $root.RemoveFilter">
                                @Html.IconImage("minus small")
                            </a>
                        </div>
                        <div style="margin:10px 0;" data-bind="visible: $root.IsRangeFilteringSupported(Field())" class="clearfix">
                            <input type="checkbox" value="true" data-bind="attr: { id: $root.GetFilterHtmlId($index(), 'UseRangeFiltering'), name: $root.GetFilterHtmlName($index(), 'UseRangeFiltering') }, checked: UseRangeFiltering" />
                            <label class="inline" data-bind="attr: { 'for': $root.GetFilterHtmlId($index(), 'UseRangeFiltering') }">@("Use range filtering".Localize())</label>
                        </div>
                        <div data-bind="visible: UseRangeFiltering" class="common-form">
                            <table>
                                <tr>
                                    <th>@("From value".Localize())</th>
                                    <td>
                                        <input type="text" class="small" data-bind="value: FromValue, attr: { name: $root.GetFilterHtmlName($index(), 'FromValue') }" />
                                        <input type="checkbox" value="true" data-bind="attr: { id: $root.GetFilterHtmlId($index(), 'FromInclusive'), name: $root.GetFilterHtmlName($index(), 'FromInclusive') }, checked: FromInclusive" />
                                        <label data-bind="attr: { 'for': $root.GetFilterHtmlId($index(), 'FromInclusive') }">@("Inclusive".Localize())</label>
                                        <em class="tip">@("Leave empty for unlimited lower bound".Localize())</em>
                                    </td>
                                </tr>
                                <tr>
                                    <th>@("To value".Localize())</th>
                                    <td>
                                        <input type="text" class="small" data-bind="value: ToValue, attr: { name: $root.GetFilterHtmlName($index(), 'ToValue') }" />
                                        <input type="checkbox" value="true" data-bind="attr: { id: $root.GetFilterHtmlId($index(), 'ToInclusive'), name: $root.GetFilterHtmlName($index(), 'ToInclusive') }, checked: ToInclusive" />
                                        <label data-bind="attr: { 'for': $root.GetFilterHtmlId($index(), 'ToInclusive') }">@("Inclusive".Localize())</label>
                                        <em class="tip">@("Leave empty for unlimited upper bound".Localize())</em>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div data-bind="visible: !UseRangeFiltering()" class="common-form">
                            <table>
                                <tr>
                                    <th>@("Value".Localize())</th>
                                    <td>
                                        <input type="text" class="medium" data-bind="attr: { name: $root.GetFilterHtmlName($index(), 'FieldValue') }, value: FieldValue" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <fieldset>
        <legend class="clickable">@Html.IconImage("arrow") @("Advanced".Localize())</legend>
        <div style="padding-top:10px">
            <table>
                <tr>
                    <th>@("Sort field".Localize())</th>
                    <td>
                        <input type="text" name="DataSource.CommerceDataSource.SortField" data-bind="value: DataSource.SortField" />
                        <em class="tip">
                            @("Use + prefix for asc sorting, or use - prefix for desc sorting. Leave empty to use default sorting (by relevance).");
                        </em>
                    </td>
                </tr>
                <tr>
                    <th>@("Page size".Localize())</th>
                    <td>
                        <input type="text" name="DataSource.CommerceDataSource.PageSize" data-bind="value: DataSource.PageSize" />
                    </td>
                </tr>
                <tr>
                    <th>@("Page number".Localize())</th>
                    <td>
                        <input type="text" name="DataSource.CommerceDataSource.PageNumber" data-bind="value: DataSource.PageNumber" />
                    </td>
                </tr>
            </table>
        </div>
    </fieldset>        
</div>

@Html.Partial("~/Areas/Kooboo.Commerce.Search/Views/DataSource/ProductIndexes.Scripts.cshtml")