@using Kooboo.Commerce.API;
@using Kooboo.Commerce.API.CmsSite;
@using Kooboo.Commerce.API.Products;
@{
    var id = Page_Context.Current.PageRequestContext.AllQueryString["id"]; ;
    Product product = null;
    if(id != null)
    { 
        product = Site.Current.Commerce().Products.ById(Convert.ToInt32(id)).LoadWithBrand().LoadWithProductType().LoadWithPriceList().LoadWithImages().FirstOrDefault();
    }
}
@if(product == null)
{
    <h2>@("Cannot find product".Localize())</h2>
}
else 
{
    var img = product.Images.FirstOrDefault(m => m.ImageSizeName.ToLower() == "detail");
    <div>
        <img src="@(img == null ? "" : img.ImageUrl)" />
    </div>
    <form id="buyForm" action="@Url.FrontUrl().SubmissionUrl("addToCart")" method="post">
        @AntiForgery.GetHtml()
        <div>
            <h2>@product.Name</h2>
            <h5>@product.Brand.Name</h5>
            <h5>@product.Type.Name</h5>
            <h4 id="price">@product.PriceList.Min(p => p.PurchasePrice) - @product.PriceList.Max(p => p.PurchasePrice)</h4>
            <ul>
                @foreach (var price in product.PriceList)
                {
                    var variants = string.Join("/", price.VariantValues.Select(v => string.Format("[{0}:{1}]", v.CustomField.Name, v.FieldValue)));
                    <li><input type="radio" name="productPriceId" value="@price.Id" onchange="$('#price').text('@price.PurchasePrice')" /><span>@price.Sku</span>(<span>@variants</span>)</li>
                }
            </ul>
        </div>
        <div>
            <span>Quantity:</span><input type="text" name="quantity" /><button>@("Add to Cart".Localize())</button>
        </div>
    </form>
    <script type="text/javascript">
        $(function () {
            $('#buyForm').ajaxForm({
                success: function (response, status, xhr, ele) {
                    alert(response.Messages[0]);
                }
            });
        });
    </script>
}
