<form class="common-form" id="change-saving-points-activity-form">
    <table>
        <tbody>
            <tr>
                <th>@("Action".Localize())</th>
                <td>
                    <select name="Action" data-bind="value: action">
                        <option value="Increase">@("Increase".Localize())</option>
                        <option value="Decrease">@("Decrease".Localize())</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>@("Amount".Localize())</th>
                <td>
                    <input type="text" name="Amount" data-bind="value: amount"
                           data-val="true"
                           data-val-required="@("Required".Localize())"
                           data-val-digits="@("Please enter an integer".Localize())" />
                    <span data-valmsg-for="Amount" data-valmsg-replace="true"></span>
                </td>
            </tr>
        </tbody>
    </table>
</form>

<script>
    $(function () {

        var $form = $('#change-saving-points-activity-form');
        var editor = ActivityEditor.current();
        var model = new ViewModel();

        editor.on('databound', function (sender, args) {
            ko.applyBindings(model, $form[0]);

            $.validator.unobtrusive.reparse($form);

            var config = editor.activityConfig();
            if (config) {
                ko.mapping.fromJS(config, {}, model);
            }
        });

        editor.on('saving', function (sender, args) {
            if (!$form.valid()) {
                args.cancel = true;
            } else {
                var config = ko.mapping.toJS(model);
                editor.activityConfig(config);
            }
        });

        function ViewModel() {
            var self = this;

            self.action = ko.observable('Increase');

            self.amount = ko.observable();
        }
    });
</script>
