@model ShippingMethod
@{
    Layout = "~/Areas/Commerce/Views/Shared/Blank.cshtml";

    if (String.IsNullOrEmpty(ViewBag.Title as string))
    {
        ViewBag.Title = "Shipping method".Localize();
    }

    var methodId = Model.Id;
    var shippingRateProvider = ViewBag.ShippingRateProvider as IShippingRateProvider;
    var editor = shippingRateProvider.GetEditor();
}

@section Panel {
    @Html.HeaderPanel().Buttons(buttons =>
    {
        buttons.AddCancelButton();
    })
}

@Html.Partial("ShippingRateProvider.Scripts")

<div class="block">
    @Html.Action("Steps", "ShippingMethod", new { area = "Commerce", step = 2 })

    @Html.Partial(editor.VirtualPath)

    <div class="wizard-buttons">
        <a class="button gray" href="@Url.Action("BasicInfo", "ShippingMethod", RouteValues.From(Request.QueryString).Merge("area", "Commerce").Merge("id", methodId))">&laquo; @("Back".Localize())</a>
        <a class="button btn-next">@("Next".Localize()) &raquo;</a>
    </div>
</div>
