<div class="wizard">
    <div class="container">
        <span class="active">@("Basic info".Localize())<b></b></span>
        <span class="@(ViewBag.Step > 1 ? "active" : "")">@("Settings".Localize())<b></b></span>
        <span class="@(ViewBag.Step > 2 ? "active" : "")">@("Complete".Localize())<b></b></span>
    </div>
</div>