<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @Html.FrontHtml().HtmlTitle()
    @Html.FrontHtml().Meta()
    @Html.FrontHtml().RegisterStyles()
    @Html.FrontHtml().RegisterScripts()
</head>
<body>
    @Html.FrontHtml().RenderView("Header")
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                @Html.FrontHtml().Position("Sidebar")
            </div>
            <div class="col-sm-10">
                @Html.FrontHtml().Position("Main")
            </div>
        </div>
    </div>
</body>
</html>