<form class="common-form" id="invoice-reminder-config-form">
    <table>
        <tbody>
            <tr>
                <th>@("Receivers".Localize())</th>
                <td>
                    <input type="text" data-bind="value: receivers" />
                    <em class="tip">
                        Comma separated email list. Use <code>{Customer}</code> as the placeholder for customer email
                    </em>
                </td>
            </tr>
            <tr>
                <th>@("Subject Template".Localize())</th>
                <td>
                    <input type="text" data-bind="value: subjectTemplate" />
                </td>
            </tr>
            <tr>
                <th>@("Body Template".Localize())</th>
                <td>
                    <textarea data-bind="value: bodyTemplate"></textarea>
                </td>
            </tr>
        </tbody>
    </table>
</form>

<script>
    $(function () {

        var editor = ActivityEditor.current();
        var model = new InvoiceReminderConfigModel();
        var ruleId = editor.model().ruleId();

        editor.on('databound', function (sender, args) {
            ko.applyBindings(model, document.getElementById('invoice-reminder-config-form'));

            var attachedActivityInfoId = editor.model().attachedActivityInfoId();
            if (attachedActivityInfoId) {
                var url = '@Url.Action("GetConfig", "OrderReminder", new { area = Strings.AreaName })';
                return $.get(url + '?ruleId=' + ruleId + '&attachedActivityInfoId=' + attachedActivityInfoId)
                        .then(function (data) {
                            ko.mapping.fromJS(data, {}, model);
                        });
            }
        });

        editor.on('saving', function (sender, args) {
        });

        editor.on('saved', function (sender, args) {
            var attachedActivityId = editor.model().attachedActivityInfoId();
            var url = '@Url.Action("SaveConfig", "OrderReminder", new { area = Strings.AreaName })';
            return kb.http.safePost(url + '?ruleId=' + ruleId + '&attachedActivityInfoId=' + attachedActivityId, ko.mapping.toJS(model));
        });

        function InvoiceReminderConfigModel() {

            this.receivers = ko.observable();
            
            this.subjectTemplate = ko.observable();

            this.bodyTemplate = ko.observable();
        }
    });
</script>