<div class="hide">
    <div id="conditions-dialog">
        <div class="topbar">
            <h1 class="title">@("Rule Conditions".Localize())</h1>
        </div>
        <div class="wrap">
            @Html.Partial("_ConditionsEditor")
        </div>
        <div class="buttons">
            <a href="#" class="button gray right btn-cancel-condition-dialog">@("Cancel".Localize())</a>
            <a href="#" class="button right btn-submit-condition-dialog">@("Save".Localize())</a>
        </div>
    </div>
</div>

@Html.Partial("_ConditionsDialog.Scripts")