@*@model IEnumerable<CustomFieldEditorModel>*@
@{
    var createButtonText = (string)ViewData["CreateButtonText"];
    if (string.IsNullOrEmpty(createButtonText))
    {
        createButtonText = "Create field".Localize();
    }
    var fieldType = ViewData.ContainsKey("FieldType") ? Convert.ToInt32(ViewData["FieldType"]) : 0;
}
<div class="simple-table">
    <div class="toolbar">
        @if (fieldType == 0)
        {
            <div class="button dropdown">
                <span>@("Add a field".Localize())</span>
                @Html.IconImage("sprite")
                <ul>
                    <li><a data-bind="click:addField">@("New field".Localize())</a></li>
                    <li><a data-bind="click:addSystemField">@("Predefined field".Localize())</a></li>
                </ul>
            </div>
        }
        else
        {
            <a class="button" data-bind="click:addField">@("Add a field".Localize())</a>
        }
    </div>
    <div id="grid-field">
        <div id="grid-field-template">
            <table data-bind="jqData:$data">
                <thead>
                    <tr>
                        <th class="nocheckbox"></th>
                        <th>@("Name".Localize())</th>
                        <th>@("Label".Localize())</th>
                        <th>@("Control type".Localize())</th>
                        <th>@("Field type".Localize())</th>
                        <th>@("Sequence".Localize())</th>
                        <th class="action"></th>
                    </tr>
                </thead>
                <tbody class="ui-sortable">
                    <!--ko if:!$data.fields().length-->
                    <tr class="empty">
                        <td colspan="100">@("Empty".Localize())</td>
                    </tr>
                    <!--/ko-->
                    <!--ko foreach:$data.fields-->
                    <!--ko template: { name: 'custom_field_row_template' }--><!--/ko-->
                    <!--/ko-->
                </tbody>
            </table>
        </div>
    </div>
</div>
@if (fieldType == 0)
{
    <div id="custom_system_field_editor_dialog" class="hide">
        @Html.Partial("_CustomSystemFiledEditor")
    </div>
}