@*@model IEnumerable<CustomFieldEditorModel>*@
@{
    var createButtonText = (string)ViewData["CreateButtonText"];
    if (string.IsNullOrEmpty(createButtonText))
    {
        createButtonText = "Create field".Localize();
    }
    var fieldType = ViewData.ContainsKey("FieldType") ? Convert.ToInt32(ViewData["FieldType"]) : 0;
}
<div class="simple-table">
    <div class="toolbar">
        <a class="button" data-bind="click:addField">@createButtonText</a>
        @if (fieldType == 0) { 
        <a class="button" data-bind="click:addSystemField">@("Add System Fields".Localize())</a>
        }
    </div>
    <div id="grid-field">
        <div id="grid-field-template">
            <table data-bind="jqData:$data">
                <thead>
                    <tr>
                        <th class="nocheckbox"></th>
                        <th>@("Name".Localize())</th>
                        <th>@("Label".Localize())</th>
                        <th>@("Control type".Localize())</th>
                        <th>@("Content list page".Localize())</th>
                        <th>@("Field type".Localize())</th>
                        <th>@("Sequence".Localize())</th>
                        <th class="action">@("Delete".Localize())</th>
                    </tr>
                </thead>
                <tbody class="ui-sortable">
                    <!--ko if:!$data.fields().length-->
                    <tr class="empty">
                        <td colspan="100">@("Empty".Localize())</td>
                    </tr>
                    <!--/ko-->
                    <!--ko foreach:$data.fields-->
                    <!--ko template: { name: 'custom_field_row_template' }--><!--/ko-->
                    <!--/ko-->
                </tbody>
            </table>
        </div>
    </div>
</div>
@if (fieldType == 0)
{
    <div id="systemFields" class="simple-table" style="display: none;">
        <table data-bind="jqData:$data">
            <thead>
                <tr>
                    <th class="checkbox">
                        <input type="checkbox" onchange="$(this).closest('#systemFields').find('tbody input:checkbox').prop('checked', $(this).prop('checked'));" />
                    </th>
                    <th>@("Name".Localize())</th>
                    <th>@("Label".Localize())</th>
                    <th>@("Control type".Localize())</th>
                </tr>
            </thead>
            <tbody>
                <!--ko if:!$data.systemFields().length-->
                <tr class="empty">
                    <td colspan="100">@("Empty".Localize())</td>
                </tr>
                <!--/ko-->
                <!--ko foreach:$data.systemFields-->
                <tr>
                    <td class="checkbox">
                        <input type="checkbox" data-bind="value: Id" />
                    </td>
                    <td data-bind="text:Name"></td>
                    <td data-bind="text:((Label()==''||Label()==null)?'-':Label)"></td>
                    <td data-bind="text:ControlType"></td>
                </tr>
                <!--/ko-->
            </tbody>
        </table>
    </div>
}