@model IEnumerable<dynamic>
@{
    var getUrl = ViewData["GetExtendedParametersUrl"];
    var saveurl = ViewData["SaveExtendedParametersUrl"];
    var executeurl = ViewData["ExecuteQueryUrl"];
}

<div class="more-search common-form hide">
    <h6>@("Extended Query".Localize())</h6>
    <p class="field">
        <select onchange="ChangeQuery(this);">
            @foreach (var q in Model)
            {
                <option value="@q.Name">@(q.Title)</option>
            }
        </select>
    </p>
    <div id="extendedQueryParameterDiv" class="addition" data-bind="with: data">
        <p class="description" data-bind="text: Query().Description"></p>
        <table>
            <tbody data-bind="foreach: Parameters">
                <tr>
                    <th data-bind="text: Name"></th>
                    <td>
                        <input type="text" data-bind="value: Value" />
                        <em class="tip" data-bind="text: Description"></em>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="buttons">
        <a class="button blue" onclick="ApplyQuery();">Apply</a>
        <a class="button gray" onclick="$('div.search-panel').find('div.more-search').slideUp();">Cancel</a>
    </div>
</div>

<script type="text/javascript">
    utils.showMessage = function (title, message, level, funcClose) {
        info.show(message, (level || 'info') == 'info');
    };
    var vmEQP;
    $(function () {
        (function () {
            var searchPanel = $('div.search-panel');
            panel = searchPanel.find('div.more-search');
            moreLink = searchPanel.find('a.more').click(function () {
                if (panel.is(':visible')) {
                    $(this).removeClass('active');
                    panel.slideUp();
                } else {
                    $(this).addClass('active');
                    panel.slideDown();
                }
            });
            searchPanel.find('.cancel').click(function () {
                searchPanel.find('a.more').click();
            });
        })();

        vmEQP = new ObjectModel({
            getQueryUrl: function (self) {
                return '@(getUrl)?siteName=@Request.QueryString["siteName"]&commerceName=@(Request.QueryString["commerceName"])&name=' + self.Name();
            },
            getSaveUrl: function (self) {
                return '@(saveurl)?siteName=@Request.QueryString["siteName"]&commerceName=@(Request.QueryString["commerceName"])&name=' + self.Name();
            },
            onSaveSuccess: function (self, info) {
                var name = self.Name();
                var url = '@(executeurl)?siteName=@Request.QueryString["siteName"]&commerceName=@Request.QueryString["commerceName"]&name=' + name;
                window.location.href = url;
            },
            onInit: function (self) {
                self.Name = ko.observable(null);
            },
            beforeSave: function (self, data) {
                return data.Parameters;
            }
        });

        ko.applyBindings(vmEQP, document.getElementById('extendedQueryParameterDiv'));
        $('.more-search p.field select').trigger('change');
    });

    function ChangeQuery(ele) {
        var name = $(ele).find('option:selected').val();
        vmEQP.Name(name);
        vmEQP.getData();
    }

    function ApplyQuery() {
        vmEQP.saveData();
    }
</script>
