@model Kooboo.Commerce.Web.Areas.Commerce.Models.Queries.QueryGridModel

<div id="list-tabs">
    <ul>
        @for (var i = 0; i < Model.AllQueryInfos.Count; i++)
        {
            var queryInfo = Model.AllQueryInfos[i];

            <li data-normal-link="true" data-query-name="@queryInfo.Query.Name" data-index="@i">
                <a href="#@queryInfo.Query.Name" data-href="@Url.Action("Index", RouteValues.From(Request.QueryString).Merge("queryName", queryInfo.Query.Name))">
                    @queryInfo.GetDisplayName()
                    @if (queryInfo.Query.ConfigType != null)
                    {
                        <span class="action" data-toggle="configure-query" title="@("Setting".Localize())">@Html.IconImage("setting-small-gray")</span>
                    }
                </a>
            </li>
        }
    </ul>
    <div id="@Model.CurrentQueryInfo.Query.Name">
        @Html.GridFor2(Model.CurrentQueryInfo.Query.ResultType as Type, Model.CurrentQueryResult as System.Collections.IEnumerable, "_Grid2.SimpleTable")

        <div class="pagination right">
            @Html.Pager(Model.CurrentQueryResult as IPagedList, null, null, null, "", ViewContext.RequestContext.AllRouteValues(), null)
        </div>
    </div>
</div>

@Html.Partial("_QueryConfigDialog")
<script>
    $(function () {
        var $tabs = $('#list-tabs');

        $tabs.tabs({
            active: $tabs.find('li[data-query-name="@Model.CurrentQueryInfo.Query.Name"]').data('index'),
            beforeActivate: function (event, ui) {
                var href = $(ui.newTab).find('a').data('href');
                if (href) {
                    location.href = href;
                }
            }
        });

        $('[data-toggle="configure-query"]').click(function () {
            var $li = $(this).closest('li');

            QueryConfigDialog.instance().open({
                queryName: $li.data('query-name'),
                onSubmitted: function () {
                    if ($tabs.tabs('option', 'active') == $li.data('index')) {
                        setTimeout(function () {
                            window.leaveConfirm.pass();
                            location.href = location.href;
                        }, 1000)
                    }
                }
            });

            return false;
        });
    });
</script>