@{
    var plugins = ViewData["LoadedTabPlugins"] as IEnumerable<LoadedTabPlugin>;
}

@if (plugins != null)
{
    foreach (var each in plugins)
    {
        each.Context.ViewBag.ModelType = each.TabPlugin.ModelType;

        var viewVirtualPath = "_DefaultTabPluginView";
        if (!String.IsNullOrEmpty(each.TabPlugin.VirtualPath))
        {
            viewVirtualPath = each.TabPlugin.VirtualPath;
        }

        <div class="tab-content tab-plugin" data-name="@each.TabPlugin.Name" id="@each.TabPlugin.Name">
            <form>
                <input type="hidden" name="PluginType" value="@each.TabPlugin.GetType().AssemblyQualifiedName" />
                <input type="hidden" name="BindingType" value="@each.TabPlugin.ModelType.AssemblyQualifiedName" />
                @Html.Partial(viewVirtualPath, each.Context.Model, each.Context.ViewData)
            </form>
        </div>
    }
}