@model IEnumerable<IGrouping<string, ResourceModel>>
@{
    ViewBag.Title = "HAL API".Localize();
}

<div class="common-table">
    <table>
        <thead>
            <tr>
                <th>@("Resource Name".Localize())</th>
                <th>@("URI".Localize())</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var group in Model)
            {
                <tr>
                    <td class="common">
                        <span class="expander" data-key="@group.Key" data-toggle="toggle-children" data-state="close">@Html.IconImage("sprite")</span>
                        <span data-key="@group.Key" data-toggle="toggle-children" data-state="close">@group.Key</span>
                    </td>
                    <td></td>
                </tr>
                foreach (var item in group)
                {
                    <tr data-type="child" data-parent="@group.Key" style="display:none">
                        <td style="padding-left:38px">
                            <a href="@Url.Action("Detail", new { resourceName = item.ResourceName, @return = Request.RawUrl })">@item.ResourceName</a>
                        </td>
                        <td>
                            @item.ResourceUri
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<script>
    $(function () {
        $('[data-toggle="toggle-children"]').click(function () {
            var $trigger = $(this);
            var state = $trigger.data('state');
            var key = $trigger.data('key');
            var $children = $('tr[data-parent="' + key + '"]');

            if (state == 'open') {
                $children.hide();
                $trigger.removeClass('active');
                $trigger.data('state', 'close');
            } else {
                $children.show();
                $trigger.addClass('active');
                $trigger.data('state', 'open');
            }
        });
    })
</script>