@using Kooboo.Commerce.Customers
@model CustomerEditorModel
@{
    ViewBag.Title = (string.IsNullOrEmpty(Request.QueryString["Id"]) ? "Create Customer" : "Edit Customer").Localize();
    Layout = "~/Areas/Commerce/Views/Shared/Blank.cshtml";
}

@section Panel {
    @Html.HeaderPanel().Buttons(buttons =>
    {
        buttons.Add("Save", "save", "javascript:submitForm();");
        buttons.AddTopbarCommands(ViewBag.ToolbarCommands as IEnumerable<ITopbarCommand>, typeof(Customer), Model.Id);
        buttons.AddBackButton();
    })
}

<div class="block">
    <form id="customer-form">
        <div id="J_CustomerTabs">
            <ul>
                <li>
                    <a href="#profile">
                        @("Profile".Localize())
                    </a>
                </li>
                <li>
                    <a href="#address">
                        @("Addresses".Localize())
                    </a>
                </li>
                <li>
                    <a href="#customFields">
                        @("Custom Fields".Localize())
                    </a>
                </li>
            </ul>
            <div id="profile" class="common-form">
                <table>
                    <tbody>
                        <tr>
                            <th>@("Group".Localize())</th>
                            <td>
                                <input data-bind="value:group" type="text" class="medium" maxlength="50" name="Group" />
                            </td>
                        </tr>
                        <tr>
                            <th>@("Email".Localize())</th>
                            <td>
                                <input data-bind="value:email" type="text" class="medium" name="Email"
                                       data-val="true"
                                       data-val-required="@("Required".Localize())"
                                       data-val-email="@("Invalid email format".Localize())" />
                                <span data-valmsg-for="Email" data-valmsg-replace="true"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>@("First name".Localize())</th>
                            <td>
                                <input data-bind="value:firstName" type="text" class="medium" name="FirstName"
                                       data-val="true"
                                       data-val-required="@("Required".Localize())" />
                                <span data-valmsg-for="FirstName" data-valmsg-replace="true"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>@("Last name".Localize())</th>
                            <td>
                                <input data-bind="value:lastName" type="text" class="medium" name="LastName" />
                                <span data-valmsg-for="LastName" data-valmsg-replace="true"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>@("Gender".Localize())</th>
                            <td>
                                <ul class="form-list">
                                    <li>
                                        <input type="radio" name="Gender" id="Gender_Unknown" value="Unknown" data-bind="checked: gender">
                                        <label class="inline" for="Gender_Unknown">@("Unknown".Localize())</label>
                                    </li>
                                    <li>
                                        <input type="radio" name="Gender" id="Gender_Male" value="Male" data-bind="checked: gender">
                                        <label class="inline" for="Gender_Male">@("Male".Localize())</label>
                                    </li>
                                    <li>
                                        <input type="radio" name="Gender" id="Gender_Female" value="Female" data-bind="checked: gender">
                                        <label class="inline" for="Gender_Female">@("Female".Localize())</label>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>@("Saving Points".Localize())</th>
                            <td>
                                <input data-bind="value:savingPoints" type="text" class="medium" name="SavingPoints"
                                       data-val="true"
                                       data-val-required="@("Required".Localize())"
                                       data-val-digits="@("Saving points should be digits".Localize())" />
                                <span data-valmsg-for="SavingPoints" data-valmsg-replace="true"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="address">
                <div class="simple-table">
                    <div class="toolbar">
                        <a class="button" href="javascript:;" data-bind="click: $root.addAddress">@("Add".Localize())</a>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>@("First name".Localize())</th>
                                <th>@("Last name".Localize())</th>
                                <th>@("Phone".Localize())</th>
                                <th>@("Address".Localize())</th>
                                <th class="action"></th>
                                <th class="action"></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: addresses">
                            <tr>
                                <td data-bind="text:firstName"></td>
                                <td data-bind="text:lastName"></td>
                                <td data-bind="text:phone"></td>
                                <td data-bind="text:address1"></td>
                                <td class="action"><a href="javascript:;" data-bind="click: $root.editAddress" title="@("Edit".Localize())">@Html.IconImage("edit-small")</a></td>
                                <td class="action"><a href="javascript:;" data-bind="click: $root.removeAddress" title="@("Delete".Localize())">@Html.IconImage("minus-small")</a></td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: addresses().length === 0">
                            <tr class="empty">
                                <td colspan="100">@("Empty".Localize())</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="customFields">
                <div class="simple-table">
                    <div class="toolbar">
                        <a class="button" href="javascript:;" data-bind="click: $root.addCustomField">Add</a>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>@("Name".Localize())</th>
                                <th>@("Value".Localize())</th>
                                <th class="action"></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: customFields">
                            <tr>
                                <td><input data-bind="value:name" type="text"></td>
                                <td><input data-bind="value:value" type="text"></td>
                                <td class="action"><a href="javascript:;" data-bind="click: $root.removeCustomField">@Html.IconImage("minus small")</a></td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: customFields().length === 0">
                            <tr class="empty">
                                <td colspan="100">@("Empty".Localize())</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="hide">
    <div id="address-dialog">
        <div class="topbar">
            <h1 class="title">@("Address".Localize())</h1>
        </div>
        <div class="wrap">
            <form class="common-form">
                <div>
                    <table>
                        <tbody data-bind="with: editingAddress">
                            <tr>
                                <th>@("First Name".Localize())</th>
                                <td>
                                    <input data-bind="value:firstName" type="text" class="xlarge" name="FirstName"
                                           data-val="true"
                                           data-val-required="@("Required".Localize())" />
                                    <span data-valmsg-for="FirstName" data-valmsg-replace="true"></span>
                                </td>
                            </tr>
                            <tr>
                                <th>@("Last Name".Localize())</th>
                                <td>
                                    <input data-bind="value:lastName" type="text" class="xlarge" name="LastName"
                                           data-val="true"
                                           data-val-required="@("Required".Localize())" />
                                    <span data-valmsg-for="LastName" data-valmsg-replace="true"></span>
                                </td>
                            </tr>
                            <tr>
                                <th>@("Phone".Localize())</th>
                                <td>
                                    <input data-bind="value:phone" type="text" class="xlarge" name="Phone" />
                                </td>
                            </tr>
                            <tr>
                                <th>@("Country".Localize())</th>
                                <td>
                                    <select name="Country" data-bind="options: $root.countries, optionsText: 'name', optionsValue: 'id', optionsCaption: ' ', value: countryId" class="xlarge"
                                            data-val="true"
                                            data-val-required="@("Required".Localize())"></select>
                                    <span data-valmsg-for="Country" data-valmsg-replace="true"></span>
                                </td>
                            </tr>
                            <tr>
                                <th>@("State".Localize())</th>
                                <td>
                                    <input data-bind="value:state" type="text" class="xlarge" name="State" />
                                </td>
                            </tr>
                            <tr>
                                <th>@("City".Localize())</th>
                                <td>
                                    <input data-bind="value:city" type="text" class="xlarge" name="City"
                                           data-val="true"
                                           data-val-required="@("Required".Localize())" />
                                    <span data-valmsg-for="City" data-valmsg-replace="true"></span>
                                </td>
                            </tr>
                            <tr>
                                <th>@("Postcode".Localize())</th>
                                <td>
                                    <input data-bind="value:postcode" type="text" class="xlarge" name="Postcode"
                                           data-val="true"
                                           data-val-required="@("Required".Localize())" />
                                    <span data-valmsg-for="Postcode" data-valmsg-replace="true"></span>
                                </td>
                            </tr>
                            <tr>
                                <th>@("Address1".Localize())</th>
                                <td>
                                    <input data-bind="value:address1" type="text" class="xlarge" name="Address1"
                                           data-val="true"
                                           data-val-required="@("Required".Localize())" />
                                    <span data-valmsg-for="Address1" data-valmsg-replace="true"></span>
                                </td>
                            </tr>
                            <tr>
                                <th>@("Address2".Localize())</th>
                                <td>
                                    <input data-bind="value:address2" type="text" class="xlarge" name="Address2" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p class="buttons">
                    <input type="button" class="button" onclick="viewModel.saveAddress();" value="@("OK".Localize())">
                    <a class="button gray" onclick="viewModel.cancelAddress();">@("Cancel".Localize())</a>
                </p>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    utils.showMessage = function (title, message, level, funcClose) {
        info.show(message, (level || 'info') == 'info');
    };

    $(function () {
        var AppViewModel = function () {
            var self = this;

            self.init = function () {
                $('#address-dialog').dialog({
                    modal: true,
                    autoOpen: false,
                    create: function () {
                        $(document).dialogScroll();
                    }
                });

                $.validator.unobtrusive.reparse($('#address-dialog form'));
            }

            self.countries = ko.observableArray([]);

            self.editingAddress = ko.observable(null);

            self.addAddress = function () {
                var item = {
                    id: ko.observable(),
                    firstName: ko.observable(),
                    lastName: ko.observable(),
                    address1: ko.observable(),
                    address2: ko.observable(),
                    postcode: ko.observable(),
                    countryId: ko.observable(),
                    city: ko.observable(),
                    state: ko.observable(),
                    phone: ko.observable()
                };

                item.isNew = true;

                self.addresses.push(item);
                self.editAddress(item);
            };

            self.removeAddress = function (item) {
                self.addresses.remove(item);
            };

            self.editAddress = function (item) {
                if (!item.isNew) {
                    item.memo = ko.mapping.toJS(item);
                }
                self.editingAddress(item);
                $('#address-dialog').dialog('open');
            };

            self.saveAddress = function () {
                $('#address-dialog :focus').blur();

                if (!$('#address-dialog form').valid()) {
                    return false;
                }

                var address = self.editingAddress();
                delete address.memo;
                delete address.isNew;
                $('#address-dialog').dialog("close");
            };

            self.cancelAddress = function () {
                var address = self.editingAddress();
                if (address.isNew) {
                    self.addresses.remove(address);
                } else {
                    ko.mapping.fromJS(address, {}, address.memo);
                    delete address.memo;
                }

                $('#address-dialog').dialog("close");
            }

            self.addCustomField = function () {
                var item = {
                    name: ko.observable(),
                    value: ko.observable()
                };
                self.customFields.push(item);
            };

            self.removeCustomField = function (item) {
                self.customFields.remove(item);
            };

            self.save = function () {
                if (!$('#customer-form').valid()) {
                    return false;
                }

                window.loading.show();

                $.ajax({
                    url: '@Url.Action("Save")',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(ko.mapping.toJS(self))
                })
                .done(function () {
                    window.loading.hide();
                    info.show('@("Customer is successfully saved")', true);
                    setTimeout(function () {
                        window.leaveConfirm.pass();
                        location.href = '@Html.Raw(ViewContext.RequestContext.GetRequestValue("return"))';
                    });
                })
                .fail(function (xhr) {
                    window.loading.hide();
                    info.show(JSON.parse(xhr.responseText).message, false);
                });
            }
        };

        window.viewModel = new AppViewModel();

        ko.mapping.fromJS(@Html.Raw(JsonEncoder.Encode(Model, true)), {}, viewModel);

        viewModel.init();

        $.get('@Url.Action("GetCountries")')
         .done(function (data) {
             ko.mapping.fromJS(data, {}, viewModel.countries);
             ko.applyBindings(window.viewModel);

             $('#J_CustomerTabs').tabs();
         });
    });

    window.submitForm = function () {
        $(':focus').blur();
        viewModel.save();
    }
</script>
