@model CustomerEditorModel
@{
    ViewBag.Title = (string.IsNullOrEmpty(Request.QueryString["Id"]) ? "Create Customer" : "Edit Customer").Localize();
    Layout = "~/Views/Shared/Blank.cshtml";
}

@section Panel{
    <ul class="header-panel">
        <li>
            <a href="javascript:submitForm();">
                @Html.IconImage("save") @("Save".Localize())
            </a>
        </li>
        <li>
            <a href="@ViewContext.RequestContext.GetRequestValue("return")">
                @Html.IconImage("back") @("Back".Localize())
            </a>
        </li>
    </ul>
}

<div class="block">
    <h1 class="title">@ViewBag.Title</h1>
    <form>
        <div id="J_CustomerTabs">
            <ul>
                <li>
                    <a href="#profile">
                        @("Profile".Localize())
                    </a>
                </li>
                @*<li>
                        <a href="#changePassword">
                            @("Password".Localize())
                        </a>
                    </li>*@
                <li>
                    <a href="#address">
                        @("Addresses".Localize())
                    </a>
                </li>
                <li>
                    <a href="#customFields">
                        @("Custom Fields".Localize())
                    </a>
                </li>
                <li>
                    <a href="#orders">
                        @("Orders".Localize())
                    </a>
                </li>
            </ul>
            <div id="profile" class="common-form">
                <table>
                    <tbody data-bind="with:data">
                        <tr>
                            <th>@("First name".Localize())</th>
                            <td>
                                <input data-bind="value:FirstName" type="text" class="medium">
                            </td>
                        </tr>
                        <tr>
                            <th>@("Middle name".Localize())</th>
                            <td>
                                <input data-bind="value:MiddleName" type="text" class="medium">
                            </td>
                        </tr>
                        <tr>
                            <th>@("Last name".Localize())</th>
                            <td>
                                <input data-bind="value:LastName" type="text" class="medium">
                            </td>
                        </tr>
                        <tr>
                            <th>@("Gender".Localize())</th>
                            <td>
                                <ul class="form-list">
                                    <!-- ko foreach: $root.Genders -->
                                    <li>
                                        <input type="radio" name="gender" data-bind="value: Value, checked: $root.BindGender, attr: {id: Name}">
                                        <label class="inline" data-bind="text:Name, attr: {for: Name}"></label>
                                    </li>
                                    <!-- /ko -->
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>@("Phone".Localize())</th>
                            <td>
                                <input data-bind="value:Phone" type="text" class="medium">
                            </td>
                        </tr>
                        <tr>
                            <th>@("Country".Localize())</th>
                            <td>
                                <select data-bind="options: $root.Countries, optionsText: 'Name', optionsValue: 'Id', optionsCaption: ' ', value: CountryId" class="medium"></select>
                            </td>
                        </tr>
                        <tr>
                            <th>@("City".Localize())</th>
                            <td>
                                <input data-bind="value:City" type="text" class="medium">
                            </td>
                        </tr>
                        <tr>
                            <th>@("Saving Points".Localize())</th>
                            <td>
                                <input data-bind="value:SavingPoints" type="text" class="medium">
                            </td>
                        </tr>
                        <tr>
                            <th>@("Email".Localize())</th>
                            <td>
                                <input data-bind="value:Email" type="text" class="medium">
                            </td>
                        </tr>
                        <tr>
                            <th>@("Default Shipping Address".Localize())</th>
                            <td>
                                <select data-bind="options: $data.Addresses, optionsText: 'Address1', optionsValue: 'Id', optionsCaption: ' ', value: ShippingAddressId" class="medium"></select>
                            </td>
                        </tr>
                        <tr>
                            <th>@("Default Billing Address".Localize())</th>
                            <td>
                                <select data-bind="options: $data.Addresses, optionsText: 'Address1', optionsValue: 'Id', optionsCaption: ' ', value: BillingAddressId" class="medium"></select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="address">
                <div class="simple-table">
                    <div class="toolbar">
                        <a class="button" href="javascript:;" data-bind="click: $root.AddAddress">@("Add".Localize())</a>
                    </div>
                    <table data-bind="with: data">
                        <thead>
                            <tr>
                                <th>@("First name".Localize())</th>
                                <th>@("Last name".Localize())</th>
                                <th>@("Phone".Localize())</th>
                                <th>@("Address".Localize())</th>
                                <th class="action"></th>
                                <th class="action"></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Addresses">
                            <tr>
                                <td data-bind="text:FirstName"></td>
                                <td data-bind="text:LastName"></td>
                                <td data-bind="text:Phone"></td>
                                <td data-bind="text:Address1"></td>
                                <td class="action"><a href="javascript:;" data-bind="click: $root.EditAddress" title="@("Edit".Localize())">@Html.IconImage("edit-small")</a></td>
                                <td class="action"><a href="javascript:;" data-bind="click: $root.RemoveAddress" title="@("Delete".Localize())">@Html.IconImage("minus-small")</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="customFields">
                <div class="simple-table">
                    <div class="toolbar">
                        <a class="button" href="javascript:;" data-bind="click: $root.AddCustomField">Add</a>
                    </div>
                    <table data-bind="with: data">
                        <thead>
                            <tr>
                                <th>@("Name".Localize())</th>
                                <th>@("Value".Localize())</th>
                                <th class="action"></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: CustomFields">
                            <tr>
                                <td><input data-bind="value:Name" type="text"></td>
                                <td><input data-bind="value:Value" type="text"></td>
                                <td class="action"><a href="javascript:;" data-bind="click: $root.RemoveCustomField">@Html.IconImage("minus small")</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="orders">
                <div class="simple-table">
                    <table>
                        <thead>
                            <tr>
                                <th>@("Order id".Localize())</th>
                                <th>@("Order date".Localize())</th>
                                <th>@("Total price".Localize())</th>
                                <th>@("Total weight".Localize())</th>
                                <th>@("Order status".Localize())</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: $root.Orders">
                            <tr>
                                <td data-bind="text:Id"></td>
                                <td data-bind="text:CreatedAtUtc"></td>
                                <td data-bind="text:Total"></td>
                                <td data-bind="text:TotalWeight"></td>
                                <td data-bind="text:OrderStatus"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="hide">
    <div id="addressDiv">
        <div class="topbar">
            <h1 class="title">@("Address".Localize())</h1>
        </div>
        <div class="wrap">
            <form class="common-form">
                <div>
                    <table>
                        <tbody data-bind="with: EditingAddress">
                            <tr>
                                <th>@("First Name".Localize())</th>
                                <td>
                                    <input data-bind="value:FirstName" type="text" class="xlarge">
                                </td>
                            </tr>
                            <tr>
                                <th>@("Last Name".Localize())</th>
                                <td>
                                    <input data-bind="value:LastName" type="text" class="xlarge">
                                </td>
                            </tr>
                            <tr>
                                <th>@("Phone".Localize())</th>
                                <td>
                                    <input data-bind="value:Phone" type="text" class="xlarge">
                                </td>
                            </tr>
                            <tr>
                                <th>@("Country".Localize())</th>
                                <td>
                                    <select data-bind="options: $root.Countries, optionsText: 'Name', optionsValue: 'Id', optionsCaption: ' ', value: CountryId" class="xlarge"></select>
                                </td>
                            </tr>
                            <tr>
                                <th>@("State".Localize())</th>
                                <td>
                                    <input data-bind="value:State" type="text" class="xlarge">
                                </td>
                            </tr>
                            <tr>
                                <th>@("City".Localize())</th>
                                <td>
                                    <input data-bind="value:City" type="text" class="xlarge">
                                </td>
                            </tr>
                            <tr>
                                <th>@("Postcode".Localize())</th>
                                <td>
                                    <input data-bind="value:Postcode" type="text" class="xlarge">
                                </td>
                            </tr>
                            <tr>
                                <th>@("Address1".Localize())</th>
                                <td>
                                    <input data-bind="value:Address1" type="text" class="xlarge">
                                </td>
                            </tr>
                            <tr>
                                <th>@("Address2".Localize())</th>
                                <td>
                                    <input data-bind="value:Address2" type="text" class="xlarge">
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input data-bind="checked:IsDefault" type="checkbox" id="IsDefault">
                                    <label class="inline" for="IsDefault">@("Set as default address".Localize())</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p class="buttons">
                    <input type="button" class="button" onclick="vm.SaveAddress();" value="@("OK".Localize())">
                    <a class="button gray" onclick="vm.CancelAddress();">@("Cancel".Localize())</a>
                </p>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    utils.showMessage = function (title, message, level, funcClose) {
        info.show(message, (level || 'info') == 'info');
    };

    var vm;
    $(function () {
        vm = new ObjectModel({
            getQueryUrl: function (self) {
                return '/Commerce/Customer/Get?id=@(Request.QueryString["Id"])';
            },
            getSaveUrl: function (self) {
                return '/Commerce/Customer/Save';
            },
            onQuerySuccess: function (self) {
                $('#J_CustomerTabs').tabs();
                vm.GetOrders();
            },
            onSaveSuccess: function (self, info) {
                utils.showMessage('Notice', info.message, 'info');
                window.leaveConfirm.pass();
                window.location.href = '/Commerce/Customer/Index?siteName=@Request.QueryString["siteName"]&commerceName=@Request.QueryString["commerceName"]';
                //$('#J_CustomerTabs').tabs();
            },
            onInit: function (self) {
                self.Orders = ko.observableArray([]);
                self.Countries = ko.observableArray([]);
                self.Genders = ko.observableArray([
                    { 'Name': 'Unknown', 'Value': 0 },
                    { 'Name': 'Male', 'Value': 1 },
                    { 'Name': 'Female', 'Value': 2 }
                ]);
                self.BindGender = ko.computed({
                    read: function () {
                        if (this.data())
                            return this.data().Gender().toString();
                        return null;
                    },
                    write: function (newValue) {
                        this.data().Gender(newValue);
                    },
                    owner: self
                });
                self.EditingAddress = ko.observable(null);
                self.AddAddress = function () {
                    var item = {
                        Id: ko.observable(utils.newid()),
                        CustomerId: ko.observable(self.data().Id()),
                        FirstName: ko.observable(''),
                        LastName: ko.observable(''),
                        Address1: ko.observable(null),
                        Address2: ko.observable(null),
                        Postcode: ko.observable(null),
                        CountryId: ko.observable(null),
                        City: ko.observable(null),
                        State: ko.observable(null),
                        Phone: ko.observable(null),
                        IsDefault: ko.observable(false)
                    }
                    item.isNew = true;
                    self.data().Addresses.push(item);
                    self.EditAddress(item);
                };
                self.RemoveAddress = function (item) {
                    self.data().Addresses.remove(item);
                };
                self.EditAddress = function (item) {
                    self.EditingAddress(item);
                    utils.showDialog('#addressDiv', 'Edit Address', null, null, null, null, {
                        buttons: null, create: function () {
                            $(document).dialogScroll();
                        }
                    });
                };
                self.SaveAddress = function () {
                    if (vm.EditingAddress().isNew)
                        vm.EditingAddress().isNew = false;
                    $('#addressDiv').dialog("close");
                };
                self.CancelAddress = function () {
                    if (vm.EditingAddress().isNew) {
                        vm.data().Addresses.remove(vm.EditingAddress());
                    }
                    $('#addressDiv').dialog("close");
                }
                self.AddCustomField = function () {
                    var item = {
                        Name: ko.observable(null),
                        Value: ko.observable(null)
                    };
                    item.isNew = true;
                    self.data().CustomFields.push(item);
                };
                self.RemoveCustomField = function (item) {
                    vm.data().CustomFields.remove(item);
                };
                self.OrderPageIndex = ko.observable(1);
                self.OrderPageIndex.subscribe(function (newVal) {
                    self.GetOrders();
                });
                self.GetOrders = function () {
                    var url = '/Commerce/Customer/GetOrders?siteName=@Request.QueryString["siteName"]&customerId=' + self.data().Id();
                    url += '&page=' + self.OrderPageIndex() + '&pageSize=50';
                    utils.getJson(url, null, function (orders) {
                        ko.mapping.viewModel(orders, vm.Orders);
                    });
                };
            }
        });

        ko.applyBindings(vm);
        utils.getJson('/Commerce/Customer/GetCountries?siteName=@Request.QueryString["siteName"]', null, function (dc) {
            ko.mapping.viewModel(dc, vm.Countries);
            vm.getData();
        });
        $('#J_CustomerTabs').tabs();
    });

    window.submitForm = function () {
        $(':focus').blur();
        vm.saveData();
    }

    @*function CheckConfirmPassword() {
        var val1 = $('#newPassword').val();
        var val2 = $('#confirmPassword').val();
        if (val1 || val2) {
            if (val1 != val2) {
                utils.showMessage('warning', 'Confirm Password should be the same as new password.', 'warn');
                return false;
            }
        }
        return true;
    }

    function ChangePassword() {
        if (CheckConfirmPassword()) {
            var data = {
                AccountId: vm.data().Account().Id(),
                OldPassword: $('#oldPassword').val(),
                NewPassword: $('#newPassword').val(),
                ConfirmPassword: $('#confirmPassword').val()
            };
            utils.postJson('/Commerce/Customer/ChangePassword?commerceName=@Request.QueryString["commerceName"]', data, function (info) {
                utils.showMessage(info.title, info.message, info.status == 0 ? 'info' : 'error');
            });
        }
    }*@
</script>
