@model ImageSizeEditorModel
@{  
    var propertyName = ViewData["name"] == null ? ViewData.ModelMetadata.PropertyName : ViewData["name"].ToString();
}
<tr>
    <th>
        @Html.HiddenFor(o => o.IsSystemDefault)
        @if (Model.IsSystemDefault) {
            @Html.HiddenFor(o => o.Name)
            <label for="@ViewData.TemplateInfo.GetFullHtmlFieldId(propertyName)">
                @ViewData.ModelMetadata.GetDisplayName().Localize()</label>         
        } else {
            @Html.EditorFor(o => o.Name, "StringCustom")
        }
    </th>
    <td>
        @Html.EditorFor(o => o.Width, "StringCustom")
        <span class="left" style="margin-right: 10px;">X</span>
        @Html.EditorFor(o => o.Height, "StringCustom")
        @Html.EditorFor(m => m.IsEnabled, "BooleanCustom")
        @if (ViewData["CustomSizes"] == "true") {
            <a class="button removeRow">@("Remove".Localize())</a>
        }
    </td>
</tr>
