@using Kooboo.Commerce.API;
@using Kooboo.Commerce.API.CmsSite;
@using Kooboo.Commerce.API.Categories;
@{
    var categories = Site.Current.Commerce().Categories.ByParentId(null).LoadWithChildren().ToArray();
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @Html.FrontHtml().HtmlTitle()
    <meta http-equiv="Content-Language" content="nl" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <link rel="shortcut icon" href="/Cms_Data/Sites/Vitaminstore/images/favicon.ico" type="image/x-icon" />
    @Html.FrontHtml().Meta()
    @Html.FrontHtml().RegisterStyles()
    @Html.FrontHtml().RegisterScripts()
</head>
<body>
    <div id="page">
        <div id="left">
            <div id="header">
                <div class="logo">
                    <a href="/">
                        <img src="/Cms_Data/Sites/Vitaminstore/images/logo.gif" border="0" title="Vitamines en voedingssupplementen" alt="Vitamines en voedingssupplementen" />
                    </a>
                </div>
                <div class="banner">

                    <div class="top-nav-wapper">

                        <ul class="top-nav">
                            <li class="top-nav-login">
                                <a class="top-nav-login-link" href="/Login.aspx?returnUrl=%2fDefault.aspx" onclick="dataLayer.push({'eventName': 'GAevent', 'eventCategory': 'NewNavigation',  'eventAction': 'Click', 'eventLabel': 'inloggen'});">inloggen</a>
                                <ul>
                                    <li>
                                        <input id="top-nav-txtLogin" type="text" value="" autocomplete="off" placeholder="inloggen" />
                                    </li>
                                    <li>
                                        <input type="password" id="top-nav-txtPassword" value="" autocomplete="off" placeholder="wachtwoord" />
                                    </li>
                                    <li class="top-nav-btnLogin"><a href="#">aanmelden</a></li>
                                    <li class="top-nav-autologin vertical_middle">
                                        <input type="checkbox" id="top-nav-autologin" /><label for="top-nav-autologin">automatisch inloggen</label>
                                    </li>
                                    <li class="top-nav-forgotPassword"><a href="/PasswordForget.aspx">wachtwoord vergeten?</a></li>
                                </ul>
                            </li>
                            <li>|</li>
                            <li><a href="/Register.aspx?returnUrl=%2fDefault.aspx" onclick="dataLayer.push({'eventName': 'GAevent', 'eventCategory': 'NewNavigation',  'eventAction': 'Click', 'eventLabel': 'account aanmaken'});">account aanmaken</a></li>
                            <li>|</li>
                            <li><a href="/Profile/Default.aspx#myOrder" onclick="dataLayer.push({'eventName': 'GAevent', 'eventCategory': 'NewNavigation',  'eventAction': 'Click', 'eventLabel': 'vorige bestellingen'});">vorige bestellingen</a></li>
                            <li>|</li>
                            <li><a href="/klantenservice" onclick="dataLayer.push({'eventName': 'GAevent', 'eventCategory': 'NewNavigation',  'eventAction': 'Click', 'eventLabel': 'klantenservice'});">klantenservice</a></li>
                            <li>|</li>
                            <li><a href="/shop/" onclick="dataLayer.push({'eventName': 'GAevent', 'eventCategory': 'NewNavigation',  'eventAction': 'Click', 'eventLabel': 'onze winkels'});">onze winkels</a></li>
                        </ul>



                    </div>

                </div>
                <ul class="search-box">
                    <li>
                        <input type="text" placeholder="Zoek door ons gehele assortiment" class="search-input ac_input" autocomplete="off" />
                    </li>
                    <li>
                        <a href="/RefinedSearch.aspx" class="search-advanced">geavanceerd zoeken</a>
                    </li>
                </ul>
                <a href="javascript:;" class="search-btn"></a>
            </div>
            <div class="left-content">
                <dl class="StoreSearch">
                    <dd class="StoreSearchTitle">
                        <a href="/shop/" class="OrangeTitle">Onze winkels</a>
                    </dd>
                    <dd class="StoreSearchList">
                        <table cellpadding="0" border="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td><a href="/shop/Alkmaar/">Alkmaar</a></td>
                                    <td><a href="/shop/Den_Bosch/">Den Bosch</a></td>
                                    <td><a href="/shop/Pijnacker/">Pijnacker</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/shop/Amersfoort/">Amersfoort</a></td>
                                    <td><a href="/shop/Den_Haag/">Den Haag</a></td>
                                    <td><a href="/shop/Roermond/">Roermond</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/shop/Amstelveen_Binnenhof/">Amstelveen Binnenhof</a></td>
                                    <td><a href="/shop/Gouda/">Gouda</a></td>
                                    <td><a href="/shop/Rotterdam_Alexandrium/">Rotterdam Alexandrium</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/shop/Amstelveen_Rembrandthof/">Amstelveen Rembrandthof</a></td>
                                    <td><a href="/shop/Haarlem/">Haarlem</a></td>
                                    <td><a href="/shop/Rotterdam_Meent/">Rotterdam Meent</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/shop/Amsterdam_Beethovenstraat/">Amsterdam Beethovenstraat</a></td>
                                    <td><a href="/shop/Heemstede/">Heemstede</a></td>
                                    <td><a href="/shop/Utrecht/">Utrecht</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/shop/Amsterdam_Haarlemmerstraat/">Amsterdam Haarlemmerstraat</a></td>
                                    <td><a href="/shop/Heerlen/">Heerlen</a></td>
                                    <td><a href="/shop/Vlaardingen/">Vlaardingen</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/shop/Amsterdam_Kinkerstraat/">Amsterdam Kinkerstraat</a></td>
                                    <td><a href="/shop/Leidschendam/">Leidschendam</a></td>
                                    <td><a href="/shop/Weert/">Weert</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/shop/Amsterdam_Osdorp_Shoperade/">Amsterdam Osdorp Shoperade</a></td>
                                    <td><a href="/shop/Leusden/">Leusden</a></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </dd>
                    <dd class="StoreSearchBox">
                        <table cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td>
                                        <input id="txtStoreSearch" type="text" value="zoek op postcode/plaats" class="default_text" />
                                    </td>
                                    <td>
                                        <span class="StoreSearchBtn icons" title="vul hier uw postcode in of een plaatsnaam om de dichtstbijzijnde Vitaminstore te vinden" onclick="javascript:SearchStore();">
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </dd>
                </dl>
                @Html.FrontHtml().Position("left")

            </div>
            <div class="middle-content">

                <div class="navigation">
                    <ul>
                        <li class="nav-top-item home"><a href="/" class="selected"></a></li>
                        @foreach (var cate in categories)
                        {
                            <li class="nav-top-item @(cate.Name)">
                                <a href="@CmsSiteUrlResolver.MapUrl(cate, "products")" class="nav-top-main">
                                </a>

                                <div class="nav-dropdown">
                                    <div class="category-columns">
                                        @foreach (var sub in cate.Children)
                                        {
                                            var children = Site.Current.Commerce().Categories.ByParentId(sub.Id).ToArray();
                                            <div class="category-column">
                                                <h3 class="category-column-title">
                                                    <a href="@CmsSiteUrlResolver.MapUrl(sub, "products")">@(sub.Name)</a>
                                                </h3>
                                                <div class="category-column-body">
                                                    <ul>
                                                        @foreach (var child in children)
                                                        {
                                                            <li><a href="@CmsSiteUrlResolver.MapUrl(child, "products")" title="@child.Name">@child.Name</a></li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        }
                                        <div class="clear">
                                        </div>
                                    </div>
                                </div>

                            </li>
                        }
                    </ul>
                </div>

                <div class="search">
                </div>
                <div id="content">
                    <div class="siteNav">
                        <span class="orange">
                            <span id="ctl00_lblSiteMap">U bevindt zich hier</span>
                        </span>
                        <span id="ctl00_SiteMapPath1">
                            <a href="#ctl00_SiteMapPath1_SkipLink"><img alt="Skip Navigation Links" src="/WebResource.axd?d=yTHzHLaTgw2wnG6w-FZPAW6Qzf8Gtj_4mhLl6HYeVg1fyhrZVYQiHG9qeU-MS8KZl5MDZLVnP_PkgyenLr1Sb7dmZiO00uJgLn6PDRasspU1&amp;t=635195661120000000" width="0" height="0" style="border-width:0px;" /></a><span>
                                <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                                    <a href="/" class="GreyLink" itemprop="url"><span itemprop="title">home</span></a>
                                </span>
                            </span><span> &gt; </span><span>
                                <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                                    <a href="/sports/" class="GreyLink" itemprop="url"><span itemprop="title">sports</span></a>
                                </span>
                            </span><span> &gt; </span><span>
                                <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                                    <a href="/sports/spieren/" class="GreyLink" itemprop="url"><span itemprop="title">spieren</span></a>
                                </span>
                            </span><span> &gt; </span><span>
                                spiergroei
                            </span><a id="ctl00_SiteMapPath1_SkipLink"></a>
                        </span>
                    </div>
                    @Html.FrontHtml().Position("main")
                    <div class="clear">&nbsp;</div>
                </div>
            </div>
        </div>
        <div id="right">
            <div class="clientService">
            </div>

            <div class="shoppingcart-title column_header">
                winkelwagen
            </div>
            <div class="shoppingcart">
                <div class="shoppingcart-top icons">
                </div>
                <div class="shippingcart-item">
                    artikelen:
                    <span id="ctl00_ShoppingCart1_lblQuantity" class="cartcount">0</span><br />
                    <span style="padding-right: 18px">totaal:</span>€
                    <span id="ctl00_ShoppingCart1_lblAmount" class="cartamount">0,00</span>
                </div>
                <div class="shippingcart-bottom">
                    <span class="nav_w">
                        <a class="white" href="/ShoppingCart.aspx">
                            naar winkelwagen
                        </a>
                    </span>
                </div>
            </div>
            @Html.FrontHtml().Position("right")
        </div>

        <div id="footer" style="overflow: hidden;">
            <div class="footer_Item">
                <div class="footer_Item_Title">
                    <a href="/klantenservice/veilig-winkelen/">veilig winkelen</a>
                </div>
                <ul>
                    <li style="margin-top: 5px;"><a href="/klantenservice/Keurmerken/">Keurmerken</a></li>
                    <li><a href="/klantenservice/hacker_safe/">Hacker safe</a></li>
                    <li><a href="/klantenservice/ssl-gecertificeerd/">SSL gecertificeerd</a></li>
                </ul>
            </div>
            <div class="footer_Item" style="margin-left: 6px;">
                <div class="footer_Item_Title">
                    <a href="/klantenservice/Bestellen">bestellen en betalen</a>
                </div>
                <ul>
                    <li style="margin-top: 5px;"><a href="/klantenservice/betalingsinfo/">Betaalmogelijkheden</a></li>
                    <li>
                        <a href="/klantenservice/Verzending-en-Retourneren/">
                            Verzending
                            en Retourneren
                        </a>
                    </li>
                    <li><a href="/service/snel-in-huis">Snel in huis</a></li>
                </ul>
            </div>
            <div class="footer_Item" style="margin-left: 6px;">
                <div class="footer_Item_Title">
                    <a href="/klantenservice/advies-en-klantenservice/">
                        advies
                        en service
                    </a>
                </div>
                <ul>
                    <li style="margin-top: 5px;">
                        <a href="/FAQ.aspx">
                            Veel gestelde
                            vragen
                        </a>
                    </li>
                    <li><a href="/klantenservice">Klantenservice</a></li>
                    <li>
                        <a href="/Informatie-Vitamines-en-Supplementen">
                            Informatie
                            Vitamines en Supplementen
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer_Item" style="margin-left: 6px;">
                <div class="footer_Item_Title">
                    <a href="/klantenservice/vitaminstore/">vitaminstore</a>
                </div>
                <ul>
                    <li style="margin-top: 5px;"><a href="/klantenservice/Over-vitaminstore/">Over vitaminstore</a></li>
                    <li><a href="/job.aspx">Werken bij vitaminstore</a></li>
                    <li><a href="/franchise">Franchisenemers</a></li>
                </ul>
            </div>
            <div style="float: left; width: 233px; height: 40px;">
                <a href="https://beheer.thuiswinkel.org/waarborg/index.asp?bedrijfid=1988" class="thuiswinkel" target="_blank"></a><a href="/klantenservice/ssl-gecertificeerd/" class="globalsign" target="_blank"></a>
            </div>
            <div class="footer_Item_Bottom footer_icons">
                <a href="/klantenservice/betalingsinfo/" class="mastercard"></a><a href="/klantenservice/betalingsinfo/" class="visa"></a><a href="/klantenservice/betalingsinfo/" class="express"></a><a href="/klantenservice/betalingsinfo/" class="ideal"></a><a href="#" class="paypal" onclick="javascript:window.open('https://www.paypal.com/nl/cgi-bin/webscr?cmd=xpt/Marketing/popup/OLCWhatIsPayPal-outside','olcwhatispaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=350');"></a>
            </div>
            <div class="footer_Item_Bottom" style="width: 472px">
                <ul class="menu">
                    <li><a href="/collectie">Collecties</a></li>
                    <li class="menuDiv"></li>
                    <li><a href="/emailnieuwsbrieven">Nieuwsbrieven</a></li>
                    <li class="menuDiv"></li>
                    <li><a href="/klantenservice/contact/">Contact</a></li>
                    <li class="menuDiv"></li>
                    <li><a href="/klantenservice/disclaimer/">Disclaimer</a></li>
                    <li class="menuDiv"></li>
                    <li><a href="/klantenservice/Privacy-Statement/">Privacy Statement</a></li>
                    <li class="menuDiv"></li>
                    <li>
                        <a href="/klantenservice/algemene-voorwaarden/">
                            Algemene
                            Voorwaarden
                        </a>
                    </li>
                    <li class="menuDiv"></li>
                    <li><a href="/links">Partnerprogramma</a></li>
                    <li class="menuDiv"></li>
                    <li><a href="/klantenservice/B2B/">B2B</a></li>
                    <li class="menuDiv"></li>
                    <li><a href="/klantenservice/Spaarsysteem/">Spaarsysteem</a></li>
                    <li class="menuDiv"></li>
                    <li><a href="/Sitemap.aspx">Sitemap</a></li>
                    <li class="menuDiv"></li>
                    <li>
                        Copyright ©
                        2014, Vitaminstore online BV
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div id="top_header" class="shadowbottom">
        <div id="top_header_content" class="vtm-event-trigger" event-category="Toolbar" event-name="Click top toolbar">
            <table cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td class="logo" align="left">
                            <a href="/">
                                <img src="/Cms_Data/Sites/Vitaminstore/images/logo-s.png?2012" border="0" title="Vitamines en voedingssupplementen" alt="Vitamines en voedingssupplementen" />
                            </a>
                        </td>
                        <td class="searchbox ac_input" autocomplete="off">
                            <input type="text" value="Vul hier uw zoekopdracht in" class="searchinput ac_input" autocomplete="off" />
                            <a class="searchbutton"></a>
                        </td>
                        <td class="cats">
                            <ul>
                                <li class="cat"><a href="/health/">health</a></li>
                                <li class="divider">|</li>
                                <li class="cat sports"><a href="/sports/">sports</a></li>
                                <li class="divider">|</li>
                                <li class="cat beauty"><a href="/beauty/">beauty</a></li>

                            </ul>
                        </td>
                        <td class="customer_menu">
                            <ul class="right">

                                <li class="myaccount">
                                    <a href="#" class="myAccountLink">mijn account</a>
                                    <ul>
                                        <li>
                                            <input id="txtLogin" name="txtLogin" type="text" value="inloggen" />
                                        </li>
                                        <li>
                                            <input type="text" id="txtFakePass" name="txtFakePass" value="wachtwoord" /><input style="display: none" type="password" name="txtPassword" id="txtPassword" value="" />
                                        </li>
                                        <li class="login"><a href="#">aanmelden</a></li>
                                    </ul>
                                </li>


                                <li class="divider">|</li>
                                <li class="cs"><a href="/klantenservice">klantenservice</a></li>
                                <li>
                                    <a href="/ShoppingCart.aspx">
                                        <img src="/Cms_Data/Sites/Vitaminstore/images/cart.png" alt="winkelwagen" />
                                    </a>
                                </li>
                                <li class="quantity">
                                    artikelen:
                                    <span id="ctl00_TopTool1_lblQuantity" class="cartcount">0</span>
                                </li>
                                <li class="divider">|</li>
                                <li>
                                    totaal: €
                                    <span id="ctl00_TopTool1_lblAmount" class="cartamount">0,00</span>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="footer_Background">
    </div>

    <div id="fb-root" class=" fb_reset"><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div><iframe name="fb_xdm_frame_http" frameborder="0" allowtransparency="true" scrolling="no" id="fb_xdm_frame_http" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tab-index="-1" src="http://static.ak.facebook.com/connect/xd_arbiter/dgdTycPTSRj.js?version=40#channel=f17c1addf4&amp;origin=http%3A%2F%2Fnewshoppage.vitaminstore.eu" style="border: none;"></iframe><iframe name="fb_xdm_frame_https" frameborder="0" allowtransparency="true" scrolling="no" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tab-index="-1" src="https://s-static.ak.facebook.com/connect/xd_arbiter/dgdTycPTSRj.js?version=40#channel=f17c1addf4&amp;origin=http%3A%2F%2Fnewshoppage.vitaminstore.eu" style="border: none;"></iframe></div></div><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div></div></div></div>
    <div class="overlay">

        <div class="bubblingG">
            <span id="bubblingG_1"></span>
            <span id="bubblingG_2"></span>
            <span id="bubblingG_3"></span>
        </div>

    </div>
    <ul class="nav-btns">
        <li><i class="icon-circle-arrow-up to-top-btn"></i></li>
        <li><i class="icon-circle-arrow-down to-bottom-btn"></i></li>
    </ul>
    <script type="text/javascript">
        window.vtm = {};
        window.vtm.props = {};
        window.vtm.props.domain = 'vitaminstore.nl';
    </script>
</body>
</html>