@model Kooboo.Commerce.Activities.OrderInvoiceMailing.ActivityData
@{
    Layout = "~/Areas/Commerce/Views/Shared/AddIns/_ActivitySettings.cshtml";
    ViewBag.Title = "Activity Settings".Localize();

    var binding = ViewBag.ActivityBinding as ActivityBinding;
}

<div class="common-form">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <table>
            <tbody>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.SubjectTemplate)</th>
                    <td>
                        @Html.TextBoxFor(m => m.SubjectTemplate)
                        @Html.ValidationMessageFor(m => m.SubjectTemplate)
                    </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.BodyTemplate)</th>
                    <td>
                        @Html.TextAreaFor(m => m.BodyTemplate, new { style = "min-height:300px" })
                        @Html.ValidationMessageFor(m => m.BodyTemplate)
                    </td>
                </tr>
            </tbody>
        </table>
    }
</div>