@model Kooboo.CMS.Sites.Extension.ModuleArea.ModuleInfo
@{
    ViewBag.Title = "Add-in installation".Localize();
    Layout = "~/Views/Shared/Blank.cshtml";
}
@section Panel{
    <ul class="header-panel">
        @foreach (var group in Kooboo.CMS.Sites.Extension.UI.TopToolbar.ToolbarButtons.GetToolbarButtons(ViewContext.RequestContext))
        {
            @Html.Partial("_ToolbarGroupButtons", group)
        }
        <li>
            <a href="@ViewContext.RequestContext.GetRequestValue("return")">
                @Html.IconImage("cancel") @("Finish".Localize())
            </a>
        </li>
    </ul>

}

<div class="block">
    <h1 class="title">@ViewBag.Title</h1>
    <div class="wizard">
        <div class="container">
            <span>@("Add-in selection".Localize())</span>
            <span>@("Installation".Localize())</span>
            <span class="active">@("Finish".Localize())<b></b></span>
        </div>
    </div>
    <div class="block message success">
        <p>@("The add-in has been installed in your system.".Localize())</p>
    </div>
</div>

