@{
    var category = ViewBag.Category;
    var products = category == null ? null : category.ProductsByCategory;
}
<form id="__AjaxAntiForgeryForm" action="#" method="post">
    @AntiForgery.GetHtml()
</form>

@if (category == null)
{
    <div>
        Category not found
    </div>
}
else { 
    <div class="search_top">
        <div class="grid_left search_count">
            Categorie
            <br>
            ‘<span class="orange">@category.Name</span>’ 
        </div>
    </div>
}

<div class="productsContainer">

    <div class="search_list">
        @if (products == null)
        {
            <div>No Products</div>
        }
        else
        {
            foreach (var product in products)
            {
                var price = product.GetLowestPrice();
                if (price == null)
                {
                    continue;
                }

                var detailUrl = "/product/" + product.Id;
                
                var img = product.GetImage("List");
                string imageUrl = img == null ? "" : img.ImageUrl;
                <div class="search_proitem">
                    <div class="grid_left search_pic">
                        <a onclick="_gaq.push(['_trackEvent', 'list-view', 'Click', 'product']);" href="@detailUrl">
                            <img title="@product.Name" src="@imageUrl" alt="" style="border-width:0px;">
                        </a>
                    </div>
                    <div class="grid_left search_pro">
                        <dl>
                            <dd class="search_pro_name">
                                <a class="GreyLink" href="@detailUrl">
                                    <strong>
                                        @product.Name
                                    </strong> -
                                    @product.Brand.Name
                                </a>
                            </dd>
                            <dd>
                                <ul class="star-rating"><li class="current-rating" style="width:42px"></li></ul>
                                <span class="ReviewsCount">
                                    <a href="@(detailUrl)#reviews" class="green_link">17 Recensies</a>
                                </span>
                            </dd>
                            <dd class="search_pro_text">
                                @Html.Raw(product.GetCustomFieldValue("Introduction"))
                                <a class="green_link" onclick="_gaq.push(['_trackEvent', 'list-view', 'Click', 'product']);" href="@detailUrl">...meer</a>
                            </dd>
                        </dl>

                    </div>
                    <div class="grid_right">
                        <dl>
                            <dd>
                                <div class="lowestprice">
                                    <div class="lowestprice-top">
                                    </div>
                                    <div class="lowestprice-item">
                                        <span class="measure">
                                            @(price.GetVariantValue("MeasureQuantity"))
                                            @(product.GetCustomFieldValue("Measure"))
                                        </span>
                                        <br>
                                        <span class="currentlyprice">
                                            € @(price.RetailPrice)
                                        </span>
                                    </div>
                                    <div class="lowestprice-bottom">
                                    </div>
                                </div>
                            </dd>
                            <dd class="addcart">
                                <a href="javascript: AddCart('@price.Id', 1);" onclick="_gaq.push(['_trackEvent', 'list-view', 'Click', 'addcart']);" rel="nofollow">
                                    <img alt="IN WINKELWAGEN" src="/CMS_Data/Sites/Vitaminstore/images/product/btn-new.gif">
                                </a>
                            </dd>
                        </dl>
                    </div>
                </div>
            }
        }
    </div>
    <span class="pageNumber" data-page="1"></span>
</div>

<div class="loading-more">

    <div class="bubblingG" style="display: none;">
        <span id="bubblingG_1"></span>
        <span id="bubblingG_2"></span>
        <span id="bubblingG_3"></span>
    </div>

</div>