@{
    Layout = "~/Areas/Commerce/Views/Shared/Blank.cshtml";

    if (String.IsNullOrEmpty(ViewBag.Title as string))
    {
        ViewBag.Title = "Shipping method".Localize();
    }

    var methodId = ViewContext.RouteData.Values["id"];
}

@section Panel {
    @if (IsSectionDefined("Panel"))
    {
        @RenderSection("Panel")
    }
    else
    {
        @Html.HeaderPanel().Buttons(buttons =>
       {
           buttons.AddCancelButton();
       })
    }
}

<div class="block">
    @Html.Action("Steps", "ShippingMethod", new { area = "Commerce", step = 2 })
    @RenderBody()
    <div class="wizard-buttons">
        <a class="button gray" href="@Url.Action("BasicInfo", "ShippingMethod", RouteValues.From(Request.QueryString).Merge("area", "Commerce").Merge("id", methodId))">&laquo; @("Back".Localize())</a>
        <a data-ajaxform="" class="button">@("Next".Localize()) &raquo;</a>
    </div>
</div>
