@using Kooboo.Commerce.API;
@using Kooboo.Commerce.API.Products;
@{
    var key = Request.QueryString["key"];
    int? cateId = null;
    if (!string.IsNullOrEmpty(Request.QueryString["cateId"]))
    {
        cateId = Convert.ToInt32(Request.QueryString["cateId"]);
    }
    var query = Site.Current.Commerce().Product;
    if(!string.IsNullOrEmpty(key))
    {
        query = query.ContainsName(key);
    }
    if(cateId.HasValue)
    {
        query = query.ByCategoryId(cateId.Value);
    }
    var total = query.Count();
    var products = query.LoadWithBrand().LoadWithProductType().LoadWithImages().Pagination(0, 50);
    var pager = new PagedList<Product>(products, 0, 50, total);
}

@if (cateId.HasValue)
{
    var cate = Site.Current.Commerce().Category.ById(cateId.Value).LoadWithAllParents().FirstOrDefault();
    var cates = new List<Kooboo.Commerce.API.Categories.Category>();
    while (cate != null)
    {
        cates.Insert(0, cate);
        cate = cate.Parent;
    }

    <div>
        @foreach (var c in cates)
        {
            <a href="/ProductList?cateId=@c.Id">@c.Name</a><span>></span>
        }
    </div>
}
<table>
    <thead>
        <tr>
            <th></th>
            <th>@("Name".Localize())</th>
            <th>@("Brand".Localize())</th>
            <th>@("Type".Localize())</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var p in products)
        {
            var img = p.Images.FirstOrDefault(m => m.ImageSizeName.ToLower() == "list");
            <tr>
                <td><img src="@(img == null ? "" : img.ImageUrl)" width="32" height="32" /></td>
                <td><a href="/ProductList/ProductDetail/@p.Id">@p.Name</a></td>
                <td>@p.Brand.Name</td>
                <td>@p.Type.Name</td>
            </tr>
        }
    </tbody>
</table>

@{
    var pageOption = new PagerOptions
    {
        NextPageText = "Next »",
        PrevPageText = "« Previous",
        CssClass = "pagination",
        CurrentPagerItemWrapperFormatString = "<span class=\"current\">{0}</span>",
        NavigationPagerItemWrapperFormatString = "<span class=\"pagenavigation\">{0}</span>"
    };
}
@Html.FrontHtml().Pager(pager, pageOption)