@model ActivityEditorModel

<div class="wrap">
    <div id="activity-editor-tabs">
        <ul>
            <li><a href="#basicinfo">@("Basic Info".Localize())</a></li>
            @if (!string.IsNullOrEmpty(Model.Activity.EditorVirtualPath))
            {
                <li><a href="#config">@Model.Activity.Name @(" Configuration".Localize())</a></li>
            }
        </ul>
        <div id="basicinfo">
            @Html.Partial("_BasicInfo")
        </div>
        @if (!string.IsNullOrEmpty(Model.Activity.EditorVirtualPath))
        {
            <div id="config">
                @Html.Partial(Model.Activity.EditorVirtualPath)
            </div>
        }
    </div>

    <p class="buttons">
        <a href="#" class="button gray right J_Cancel">@("Cancel".Localize())</a>
        <button type="submit" class="right J_Save">@("Save".Localize())</button>
    </p>
</div>

<script>
    $(function () {
        $('#activity-editor-tabs').tabs();
    });
</script>

@Html.Partial("_Editor.Scripts")