@model IEnumerable<EventCategoryModel>
@using Kooboo.Commerce.Rules.Expressions.Formatting;
@{
    ViewBag.Title = "Overview".Localize();

    var hasRules = Model.Any(c => c.HasEventRules);
    var formatter = new HtmlExpressionFormatter();
}

@helper RenderActivity(AttachedActivityInfo activity)
{
    <span>
        @activity.Description
        @if (ViewBag.MissingActivities.Contains(activity.ActivityName))
        {
            <span style="color:red;display:block">
                (@(String.Format("Cannot load activity '{0}'. Please check if it's uninstalled.".Localize(), activity.ActivityName)))
            </span>
        }
    </span>
    if (activity.IsAsyncExeuctionEnabled)
    {
        if (activity.AsyncExecutionDelay > 0)
        {
            var delay = TimeSpan.FromSeconds(activity.AsyncExecutionDelay);

            <span title="@String.Format("Will execute in {0} when the event occurs".Localize(), delay.Humanize())">
                @Html.IconImage("clock")
            </span>
        }
        else
        {
            <span title="@("Will execute asynchronously".Localize())">
                @Html.IconImage("clock")
            </span>
        }
    }
}

<div class="block">
    <div class="simple-table activity">
        <table>
            <thead>
                <tr>
                    <th>WHEN</th>
                    <th>IF</th>
                    <th>THEN</th>
                    <th>ELSE</th>
                    <th>ALWAYS</th>
                </tr>
            </thead>
            @if (!hasRules)
            {
                <tbody>
                    <tr class="empty">
                        <td colspan="5">
                            @("Empty".Localize())
                        </td>
                    </tr>
                </tbody>
            }
            @foreach (var category in Model)
            {
                foreach (var evnt in category.Events)
                {
                    var normlaRules = evnt.Rules.Where(r => r.Type == RuleType.Normal).ToList();
                    var alwaysRule = evnt.Rules.Find(r => r.Type == RuleType.Always);

                    // At least one row
                    var rowCount = normlaRules.Count > 0 ? normlaRules.Count : 1;

                    <tbody>
                        @for (var i = 0; i < rowCount; i++)
                        {
                            var currentNormalRule = i >= normlaRules.Count ? null : normlaRules[i];

                            <tr>
                                @if (i == 0)
                                {
                                    <th rowspan="@rowCount">
                                        <a href="@Url.Action("List", RouteValues.From(Request.QueryString).Merge("eventType", evnt.EventType.AssemblyQualifiedNameWithoutVersion()))">@evnt.EventDisplayName</a>
                                    </th>
                                }
                                <td>
                                    @if (currentNormalRule != null)
                                    {
                                        <span class="conditions-expression">
                                            @Html.Raw(formatter.Format(currentNormalRule.ConditionsExpression, evnt.EventType))
                                        </span>
                                    }
                                    else
                                    {
                                        @("-")
                                    }
                                </td>
                                <td class="common">
                                    @if (currentNormalRule != null && currentNormalRule.ThenActivityInfos.Count > 0)
                                    {
                                        <ul>
                                            @foreach (var activity in currentNormalRule.ThenActivityInfos)
                                            {
                                                <li>@RenderActivity(activity)</li>
                                            }
                                        </ul>
                                    }
                                    else
                                    {
                                        @("-")
                                    }
                                </td>
                                <td class="common">
                                    @if (currentNormalRule != null && currentNormalRule.ElseActivityInfos.Count > 0)
                                    {
                                        <ul>
                                            @foreach (var activity in currentNormalRule.ElseActivityInfos)
                                            {
                                                <li>@RenderActivity(activity)</li>
                                            }
                                        </ul>
                                    }
                                    else
                                    {
                                        @("-")
                                    }
                                </td>
                                @if (i == 0)
                                {
                                    <td rowspan="@rowCount" class="common always">
                                        @if (alwaysRule != null)
                                        {
                                            <ul>
                                                @foreach (var activity in alwaysRule.AttachedActivityInfos)
                                                {
                                                    <li>@RenderActivity(activity)</li>
                                                }
                                            </ul>
                                        }
                                        else
                                        {
                                            @("-")
                                        }
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                }
            }
        </table>
    </div>
</div>
