@model IEnumerable<EventCategoryModel>
@using Kooboo.Commerce.Rules.Expressions.Formatting;
@{
    ViewBag.Title = "Overview".Localize();

    var formatter = new HtmlExpressionFormatter();
}

@helper RenderActivity(AttachedActivityInfo activity)
{
    @activity.Description
    if (activity.IsAsyncExeuctionEnabled)
    {
        if (activity.AsyncExecutionDelay > 0)
        {
            var delay = TimeSpan.FromSeconds(activity.AsyncExecutionDelay);
            var parts = new List<string>();
            if (delay.Days > 0)
            {
                parts.Add(delay.Days + "day" + (delay.Days > 1 ? "s" : ""));
            }
            if (delay.Hours > 0)
            {
                parts.Add(delay.Hours + "hour" + (delay.Hours > 1 ? "s" : ""));
            }
            if (delay.Minutes > 0)
            {
                parts.Add(delay.Minutes + "minute" + (delay.Minutes > 1 ? "s" : ""));
            }
            if (delay.Seconds > 0)
            {
                parts.Add(delay.Seconds + "second" + (delay.Seconds > 1 ? "s" : ""));
            }

            var delayText = String.Join(" and ", parts);

            <span title="@String.Format("Will execute in {0} when the event occurs".Localize(), delayText)">
                <!-- TODO: Change to clock-like icon -->
                @Html.IconImage("clock")
            </span>
        }
        else
        {
            <span title="@("Will execute asynchronously".Localize())">
                <!-- TODO: Change to clock-like icon -->
                @Html.IconImage("clock")
            </span>
        }
    }
}

@foreach (var category in Model)
{
    <div class="block">
        <div class="head light-blue">
            <h6 class="title">@category.Name</h6>
        </div>
        <div class="simple-table activity">
            <table>
                <thead>
                    <tr>
                        <th>WHEN</th>
                        <th>IF</th>
                        <th>THEN</th>
                        <th>ELSE</th>
                        <th>ALWAYS</th>
                    </tr>
                </thead>
                @foreach (var evnt in category.Events)
                {
                    var normlaRules = evnt.Rules.Where(r => r.Type == RuleType.Normal).ToList();
                    var alwaysRule = evnt.Rules.Find(r => r.Type == RuleType.Always);

                    <tbody>
                        @for (var i = 0; i < normlaRules.Count; i++)
                        {
                            var rule = normlaRules[i];

                            <tr>
                                @if (i == 0)
                                {
                                    <th rowspan="@normlaRules.Count">
                                        <a href="@Url.Action("List", RouteValues.From(Request.QueryString).Merge("eventType", rule.EventType))">@evnt.EventDisplayName</a>
                                    </th>
                                }
                                <td>
                                    <span class="conditions-expression">
                                        @Html.Raw(formatter.Format(rule.ConditionsExpression, evnt.EventType))
                                    </span>
                                </td>
                                <td class="common">
                                    <ul>
                                        @foreach (var activity in rule.ThenActivityInfos)
                                        {
                                            <li>@RenderActivity(activity)</li>
                                        }
                                    </ul>
                                </td>
                                <td class="common">
                                    @if (rule.ElseActivityInfos.Count() != 0)
                                    {
                                        <ul>
                                            @foreach (var activity in rule.ElseActivityInfos)
                                            {
                                                <li>@RenderActivity(activity)</li>
                                            }
                                        </ul>
                                    }
                                    else
                                    {
                                        @("-")
                                    }
                                </td>
                                @if (i == 0)
                                {
                                    <td rowspan="@normlaRules.Count" class="common always">
                                        @if (alwaysRule != null)
                                        {
                                            <ul>
                                                @foreach (var activity in alwaysRule.AttachedActivityInfos)
                                                {
                                                    <li>@RenderActivity(activity)</li>
                                                }
                                            </ul>
                                        }
                                        else
                                        {
                                            @("-")
                                        }
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                }
            </table>
        </div>
    </div>
}