@using Kooboo.Commerce.Api.Carts
@{
    var cart = ViewBag.ShoppingCart as ShoppingCart;
    var totalQty = cart.Items.Sum(it => it.Quantity);
} 

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-shopping-cart"></i> Cart
        @if (totalQty > 0)
        {
            <span class="badge" style="background:red">@totalQty</span>
        }
        <span class="caret"></span>
    </a>
    @if (cart.Items.Count > 0) { 
    <div class="dropdown-menu" role="menu">
        <div style="padding:10px;min-width:300px">
            <div>
                @foreach (var item in cart.Items)
                {
                    <div style="padding-bottom:10px;border-bottom:#eee 1px solid;margin-bottom:10px">
                        @item.Product.Name x @item.Quantity
                        <span class="pull-right" style="color:orange">&euro; @item.Total</span>
                    </div>
                }
            </div>
            <div>
                <div class="btn-group btn-group-justified">
                    <a href="@Url.FrontUrl().PageUrl("Cart")" class="btn btn-default"><i class="fa fa-shopping-cart"></i> Go to cart</a>
                    <a href="@Url.FrontUrl().PageUrl("Checkout")" class="btn btn-success"><i class="fa fa-euro"></i> Checkout</a>
                </div>
            </div>
        </div>
    </div>
    }
</li>