@using Kooboo.Commerce.Api.Customers
@{
    var customer = ViewBag.CurrentCustomer as Customer;
}
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.FrontUrl().PageUrl("Home")">Sample Business</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="@Url.FrontUrl().PageUrl("Home")">Home</a></li>
                @if (ViewBag.RootCategories != null)
                {
                    foreach (var category in ViewBag.RootCategories)
                    {
                        <li><a href="@Url.FrontUrl().PageUrl("Category", new { categoryId = category.Id })">@category.Name</a></li>
                    }
                }
            </ul>
            <form class="navbar-form navbar-left" role="search" action="@Url.FrontUrl().PageUrl("Search")" method="get">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="keywords" class="form-control search-keywords" style="width:200px" placeholder="@("Type keywords...")" value="@Request.QueryString["keywords"]" />
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i> @("Search".Localize())</button>
                        </span>
                    </div>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                @if (customer == null) { 
                    <li><a href="@Url.FrontUrl().PageUrl("Login")"><i class="fa fa-sign-in"></i> @("Sign in".Localize())</a></li>
                }
                else
                {
                    <li><a href="#"><i class="fa fa-user"></i> @customer.LastName</a></li>
                    <li>
                        <a href="#" data-toggle="submit-form" data-form="#logout-form"><i class="fa fa-sign-out"></i> @("Sign out".Localize())</a>
                    </li>
                }
                @Html.FrontHtml().RenderView("Cart-Mini")
            </ul>
        </div>
    </div>
</nav>
 
<form style="display:none" id="logout-form" method="post" action="@Url.FrontUrl().SubmissionUrl("LogoutCustomer")">
    @Html.AntiForgeryToken()
</form>

<script>
    $(function () {
        $('.search-keywords')
        .on('focus', function () {
            $(this).animate({
                width: '450px'
            }, 500);
        })
        .on('blur', function () {
            $(this).animate({
                width: '200px'
            }, 500);
        });

        // Search suggestion
        var engine = new Bloodhound({
            name: 'products',
            remote: {
                url: '/Kooboo-DataSource/SearchSuggestions?keywords=%QUERY',
                filter: function (data) {
                    return data.Products;
                }
            },
            datumTokenizer: function (d) {
                return Bloodhound.tokenizers.whitespace(d.val);
            },
            queryTokenizer: Bloodhound.tokenizers.whitespace
        });

        engine.initialize();

        $('.search-keywords').typeahead({
            highlight: true,
            hint: false
        }, {
            name: 'products',
            displayKey: 'Name',
            source: engine.ttAdapter(),
            templates: {
                suggestion: function (data) {
                    return $.format('<p><strong>{0}</strong></p> <span style="color:orange">&euro; {1}</span>', data.Name, data.Prices.From);
                }
            }
        });

        $('.search-keywords').on('typeahead:selected', function (e, data) {
            location.href = '/Product/' + data.Id;
        });
    });
</script>