@using Kooboo.Commerce.API;
@using Kooboo.Commerce.API.CmsSite;
@using Kooboo.Commerce.API.Orders;
@using Kooboo.Commerce.API.Locations;
@using Kooboo.Commerce.API.Payments;
@using Kooboo.CMS.Sites.Membership;
@using Kooboo.Commerce.Web.Mvc;
@{
    var commerce = Site.Current.Commerce();
    var memberAuth = this.Context.Membership();
    var member = memberAuth.GetMembershipUser();
    var paymentMethods = commerce.PaymentMethods.ToArray();
    var customer = commerce.Customers.ByAccountId(member.UUID).LoadWithAddresses().FirstOrDefault();
    var orders = customer == null ? null : commerce.Orders.ByCustomerId(customer.Id).LoadWithCustomer().ToArray();
}

@if (orders == null || orders.Count() <= 0)
{
    <p>@("No Orders.".Localize())</p>
}
else
{
    <div class="block framework clearfix">
        <div id="customerName">Customer @customer.FullName</div>
        <div id="customerDetail" class="common-form">
            <table class="simple-table">
                <thead>
                    <tr>
                        <th>
                            @("Id".Localize())
                        </th>
                        <th>
                            @("Customer".Localize())
                        </th>
                        <th>
                            @("Total".Localize())
                        </th>
                        <th>
                            @("Order Status".Localize())
                        </th>
                        <th>
                            @("Create Date".Localize())
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var p in orders)
                    {
                        <tr data-order-id="@p.Id">
                            <td>
                                <a href="/Commerce/Order/Detail?commerceName=@Request.QueryString["commerceName"]&id=@(p.Id)&return=/Commerce/Order">@p.Id</a>
                            </td>
                            <td>
                                @customer.FullName
                            </td>
                            <td>
                                @(p.Total.ToString("c"))
                            </td>
                            <td>
                                @(p.OrderStatus)
                            </td>
                            <td>
                                @(p.CreatedAtUtc.ToShortDateString())
                            </td>
                            <td>
                                @if (p.OrderStatus == OrderStatus.PaymentPending || p.OrderStatus == OrderStatus.Created)
                                {
                                    <a href="/Pay?orderId=@p.Id">Pay</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
