@using Kooboo.Commerce.API;
@using Kooboo.Commerce.API.Orders;
@using Kooboo.Commerce.API.Locations;
@using Kooboo.Commerce.API.Payments;
@using Kooboo.CMS.Sites.Membership;
@using Kooboo.Commerce.Web.Mvc;
@{
    var commerce = Site.Current.Commerce();
    var memberAuth = this.Context.Membership();
    var member = memberAuth.GetMembershipUser();
    var paymentMethods = commerce.PaymentMethods.ToArray();
    var customer = commerce.Customers.ByAccountId(member.UUID).LoadWithAddresses().FirstOrDefault();
    var addresses = customer == null ? Enumerable.Empty<Address>() : customer.Addresses;
    var countries = commerce.Countries.ToArray();
    var order = commerce.Orders.GetMyOrder(Context.Session.SessionID, member, true);
}

@functions {
    public ViewDataDictionary GetAddressViewData(OrderAddress model, string controlId, IEnumerable<Address> addresses, IEnumerable<Country> countries)
    {
        if (model == null)
        {
            model = new OrderAddress();
        }
        ViewDataDictionary<OrderAddress> viewData = new ViewDataDictionary<OrderAddress>(model);
        viewData.Add("Addresses", addresses);
        viewData.Add("Countries", countries);
        viewData.Add("ControlId", controlId);
        return viewData;
    }
}

@if (order == null)
{
    <p>@("No Order Created.".Localize())</p>
}
else
{
    <div class="block framework clearfix">
        <div id="customerName">Customer @order.Customer.FullName</div>
        <div id="customerDetail" class="common-form">
            <table>
                <tbody>
                    <tr>
                        <th>@("First Name".Localize())</th>
                        <td>
                            @order.Customer.FirstName
                        </td>
                    </tr>
                    <tr>
                        <th>@("Middle Name".Localize())</th>
                        <td>
                            @order.Customer.MiddleName
                        </td>
                    </tr>
                    <tr>
                        <th>@("Last Name".Localize())</th>
                        <td>
                            @order.Customer.LastName
                        </td>
                    </tr>
                    <tr>
                        <th>@("Gender".Localize())</th>
                        <td>
                            @order.Customer.Gender
                        </td>
                    </tr>
                    <tr>
                        <th>@("Phone".Localize())</th>
                        <td>
                            @order.Customer.Phone
                        </td>
                    </tr>
                    <tr>
                        <th>@("Country".Localize())</th>
                        <td>
                            @(order.Customer.Country == null ? "" : order.Customer.Country.Name)
                        </td>
                    </tr>
                    <tr>
                        <th>@("City".Localize())</th>
                        <td>
                            @order.Customer.City
                        </td>
                    </tr>
                    <tr>
                        <th>@("Email".Localize())</th>
                        <td>
                            @order.Customer.Email
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <form id="saveOrderForm" action="@Url.FrontUrl().SubmissionUrl("saveOrder")" method="post">
        @AntiForgery.GetHtml()
        <div class="block framework clearfix">
            <div class="simple-table">
                <table>
                    <thead>
                        <tr>
                            <th>
                                @("Product Name".Localize())
                            </th>
                            <th>
                                @("Variants".Localize())
                            </th>
                            <th>
                                @("Sku".Localize())
                            </th>
                            <th>
                                @("Unit Price".Localize())
                            </th>
                            <th>
                                @("Quantity".Localize())
                            </th>
                            <th>
                                @("Total Price".Localize())
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                @if (order.OrderItems != null)
                {
                    foreach (var p in order.OrderItems)
                    {
                <tr>
                    <td>
                        @p.ProductPrice.Product.Name
                    </td>
                    <td>
                        @foreach (var variant in p.ProductPrice.VariantValues)
                                {
                                <div class="block">
                                    <span>@variant.CustomField.Name</span>
                                    <span>:</span>
                                    <span>@variant.FieldValue</span>
                                </div>
                                }
                    </td>
                    <td>
                        @p.ProductPrice.Sku
                    </td>
                    <td>
                        @p.UnitPrice
                    </td>
                    <td>
                        <input name="OrderItem_Id" type="hidden" value="@p.Id" />
                        <input name="OrderItem_Quantity" type="number" value="@p.Quantity" onchange="CalculateItem(this);" />
                    </td>
                    <td>
                        <span data-price="@p.UnitPrice">@p.SubTotal</span>
                    </td>
                </tr>
                    }
                }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="block">
            <div class="order-form clearfix">
                <div class="columns">
                    <div class="span6">
                        <div class="common-form">
                            <fieldset>
                                <legend>
                                    @("Order info".Localize())
                                </legend>
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>@("Order Id".Localize())</th>
                                            <td>
                                                <span>@order.Id</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>@("Customer".Localize())</th>
                                            <td>
                                                <span>@order.Customer.FullName</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>@("Coupon".Localize())</th>
                                            <td>
                                                @Html.TextBox("Coupon", order.Coupon, new { @class = "medium" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>@("Order Status".Localize())</th>
                                            <td>
                                                @Enum.GetName(typeof(OrderStatus), order.OrderStatus)
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>@("Payment Status".Localize())</th>
                                            <td>
                                                @Enum.GetName(typeof(PaymentStatus), order.PaymentStatus)
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>@("Created At".Localize())</th>
                                            <td>
                                                <span>@order.CreatedAtUtc.ToShortDateString()</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </fieldset>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="common-form">
                            <fieldset>
                                <legend>
                                    <span>
                                        @("Order totals".Localize())
                                    </span>
                                </legend>
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>
                                                @("Subtotal".Localize())
                                            </th>
                                            <td>
                                                @Html.TextBox("SubTotal", order.SubTotal, new { @class = "medium", onchange = "Calculate();" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                @("Discount".Localize())
                                            </th>
                                            <td>
                                                @Html.TextBox("Discount", order.Discount, new { @class = "medium", onchange = "Calculate();" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                @("Total Tax".Localize())
                                            </th>
                                            <td>
                                                @Html.TextBox("TotalTax", order.TotalTax, new { @class = "medium", onchange = "Calculate();" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                @("Total Weight".Localize())
                                            </th>
                                            <td>
                                                @Html.TextBox("TotalWeight", order.TotalWeight, new { @class = "medium" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                @("Shipping Cost".Localize())
                                            </th>
                                            <td>
                                                @Html.TextBox("ShippingCost", order.ShippingCost, new { @class = "medium", onchange="Calculate();" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>@("Payment Method".Localize())</th>
                                            <td>
                                                <select id="PaymentMethodId" name="PaymentMethodId" onchange="Calculate();" class="medium">
                                                    <option value=""></option>
                                                    @foreach (var pm in paymentMethods)
                                        {
                                        <option value="@pm.Id" data-method="@pm.AdditionalFeeChargeMode" data-amount="@pm.AdditionalFeeAmount" data-percent="@pm.AdditionalFeePercent" @(pm.Id == (order.PaymentMethodId.HasValue ? order.PaymentMethodId.Value : 0) ? "selected='selected'" : "")>@pm.DisplayName</option>
                                        }
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                @("Payment Method Cost".Localize())
                                            </th>
                                            <td>
                                                @Html.TextBox("PaymentMethodCost", order.PaymentMethodCost, new { @class = "medium", onchange = "Calculate();" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                @("Total".Localize())
                                            </th>
                                            <td>
                                                @Html.TextBox("Total", order.Total, new { @class = "medium" })
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </fieldset>
                        </div>
                    </div>
                </div>

            </div>
            <div class="order-form clearfix">
                <div class="columns">
                    <div class="span6">
                        <div class="common-form">
                            <fieldset>
                                <legend>
                                    @("Shipping address".Localize())
                                </legend>
                                @Html.FrontHtml().RenderView("EditAddress", GetAddressViewData(order.ShippingAddress, "ShippingAddress", addresses, countries))
                            </fieldset>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="common-form">
                            <fieldset>
                                <legend>
                                    @("Billing address".Localize())
                                </legend>
                                @Html.FrontHtml().RenderView("EditAddress", GetAddressViewData(order.ShippingAddress, "BillingAddress", addresses, countries))
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            <div class="common-form order-form">
                <fieldset>
                    <legend>
                        @("Order remark".Localize())
                    </legend>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    @Html.TextArea("Remark", order.Remark, new { style = "height: 96px; width: 100%;" })
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>
            </div>
        </div>
        <div>
            <button type="submit">@("Save Order".Localize())</button>
            <button type="button" onclick="GoPay();">@("PAY".Localize())</button>
        </div>
    </form>
    <script type="text/javascript">
        $(function () {
            $('#saveOrderForm').ajaxForm({
                success: function (response, status, xhr, ele) {
                    alert(response.Messages[0]);
                }
            });
        });

        function Calculate() {
            var op = $('#PaymentMethodId').find('option:selected');
            var chargeMethod = op.attr('data-method') || 'ByAmount';
            var amount = parseFloat(op.attr('data-amount')) || 0;
            var percent = parseFloat(op.attr('data-percent')) || 0;
            var subtotal = parseFloat($("#SubTotal").val()) || 0;
            var discount = parseFloat($("#Discount").val()) || 0;
            var tax = parseFloat($("#TotalTax").val()) || 0;
            var shippingCost = parseFloat($("#ShippingCost").val()) || 0;
            var cost = chargeMethod == 'ByAmount' ? amount : (percent > 0 ? subtotal * percent : 0); // 0: charge by amount 1: charge by percent
            if (cost <= 0)
                cost = parseFloat($('#PaymentMethodCost').val()) || 0;
            var total = subtotal - discount + tax + shippingCost + cost;
            $('#PaymentMethodCost').val(cost);
            $('#Total').val(total);
        }

        function CalculateItem (ele) {
            var quantity = parseInt($(ele).val());
            var subTotalEle = $(ele).closest('td').next().find('span[data-price]');
            var price = parseFloat(subTotalEle.attr('data-price'));
            var oldSubTotal = parseFloat(subTotalEle.text());
            var newSubTotal = price * quantity;
            subTotalEle.text(newSubTotal);
            var subTotal = parseFloat($("#SubTotal").val());
            $("#SubTotal").val(subTotal - oldSubTotal + newSubTotal);
            Calculate();
        }

        function GoPay() {
            var paymentMethodId = $('#PaymentMethodId').val();
            if (!paymentMethodId) {
                alert('Please choose a payment method.');
                return;
            }

            $.post('@(Url.FrontUrl().SubmissionUrl("CreatePayment"))', {
                orderId: @(order.Id),
                paymentMethodId: paymentMethodId,
                returnUrl: '/',
                __RequestVerificationToken: $(':hidden[name="__RequestVerificationToken"]').val()
            })
            .then(function (result) {
                if (!result.Success) {
                    alert(result.Messages.join('\n'));
                } else {
                    window.location.href = result.Model.RedirectUrl;
                }
            });
        }
    </script>

}
