<form class="common-form" id="retailprice-discount-form">
    <table>
        <tbody>
            <tr>
                <th>@("Discount mode".Localize())</th>
                <td>
                    <select name="DiscountMode" class="medium" data-bind="value: discountMode">
                        <option value="ByAmount">@("ByAmount".Localize())</option>
                        <option value="ByPercent">@("ByPercent".Localize())</option>
                    </select>
                </td>
            </tr>
            <tr data-bind="visible: discountMode() === 'ByAmount'">
                <th>@("Discount amount".Localize())</th>
                <td>
                    <input type="text" name="DiscountAmount" class="medium" data-bind="value: discountAmount"
                           data-val="true"
                           data-val-required="*"
                           data-val-number="@("Please enter a number".Localize())" />
                    <span data-valmsg-for="DiscountAmount" data-valmsg-replace="true"></span>
                </td>
            </tr>
            <tr data-bind="visible: discountMode() === 'ByPercent'">
                <th>@("Discount percent".Localize())</th>
                <td>
                    <input type="text" name="DiscountPercent" class="medium" data-bind="value: discountPercentOff"
                           data-val="true"
                           data-val-required="*"
                           data-val-digits="@("Please entery an integer".Localize())" />
                    % @("OFF".Localize())
                    <span data-valmsg-for="DiscountPercent" data-valmsg-replace="true"></span>
                </td>
            </tr>
        </tbody>
    </table>
</form>

<script>

    $(function () {

        var editor = ActivityEditor.current();
        var model = new ViewModel();

        editor.on('databound', function (sender, args) {
            ko.applyBindings(model, document.getElementById('retailprice-discount-form'));

            var config = editor.activityConfig();
            if (config) {
                ko.mapping.fromJS(config, {}, model);
            }
        });

        editor.on('saving', function (sender, args) {
            var config = ko.mapping.toJS(model);
            editor.activityConfig(config);
        });

        function ViewModel() {
            var self = this;

            self.discountMode = ko.observable('ByAmount');

            self.discountAmount = ko.observable();

            self.discountPercentOff = ko.observable();
        }

    });

</script>