@model HalRuleEditorModel

<style type="text/css">
    .checkbox-field { width: 25%; }
</style>
@using (Html.BeginForm("SaveRule", "Hal", RouteValues.From(Request.QueryString), FormMethod.Post, new Dictionary<string, object> { { "id", "resource-rule-form" } }))
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.Id)
    <div class="common-form">
        <table>
            @Html.EditorFor(m => m.Name, new { HtmlAttributes = new { @class = "medium" } })
            <tr>
                <th>
                    <label>
                        @("Conditions".Localize())
                    </label>
                </th>
                <td>
                    <div class="conditions-expression">
                        <span class="container">@Html.Raw(new Kooboo.Commerce.Web.Areas.Commerce.Models.Rules.ConditionsExpressionPrettifier().Prettify(Model.ConditionsExpression, typeof(HalContext)))</span>
                        <a class="action add-rule" href="#" onclick="EditRule();">@Html.IconImage("plus-small")</a>
                        <a class="action edit-rule" href="#" onclick="EditRule();">@Html.IconImage("edit-small")</a>
                        <a class="action del-rule" href="#" onclick="DeleteRule();">@Html.IconImage("minus-small")</a>
                    </div>
                    @Html.HiddenFor(m => m.ConditionsExpression)
                </td>
            </tr>
            <tr>
                <th>
                    <label>
                        @("Resources".Localize())
                    </label><br />
                    <button type="button" onclick="$('input:checkbox[name=Resources]').prop('checked', true);">@("Select All".Localize())</button><br/><br />
                    <button type="button" onclick="$('input:checkbox[name=Resources]').prop('checked', false);">@("Unselect All".Localize())</button><br /><br />
                    <button type="button" onclick="$('input:checkbox[name=Resources]').each(function() { $(this).prop('checked', !$(this).prop('checked')); });">@("Reverse Select".Localize())</button>
                </th>
                <td>
                    @foreach (var res in ViewBag.Resources)
                    {
                        <div class="checkbox-field">
                            <input name="Resources" type="checkbox" value="@res.ResourceName" @(Model.Resources.Any(o => o.ResourceName == res.ResourceName) ? "checked='checked'" : "")>
                            <label for="Resources" class="inline">@res.ResourceName</label>
                        </div>
                    }
                </td>
            </tr>
        </table>
    </div>
}
@Html.Partial("_ConditionsEditor")

<script type="text/javascript">
    $(function () {
        ConditionsEditor.init({
            contextModelTypeName: '@Html.Raw(ViewBag.CurrentEventType)',
            save: function (exp) {
                Highlight(exp, function () {
                    $('#ConditionsExpression').val(exp);
                    ConditionsEditor.close();
                    InitRuleButtons();
                });
            }
        });

        InitRuleButtons();
    });
    function InitRuleButtons()
    {
        var exp = $('#ConditionsExpression').val();
        if (exp.length <= 0)
        {
            $('a.add-rule').show();
            $('a.edit-rule').hide();
            $('a.del-rule').hide();
        } else {
            $('a.add-rule').hide();
            $('a.edit-rule').show();
            $('a.del-rule').show();
        }
    }
    function EditRule() {
        ConditionsEditor.open({
            expression: $('#ConditionsExpression').val()
        });
    }

    function DeleteRule() {
        $('#ConditionsExpression').val(null);
        $('div.conditions-expression>span.container').empty();
        InitRuleButtons();
    }

    function Highlight(expression, func) {
        var commerceName = '@(Request["commerceName"])';
        return $.post('@Url.Action("HighlightConditionsExpression")', { commerceName: commerceName, expression: expression })
        .then(function (data) {
            $('div.conditions-expression>span.container').html(data.conditionsExpression);
            if (typeof (func) == "function") { func(); }
        });
    }
</script>

