@using Kooboo.Commerce.Web.Mvc;
@using Kooboo.Commerce.Orders;
@using Kooboo.Commerce.Payments;
@model Kooboo.Commerce.Orders.Order
@{
    ViewBag.Title = "Create an Order".Localize();
    Layout = "~/Views/Shared/Blank.cshtml";
}

@section Panel{
    <ul class="header-panel">
    <li>
        <a href="/Commerce/Order?commerceName=@Request.QueryString["commerceName"]">
            @Html.IconImage("back") @("Cancel".Localize())
        </a>
    </li>
    <li>
        <a href="javascript:;" onclick="window.leaveConfirm.pass(); $('form').submit();">
            @Html.IconImage("save") @("Save Order".Localize())
        </a>
    </li>
    <li>
        <a href="/Commerce/Order?commerceName=@Request.QueryString["commercename"]">
            @Html.IconImage("cancel") @("Cancel".Localize())
        </a>
    </li>
</ul>
}


<div class="block">
    <div class="wizard">
        <div class="container">
            <span>@("Select a Customer".Localize())</span>
            <span>@("Select Products".Localize())</span>
            <span class="active">@("Fill Order Info".Localize())<b></b></span>
        </div>
    </div>
    @if (TempData["Message"] != null)
    {
        <div class="message">
            @TempData["Message"]
        </div>
    }
    @using (Html.BeginForm("Save", "Order", RouteValues.From(Request.QueryString)))
    {
        <div class="order-form clearfix">
			<div class="columns">
				<div class="span6">
					<div class="common-form">
					<fieldset>
						<legend>
							@("Order info".Localize())
						</legend>
						<table>
							<tbody>
								<tr>
									<th>@("Order Id".Localize())</th>
									<td>
										<span>@Model.Id</span>
									</td>
								</tr>
								<tr>
									<th>@("Customer".Localize())</th>
									<td>
										<span>@Model.Customer.FullName</span>
									</td>
								</tr>
								<tr>
									<th>@("Shopping Cart".Localize())</th>
									<td>
										@if(Model.ShoppingCart == null)
										{
											<span>No Shopping Cart</span>
										}
										else
										{
											<a href="/Commerce/ShoppingCart/@(Model.ShoppingCart.Id)?commerceName=@Request.QueryString["commerceName"]">@(Model.ShoppingCart.Id)</a>
										}
									</td>
								</tr>
								<tr>
									<th>@("Coupon".Localize())</th>
									<td>
										@Html.TextBoxFor(i => i.Coupon, new { @class = "medium" })
									</td>
								</tr>
								<tr>
									<th>@("Order Status".Localize())</th>
									<td>
										@Html.DropDownListFor(i => i.OrderStatus, EnumUtil.ToSelectList<OrderStatus>(), new { @class = "medium" })
									</td>
								</tr>
								<tr>
									<th>@("Created At".Localize())</th>
									<td>
										<span>@Model.CreatedAtUtc.ToShortDateString()</span>
									</td>
								</tr>
							</tbody>
						</table>
					</fieldset>
				</div>
				</div>
				<div class="span6">
					<div class="common-form">
                <fieldset>
                    <legend>
                        <span>
                            @("Order totals".Localize())
                        </span>
                    </legend>
                    <table>
                        <tbody>
                            <tr>
                                <th>
                                    @("Subtotal".Localize())
                                </th>
                                <td>
                                    @Html.TextBoxFor(i => i.SubTotal, new { @class = "medium", onchange = "Calculate();" })
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @("Discount".Localize())
                                </th>
                                <td>
                                    @Html.TextBoxFor(i => i.Discount, new { @class = "medium", onchange = "Calculate();" })
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @("Total Tax".Localize())
                                </th>
                                <td>
                                    @Html.TextBoxFor(i => i.TotalTax, new { @class = "medium", onchange = "Calculate();" })
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @("Total Weight".Localize())
                                </th>
                                <td>
                                    @Html.TextBoxFor(i => i.TotalWeight, new { @class = "medium" })
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @("Shipping Cost".Localize())
                                </th>
                                <td>
                                    @Html.TextBoxFor(i => i.ShippingCost, new { @class = "medium", onchange="Calculate();" })
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @("Payment Method Cost".Localize())
                                </th>
                                <td>
                                    @Html.TextBoxFor(i => i.PaymentMethodCost, new { @class = "medium", onchange = "Calculate();" })
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @("Total".Localize())
                                </th>
                                <td>
                                    @Html.TextBoxFor(i => i.Total, new { @class = "medium" })
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>
            </div>
				</div>
			</div>
            
        </div>
        <div class="order-form clearfix">
			<div class="columns">
				<div class="span6">
					<div class="common-form">
                <fieldset>
                    <legend>
                        @("Shipping address".Localize())
                    </legend>
                    <div>
                        <div>
                            @if(Model.ShippingAddress == null)
                            {
                                <span>@("No Shipping Address".Localize())</span>
                                <a href="javascript:;" onclick="$('#shippingAddress').toggle();">@("Add Shipping Address".Localize())</a>
                            }
                            else
                            { 
                                <span>@string.Format("{0} {1}", Model.ShippingAddress.FirstName, Model.ShippingAddress.LastName)</span>
                                <span>@Model.ShippingAddress.Address1</span>
                                <a href="javascript:;" onclick="$('#shippingAddress').toggle();">@("Edit Shipping Address".Localize())</a>
                            }
                        </div>
                        <div id="shippingAddress" class="hide">
                            @Html.Partial("_Address", Model.ShippingAddress, Kooboo.Commerce.Web.Mvc.FormHelper.AppendOrReplace(ViewData, "ControlId", "ShippingAddress"))
                        </div>
                    </div>
                </fieldset>
            </div>
				</div>
				<div class="span6">
					<div class="common-form">
                        <fieldset>
                            <legend>
                                @("Billing address".Localize())
                            </legend>
                            <div>
                                <div>
                                    @if (Model.BillingAddress == null)
                                    {
                                        <span>@("No Billing Address".Localize())</span>
                                        <a href="javascript:;" onclick="$('#billingAddress').toggle();">@("Add Billing Address".Localize())</a>
                                    }
                                    else
                                    {
                                        <span>@string.Format("{0} {1}", Model.BillingAddress.FirstName, Model.BillingAddress.LastName)</span>
                                        <span>@Model.BillingAddress.Address1</span>
                                        <a href="javascript:;" onclick="$('#billingAddress').toggle();">@("Edit Shipping Address".Localize())</a>
                                    }
                                </div>
                                <div id="billingAddress" class="hide">
                                    @Html.Partial("_Address", Model.BillingAddress, Kooboo.Commerce.Web.Mvc.FormHelper.AppendOrReplace(ViewData, "ControlId", "BillingAddress"))
                                </div>
                            </div>
                        </fieldset>
            </div>
				</div>
			</div>
        </div>
        <div class="common-form order-form">
            <fieldset>
                <legend>
                    @("Order Custom Fields".Localize())
                </legend>
                <table id="customFields">
                    <thead>
                        <tr>
                            <th>@("Name".Localize())</th>
                            <th>@("Value".Localize())</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.CustomFields != null)
                        {
                            foreach (var cf in Model.CustomFields)
                            {
                                <tr>
                                    <td>@Html.TextBox("CustomFields.Name", cf.Name)</td>
                                    <td>@Html.TextBox("CustomFields.Value", cf.Value)</td>
                                    <td><a href="javascript:;" onclick="RemoveCustomField(this);">@Html.IconImage("minus small")</a></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <a href="javascript:;" class="action" onclick="AddCustomField();">
                    @Html.IconImage("plus small")
                </a>
            </fieldset>
        </div>
        <div class="common-form order-form">
            <fieldset>
                <legend>
                    @("Order remark".Localize())
                </legend>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                @Html.TextAreaFor(i => i.Remark, new { style = "height: 96px; width: 100%;" })
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
        </div>
    }
    <div class="process-button">
        <a href="@ViewBag.Return" class="button">
            @("Previous".Localize())
        </a>
    </div>
</div>
<script type="text/javascript">
    function Calculate() {
        var subtotal = parseFloat($("#SubTotal").val()) || 0;
        var discount = parseFloat($("#Discount").val()) || 0;
        var tax = parseFloat($("#TotalTax").val()) || 0;
        var shippingCost = parseFloat($("#ShippingCost").val()) || 0;
        var cost = parseFloat($('#PaymentMethodCost').val()) || 0;
        var total = subtotal - discount + tax + shippingCost + cost;
        $('#Total').val(total);
    }

    function AddCustomField() {
        var tr = $('<tr></tr>');
        var name = $('<input type="text" name="CustomFields.Name" value="" />');
        var value = $('<input type="text" name="CustomFields.Value" value="" />');
        var icon = $('<a href="javascript:;" onclick="RemoveCustomField(this);"><img class="icon minus small" src="/Images/invis.gif"></a>');
        tr.append($('<td></td>').append(name));
        tr.append($('<td></td>').append(value));
        tr.append($('<td></td>').append(icon));
        $('#customFields').append(tr);
    }

    function RemoveCustomField(ele) {
        var tr = $(ele).closest('tr');
        tr.remove();
    }
</script>
