@using Kooboo.Commerce.Products;
@using Kooboo.Commerce.Orders;
@model Kooboo.Commerce.Orders.Order
@{
    Layout = "~/Areas/Commerce/Views/Shared/Blank.cshtml";
    ViewBag.Title = "Create an order".Localize();
}

@functions {
    public int GetProductPriceQuantity(ProductPrice price, Order order)
    {
        if (order.OrderItems != null)
        {
            var item = order.OrderItems.FirstOrDefault(o => o.ProductPriceId == price.Id);
            if (item != null)
            {
                return item.Quantity;
            }
        }
        return 0;
    }
}

@section Panel{
    <ul class="header-panel">
        <li>
            <a href="/Commerce/Order?siteName=@Request.QueryString["siteName"]&commerceName=@Request.QueryString["commerceName"]">
                @Html.IconImage("back") @("Cancel".Localize())
            </a>
        </li>
    </ul>
}


<div class="block">
    <div class="wizard">
        <div class="container">
            <span>@("Select a Customer".Localize())</span>
            <span class="active">@("Select Products".Localize())<b></b></span>
            <span>@("Fill Order Info".Localize())</span>
        </div>
    </div>
    @if (TempData["Message"] != null)
    {
        <div class="message">
            @TempData["Message"]
        </div>
    }
    <div class="toolbar">
        <a class="button" href="javascript:;" onclick="OpenProductList();">Add</a>
    </div>
    @using (Html.BeginForm("RemoveProduct", "Order", RouteValues.From(Request.QueryString)))
    {
        <div class="simple-table">
            <table>
                <thead>
                    <tr>
                        <th>
                            @("Product Name".Localize())
                        </th>
                        <th>
                            @("Variants".Localize())
                        </th>
                        <th>
                            @("Sku".Localize())
                        </th>
                        <th>
                            @("Unit Price".Localize())
                        </th>
                        <th>
                            @("Quantity".Localize())
                        </th>
                        <th>
                            @("Total Price".Localize())
                        </th>
                        <th class="action"></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.OrderItems != null)
                    {
                        foreach (var p in Model.OrderItems)
                        {
                            <tr>
                                <td>
                                    @p.ProductPrice.Product.Name
                                </td>
                                <td>
                                    @foreach (var variant in p.ProductPrice.VariantValues)
                                    {
                                        <div class="block">
                                            <span>@variant.CustomField.Name</span>
                                            <span>:</span>
                                            <span>@variant.FieldValue</span>
                                        </div>
                                    }
                                </td>
                                <td>
                                    @p.ProductPrice.Sku
                                </td>
                                <td>
                                    @p.UnitPrice
                                </td>
                                <td>
                                    @p.Quantity
                                </td>
                                <td>
                                    @p.SubTotal
                                </td>
                                <td>
                                    <a href="/Commerce/Order/RemoveProduct?siteName=@Request.QueryString["siteName"]&commerceName=@Request.QueryString["commerceName"]&id=@p.ProductPriceId" title="@("Remove".Localize())">@Html.IconImage("minus")</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    }
    <div class="wizard-buttons">
        <a href="@ViewBag.Return" class="button gray">&laquo; @("Back".Localize())</a>
        <a href="/Commerce/Order/FillOrderInfo?siteName=@Request.QueryString["siteName"]&commerceName=@Request.QueryString["commerceName"]" class="button">@("Next".Localize()) &raquo;</a>
    </div>
</div>
<div id="productPriceList" class="hide">
    <iframe src="/Commerce/Order/ProductList?siteName=@Request.QueryString["siteName"]&commerceName=@Request.QueryString["commerceName"]" style="width: 840px; height: 490px;" frameborder="0">

    </iframe>
</div>
<script type="text/javascript">
    $(function () {
        var table = $('.common-table table');
        table.scrollFixTable();
        table.grid();
    });

    function OpenProductList() {
        utils.showDialog('#productPriceList', 'Select Products', null, null, null, null, {
            buttons: null, create: function () {
                $(document).dialogScroll();
            }
        })
    }

    function SaveProducts() {
        window.leaveConfirm.pass();
        $('#productPriceList form').submit();
        $('#productPriceList').dialog('close');
    }

    function CancelProducts() {
        $('#productPriceList').dialog('close');
    }

    function ChangeQuantity(ele) {
        var val = $(ele).val();
        var row = $(ele).closest('tr');
        row.removeClass('active');
        if (val && val != '') {
            if (parseInt(val) > 0) {
                row.addClass('active');
            }
        }
    }
</script>
