 @{
     var product = ViewBag.Product;
     var accessories = product == null ? null : product.Accessories;
}

<div id="recommendations-holder">
    <div id="alsoBought" style="font-size: 12px;">
        <div class="title">
            Accessories
        </div>
        <div class="item">
            <div id="pro" style="margin: 0; font-size: 11px;">
                @if (accessories != null)
                {
                    foreach (var item in accessories)
                    {
                        var image = item.GetImage("List");
                        var price = item.PriceList.Length > 0 ? item.PriceList[0] : null;

                        <div style="width: 152px;">
                            <div class="productpicture">
                                <a href="/product/@item.Id">
                                    @if (image != null)
                                    {
                                        <img id="imgProduct" border="0" src="@image.ImageUrl" title="@item.Name" alt="@item.Name">
                                    }
                                </a>
                            </div>
                            <div class="content">
                                <a class="GreyLink" href="/product/@item.Id">
                                    <span>@item.Name</span>
                                </a>
                            </div>
                            <div style="float: left; width: 60px;">
                                <ul class="star-rating"><li class="current-rating" style="width:40px"></li></ul>
                            </div>
                            @if (price != null)
                            {
                                <div class="Price">
                                    <a class="GreyLink" href="/product/@item.Id" rel="nofollow">
                                        <span class="Price_normal">
                                            € @price.FinalRetailPrice
                                        </span>
                                    </a>
                                </div>
                            }
                        </div>
                    }
                }
            </div>
        </div>
        <div class="bottom">
        </div>
    </div>
</div>