@model ActivityBindingEditorModel

@Html.ValidationSummary(true)
@Html.HiddenFor(m => m.Id)
@Html.HiddenFor(m => m.EventClrType)
@Html.HiddenFor(m => m.ActivityName)
@Html.HiddenFor(m => m.IsConfigurable)
<table id="activity-binding-form">
    <tbody>
        <tr>
            <th>@("Activity".Localize())</th>
            <td>
                @Model.ActivityDisplayName
            </td>
        </tr>
        @Html.EditorFor(m => m.Description)
        @Html.EditorFor(m => m.Priority)
        @Html.EditorFor(m => m.IsEnabled)
    </tbody>
</table>

<p class="buttons">
    <button type="submit" data-ajaxform="">@("Next".Localize()) »</button>
    <a href="#" class="button gray btn-cancel">@("Cancel".Localize())</a>
</p>

<script>
    window.ajaxFormParam = {
        success: function (result) {
            if (result.Model) {
                window.parent.ViewModel.currentActivityRule.onActivitySaved(result.Model.AttachedActivityId, result.Model.ConfigUrl);
                if (result.Model.ConfigUrl) {
                    location.href = result.Model.ConfigUrl;
                }
            }
        }
    };

    $('.btn-cancel').on('click', function () {
        window.parent.ViewModel.currentActivityRule.cancelAttachActivity();
    });
</script>