@using Kooboo.Web.Url
@{
    var brands = ViewBag.Brands;
    var featuredProduct = ViewBag.FeaturedProduct;
    var accessories = ViewBag.Accessories;

    var searchResult = ViewBag.SearchResult;
    var facets = searchResult == null ? null : searchResult.Facets;
    var products = searchResult == null ? null : searchResult.Products;
}

<div style="font-size:16px;padding:10px;background:#eee;">
    @if (facets != null) { 
        var selectedFacets = new Dictionary<string, string>();
        
        foreach (var facet in facets)
        {
            if (String.IsNullOrEmpty(Request.QueryString[facet.Name])) { 
            <div style="margin-bottom:5px">
                <span style="display:inline-block;min-width:100px;text-align:right">@facet.Name:</span>
                <span>
                    @foreach (var value in facet.Values)
                    {
                        <a href="@value.Url" style="display:inline-block;margin-left:10px;">@value.Term (@value.Hits)</a>
                    }
                </span>
            </div>
            }
            else
            {
                selectedFacets.Add(facet.Name, Request.QueryString[facet.Name]);
            }
        }

        if (selectedFacets.Count > 0)
        {
            <div style="padding-top:10px">
                <strong>You selected:</strong>
                @foreach (var facet in selectedFacets)
                {
                    var url = UrlUtility.RemoveQuery(Request.RawUrl, facet.Key);
                    
                    <span style="display:inline-block;padding:2px 5px;background:orange;margin-right:5px;color:#fff">
                        @facet.Value
                        <a href="@url" style="color:#fff;text-decoration:none;font-weight:bold;">&times;</a>
                    </span>
                }
            </div>
        }
    }
    <br/><br/>
    <h4>Search results:</h4>
    @if (products != null)
    {
        <div>
            @foreach (var product in products)
            {
                <div style="padding: 10px;border:orange 1px solid;border-radius:5px;margin-top:10px;background:#fff;">
                    <div><a href="/product/@product.Id">@product.Name</a></div>
                    <div style="margin-top:5px">
                        <span style="color:orange">$@(product.LowestPrice) - $@(product.HighestPrice)</span>
                    </div>
                    <div style="margin-top:5px">
                        @foreach (var field in product.VariantFieldValues)
                        {
                            <div style="margin-top:5px">
                                <span>@field.Key:</span>
                                <span>
                                    @foreach (var value in field.Value)
                                    {
                                        <span style="padding:0 5px; background:orange;display:inline-block;color:#fff;">@value</span>
                                    }
                                </span>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    }
</div>


<div class="homebanner1 orbit" style="overflow: hidden; width: 630px; height: 200px;">
    <a href="http://newshoppage.vitaminstore.eu/Health/Vitaminen-en-mineralen/mineralen/Magnesium-Tauraat-voor-de-zorg-van-spieren-VitaminSports-ontspanning/P118" style="z-index: 3; display: block;"><img src="/Cms_Data/Sites/Vitaminstore/flash/images/45Magnesium-Tauraat.jpg" alt="" border="0"></a>
</div>