@using Kooboo.Commerce.Recommendations.CMSIntegration
@{
    var recommendations = ViewBag.CurrentProductRecommendations as IEnumerable<ProductRecommendation>;
}

@if (recommendations != null && recommendations.Any())
{
    <h3>@("Recommendations".Localize())</h3>
    <div class="row">
        @foreach (var recommendation in recommendations)
        {
            var item = recommendation.Product;
            var image = item.GetImage("List");

            <div class="col-sm-2">
                <div class="thumbnail">
                    @if (image != null)
                    {
                        <img src="@image.ImageUrl" alt="@item.Name" class="img-responsive" />
                    }
                    else
                    {
                        <img src="http://placehold.it/300x200" class="img-responsive" />
                    }
                    <div class="caption">
                        <h4>
                            <a href="@Url.FrontUrl().PageUrl("Product", new { productId = @item.Id })">@item.Name</a>
                        </h4>
                        <p style="font-size:16px;font-weight:bold;color:orange">
                            <span>&euro; @item.Prices.Lowest.ToString("f2")</span>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
}  