@model RecommendationsTabModel

@Html.HiddenFor(m => m.ProductId)
<div class="simple-table">
    <div>
        <input type="text" id="recommendation-product-searchbox" class="large" placeholder="@("Type keyword to search product")" />
    </div>
    <table style="margin-top:10px" id="recommendation-list-table">
        <thead>
            <tr>
                <th>@("Recommended Product Name".Localize())</th>
                <th>@("Brand".Localize())</th>
                <th>@("Rank".Localize())</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="empty">
                <td colspan="100">
                    @("Empty".Localize())
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script type="text/html" id="RecommendationListItemTemplate">
    <tr>
        <td>
            ${ProductName}
            <input type="hidden" name="Recommendations[${Index}].ProductId" value="${ProductId}" />
            <input type="hidden" name="Recommendations[${Index}].ProductName" value="${ProductName}" />
        </td>
        <td>
            ${BrandName}
            <input type="hidden" name="Recommendations[${Index}].BrandName" value="${BrandName}" />
        </td>
        <td>
            <input type="text" name="Recommendations[${Index}].Rank" class="mini" value="${Rank}" />
        </td>
        <td>
            <a href="#" data-toggle="remove-product-recommendation">@Html.IconImage("minus small")</a>
        </td>
    </tr>
</script>

<script>
    (function ($) {

        var model = @Html.Raw(Model.ToJson());
        var $table = $('#recommendation-list-table');

        $(function () {

            $.each(model.Recommendations, function (i, item) {
                appendItem(item, i);
            });

            $table.on('click', '[data-toggle="remove-product-recommendation"]', function (e) {
                var $item = $(this).closest('tr');
                removeItem($item);
                e.preventDefault();
            });

            initSearchBox();
        });

        function appendItem(item, index) {
            var html = renderItem(item, index);           
            $table.find('.empty').hide();
            $table.find('tbody').append(html);
        }

        function removeItem($item) {
            $item.remove();
            adjustItemIndics();
            if (totalItems() === 0) {
                $table.find('.empty').show();
            }
        }

        function totalItems() {
            return $table.find('tbody').find('tr:not(.empty)').length;
        }

        function renderItem(item, index) {
            var template = $('#RecommendationListItemTemplate').html();
            return template.replace(/\$\{ProductId\}/ig, item.ProductId)
                           .replace(/\$\{ProductName\}/ig, item.ProductName)
                           .replace(/\$\{BrandName\}/ig, item.BrandName)
                           .replace(/\$\{Rank\}/ig, item.Rank)
                           .replace(/\$\{Index\}/ig, index);
        }

        function adjustItemIndics() {
            $table.find('tbody').find('tr:not(.empty)').each(function (i, row) {
                changeItemIndex($(row), i);
            });
        }

        function changeItemIndex($item, index) {
            var html = $item.html();
            html = html.replace(/\[\d+\]/ig, '[' + index + ']');
            $item.html(html);
        }

        function initSearchBox() {
            $('#recommendation-product-searchbox').autocomplete({
                source: '/Kooboo.Commerce.Recommendations/Recommendation/SearchProducts',
                minLength: 2,
                select: function (event, ui) {
                    var item = {
                        ProductId: ui.item.id,
                        ProductName: ui.item.name,
                        BrandName: ui.item.brandName,
                        Rank: 0
                    };

                    appendItem(item, $table.find('tbody').find('tr:not(.empty)').length);
                }
            })
            .data('ui-autocomplete')._renderItem = function (ul, item) {
                return $('<li>').append('<a>' + item.name + ' - ' + item.brandName + '</a>')
                                .appendTo(ul);
            };
        }

    })(jQuery);
</script>