@model Kooboo.CMS.Sites.DataSource.DataSourceSetting

<div id="generic-commerce-datasource" class="block common-form">
    <table>
        <tr data-bind="visible: DataSource.Filters() && DataSource.Filters().length > 0" style="display:none">
            <th>
                @("Filters".Localize())
            </th>
            <td>
                <div data-bind="foreach: DataSource.Settings.Filters" style="margin-bottom:10px">
                    <div data-bind="visible: !IsEditing()">
                        <span data-bind="text: Name"></span>
                        <span style="color:#888;">
                            <span data-bind="text: $root.GetFilterParametersDisplayText($data)"></span>
                        </span>
                        <span>
                            <a href="#" data-bind="click: $root.EditFilter" style="display:inline-block">@Html.IconImage("edit small")</a>
                            <a href="#" data-bind="click: $root.RemoveFilter" style="display:inline-block">@Html.IconImage("minus small")</a>
                        </span>

                        <input type="hidden" data-bind="attr: { name: 'DataSource.CommerceDataSource.Settings.Filters[' + $index() + '].Name' }, value: Name" />
                        <!-- ko foreach: ParameterValues -->
                        <input type="hidden" data-bind="attr: { name: 'DataSource.CommerceDataSource.Settings.Filters[' + $parentContext.$index() + '].ParameterValues[' + $index() + '].ParameterName' }, value: ParameterName" />
                        <input type="hidden" data-bind="attr: { name: 'DataSource.CommerceDataSource.Settings.Filters[' + $parentContext.$index() + '].ParameterValues[' + $index() + '].ParameterValue' }, value: ParameterValue" />
                        <!-- /ko -->
                    </div>
                    <div data-bind="visible: IsEditing" style="margin-top:10px;padding:10px;background:#eee;">
                        <div class="clearfix" style="margin-bottom:10px;">
                            <span data-bind="if: IsNew">
                                <select data-bind="options: $root.DataSource.Filters, optionsText: 'Name', optionsValue: 'Name', value: Name"></select>
                            </span>
                            <span data-bind="if: !IsNew()">
                                <span data-bind="text: Name"></span>
                            </span>
                        </div>

                        <fieldset data-bind="visible: ParameterValues().length > 0">
                            <legend>@("Filter Parameters".Localize())</legend>
                            <div style="padding-top:10px">
                                <table>
                                    <tbody data-bind="foreach: { data: ParameterValues, afterRender: $root.ReparseValidation }">
                                        <tr>
                                            <th>
                                                <span data-bind="text: ParameterName"></span>
                                            </th>
                                            <td>
                                                <input type="text" data-bind="value: ParameterValue, attr: { name: 'Filter_' + $parentContext.$index() + '_ParameterValue_' + $index() }"
                                                       data-val="true"
                                                       data-val-required="*" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </fieldset>

                        <p>
                            <a href="#" data-bind="click: $root.CommitFilterEditing" class="button">@("Save".Localize())</a>
                            <a href="#" data-bind="click: $root.CancelFilterEditing" class="button gray">@("Cancel".Localize())</a>
                        </p>
                    </div>
                </div>
                <div>
                    <a href="#" data-bind="click: AddFilter">
                        @Html.IconImage("plus small")
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <th>@("Query type".Localize())</th>
            <td>
                <div class="clearfix">
                    <input type="radio" id="TakeOperation_List" name="DataSource.CommerceDataSource.Settings.TakeOperation" value="0" data-bind="checked: DataSource.Settings.TakeOperation" />
                    <label for="TakeOperation_List" class="inline">@("List of contents".Localize())</label>
                </div>
                <div class="clearfix" style="margin-top:10px">
                    <input type="radio" id="TakeOperation_FirstOrDefault" name="DataSource.CommerceDataSource.Settings.TakeOperation" value="1" data-bind="checked: DataSource.Settings.TakeOperation" />
                    <label for="TakeOperation_First" class="inline">@("First or default (one content item)".Localize())</label>
                </div>
            </td>
        </tr>
    </table>
    <fieldset data-bind="visible: DataSource.Settings.TakeOperation() == 0 || DataSource.SortableFields() && DataSource.SortableFields().length > 0">
        <legend class="clickable">@Html.IconImage("arrow") @("Advanced".Localize())</legend>
        <div style="padding-top:10px">
            <table class="common-form">
                <tbody data-bind="visible: DataSource.Settings.TakeOperation() == 0">
                    <tr>
                        <th>@("Top".Localize())</th>
                        <td>
                            <input type="text" name="DataSource.CommerceDataSource.Settings.Top" data-bind="value: DataSource.Settings.Top" />
                        </td>
                    </tr>
                </tbody>
                <tbody data-bind="visible: DataSource.SortableFields() && DataSource.SortableFields().length > 0">
                    <tr>
                        <th>@("Sort field".Localize())</th>
                        <td>
                            <select name="DataSource.CommerceDataSource.Settings.SortField" data-bind="options: DataSource.SortableFields, value: DataSource.Settings.SortField"></select>
                        </td>
                    </tr>
                    <tr>
                        <th>@("Sort direction".Localize())</th>
                        <td>
                            <select name="DataSource.CommerceDataSource.Settings.SortDirection" data-bind="value: DataSource.Settings.SortDirection">
                                <option value="0">@("ASC".Localize())</option>
                                <option value="1">@("DESC".Localize())</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
                <tbody data-bind="visible: DataSource.Settings.TakeOperation() == 0">
                    <tr>
                        <th>@("Enable paging".Localize())</th>
                        <td>
                            <input type="checkbox" name="DataSource.CommerceDataSource.Settings.EnablePaging" value="true" data-bind="checked: DataSource.Settings.EnablePaging" />
                        </td>
                    </tr>
                    <tr>
                        <th>@("Page size".Localize())</th>
                        <td>
                            <input type="text" name="DataSource.CommerceDataSource.Settings.PageSize" data-bind="enable: DataSource.Settings.EnablePaging, value: DataSource.Settings.PageSize" />
                            <em class="tip">
                                @("A const value OR dynamic value get from query string. eg: 10 OR {PageSize}".Localize())
                            </em>
                        </td>
                    </tr>
                    <tr>
                        <th>@("Page number".Localize())</th>
                        <td>
                            <input type="text" name="DataSource.CommerceDataSource.Settings.PageNumber" data-bind="enable: DataSource.Settings.EnablePaging, value: DataSource.Settings.PageNumber" />
                            <em class="tip">
                                @("The page number parameter name. eg:{PageNumber}".Localize())
                            </em>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
    <fieldset data-bind="visible: DataSource.IncludablePaths() && DataSource.IncludablePaths().length > 0" style="display:none">
        <legend class="clickable">@Html.IconImage("arrow") @("Includes".Localize())</legend>
        <div style="padding-top:10px">
            <table class="common-form">
                <tbody>
                    <tr>
                        <th></th>
                        <td>
                            <div class="clearfix" style="padding-bottom:10px">
                                <input id="IncludeAll" name="IncludeAll" type="checkbox" data-bind="checked: $root.AllPathsIncluded, click: $root.ToggleIncludeAll" />
                                <label class="inline" for="IncludeAll">@("All".Localize())</label>
                            </div>
                            <div data-bind="foreach: DataSource.IncludablePaths">
                                <div class="clearfix" style="padding-bottom:10px">
                                    <input type="checkbox" name="IncludablePaths" data-bind="attr: { id: 'IncludablePath_' + $index(), value: $data }, checked: $root.IsPathIncluded($data), disable: $root.IsPathDisabled($data), click: $root.TogglePathInclude" />
                                    <label class="inline" data-bind="text: $data, attr: { 'for': 'IncludablePath_' + $index() }"></label>
                                    <!-- Values of disabled form elements won't be sent to server, so we use a hidden checkbox to hold the real values to be sent to server -->
                                    <input type="checkbox" style="display:none" name="DataSource.CommerceDataSource.Settings.Includes" data-bind="attr: { value: $data }, checked: $root.IsPathIncluded($data)" />
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</div>

@Html.Partial("~/Areas/Kooboo.Commerce.CMSIntegration.DataSources/Views/GenericDataSourceDesigner.Scripts.cshtml")