@using Kooboo.Commerce.API;
@using Kooboo.Commerce.API.CmsSite;
@using Kooboo.Commerce.API.Categories;
@{
    var categories = Site.Current.Commerce().Categories.ByParentId(null).LoadWithChildren().ToArray();
}

 <div class="Category_nav" style="padding-top: 20px;">
    @foreach(var cate in categories)
    {
        <ul class="@(cate.Name)_Item">
            <li><a class="leftnav @(cate.Name)" href="@CmsSiteUrlResolver.MapUrl(cate, "products")">@cate.Name</a></li>
            @foreach(var sub in cate.Children)
            { 
            <li><a href="@CmsSiteUrlResolver.MapUrl(sub, "products")">@sub.Name</a></li>
            }
        </ul>
    }
</div>