@model SettingEditorModel

@using (Html.BeginForm("Index", "Setting", RouteValues.From(Request.QueryString)))
{
    @Html.ValidationSummary(true)

    <div id="J_SettingTabs">
        <ul>
            <li>
                <a href="#General">@("General".Localize())</a>
            </li>
            <li>
                <a href="#Image">@("Image".Localize())</a>
            </li>
            <li>
                <a href="#PredefinedField">@("Predefined field".Localize())</a>
            </li>
        </ul>
        <div id="General">
            <div class="common-form">
                <table>
                    @Html.EditorFor(m => m.StoreSetting.Culture, new { HtmlAttributes = new { @class = "medium" } })
                    @Html.EditorFor(m => m.StoreSetting.CurrencyISOCode, new { HtmlAttributes = new { @class = "medium" } })
                    @Html.EditorFor(m => m.StoreSetting.WeightUnitName, new { HtmlAttributes = new { @class = "medium" } })
                    @Html.EditorFor(m => m.StoreSetting.SizeUnitName, new { HtmlAttributes = new { @class = "medium" } })
                </table>
            </div>
        </div>
        <div id="Image">
            <div class="common-form" id="image-settings">
                <div data-bind="foreach: { data: Sizes, afterRender: UpdateValidation }">
                    <div class="form-row">
                        <div class="span2">
                            <input type="text"
                                   data-val="true"
                                   data-val-required="@("Name is required".Localize())"
                                   data-val-distinctsizename="@("Name is duplicated".Localize())"
                                   data-bind="attr:{ name: 'ImageSettings.Sizes[' + $index() + '].Name' }, value: Name">
                        </div>
                        <div class="span2">
                            <input type="text" defaultvalue="0"
                                    data-val="true"
                                    data-val-required="@("Width is required".Localize())"
                                    data-val-digits="@("Width should be an integer".Localize())"
                                    data-bind="attr:{ name: 'ImageSettings.Sizes[' + $index() + '].Width' }, value:Width" class="mini">
                            <span class="text">x</span>
                            <input type="text" defaultvalue="0"
                                    data-val="true"
                                    data-val-required="@("Height is required".Localize())"
                                    data-val-digits="@("Height should be an integer".Localize())"
                                    data-bind="attr:{ name: 'ImageSettings.Sizes[' + $index() + '].Height' }, value:Height" class="mini">
                        </div>
                        <div class="span2">
                            <div class="checkbox-field">
                                <input type="checkbox" value="true"
                                        data-bind="attr:{ name: 'ImageSettings.Sizes[' + $index() + '].IsMultiple', id: 'ImageSettings_Sizes_' + $index() + '_IsMultiple' }, checked:IsMultiple" />
                                <label class="inline" data-bind="attr:{'for': 'ImageSettings_Sizes_' + $index() + '_IsMultiple' }">@("IsMultiple".Localize())</label>
                            </div>
                        </div>
                        <div class="span2">
                            <div class="checkbox-field">
                                <input type="checkbox" value="true" data-bind="attr:{name: 'ImageSettings.Sizes[' + $index() + '].IsEnabled', id: 'ImageSettings.Sizes_' + $index() + '_IsEnabled' }, checked:IsEnabled" />
                                <label class="inline" data-bind="attr:{'for': 'ImageSettings.Sizes_' + $index() + '_IsEnabled' }">@("IsEnabled".Localize())</label>
                            </div>
                        </div>
                        <div class="span2">
                            <a class="action" data-bind="click:$parent.RemoveImageSize">@Html.IconImage("minus")</a>
                        </div>
                    </div>
                    <div>
                        <div data-valmsg-replace="true" data-bind="attr:{'data-valmsg-for': 'ImageSettings.Sizes[' + $index() + '].Name' }"></div>
                        <div data-valmsg-replace="true" data-bind="attr:{'data-valmsg-for': 'ImageSettings.Sizes[' + $index() + '].Width' }"></div>
                        <div data-valmsg-replace="true" data-bind="attr:{'data-valmsg-for': 'ImageSettings.Sizes[' + $index() + '].Height' }"></div>
                    </div>
                </div>
                <div>
                    <a class="action" data-bind="click: AddImageSize">@Html.IconImage("plus")</a>
                </div>
                <script>
                    (function ($) {

                        var data = @Html.Raw(Model.ImageSettings.ToJson(PropertyNaming.Default));

                        var ImageSettingsModel = function () {
                            var self = this;

                            this.AddImageSize = function () {
                                var size = {
                                    Name: ko.observable(),
                                    Width: ko.observable(),
                                    Height: ko.observable(),
                                    IsEnabled: ko.observable(true),
                                    IsMultiple: ko.observable(false)
                                };
                                self.Sizes.push(size);
                            };

                            this.RemoveImageSize = function (size) {
                                self.Sizes.remove(size);
                            };

                            this.UpdateValidation = function () {
                                var $form = $('#image-settings').parents('form');
                                $.validator.unobtrusive.reparse($form);
                            }
                        };

                        // validate
                        $.validator.addMethod('distinctsizename', function (value, element, param) {
                            var set = {};
                            var duplicate = false;

                            $.each(model.Sizes(), function () {
                                var name = (this.Name() || '').toLowerCase();
                                if (set[name]) {
                                    duplicate = true;
                                    return false;
                                } else {
                                    set[name] = true;
                                }
                            });

                            return !duplicate;
                        });
                        $.validator.unobtrusive.adapters.add('distinctsizename', ['value'], function (options) {
                            options.rules['distinctsizename'] = options.params;
                            options.messages['distinctsizename'] = options.message;
                        });

                        var model = ko.mapping.fromJS(data, {}, new ImageSettingsModel());
                        // apply
                        ko.applyBindings(model, document.getElementById('image-settings'));

                    })(jQuery);
                </script>
            </div>
        </div>
        <div id="PredefinedField">
            @{var gridViewData = new ViewDataDictionary();
            gridViewData.Add("CreateButtonText", "Create system field".Localize());
            gridViewData.Add("FieldType", 1);
            }
            @Html.Partial("_CustomFieldsGrid", Model.ProductSetting.SystemFields, gridViewData)
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#J_SettingTabs').tabs();
            $('#PredefinedField').customFields({ data: @Html.Raw(Model.ProductSetting.SystemFields.ToJson(PropertyNaming.Default)), nameFmt: 'ProductSetting.SystemFields[{0}].{1}' });
        });
    </script>
}
@{
    ViewData.Add("FieldType", 1);
}
@Html.Partial("_CustomFieldsScripts", ViewData)