@model IList<PromotionRowModel>

<div class="form-container hide" id="J_OtherPromotions">
    @if (Model.Count > 0)
    {
        <p>
            @("Select promotions which are allowed to be used together with current promotion"):
        </p>
        <ul class="form-list">
            @for (var i = 0; i < Model.Count; i++)
            {
                var promotion = Model[i];
                var prefix = "OtherPromotions[" + i + "].";
                <li>
                    @Html.Hidden(prefix + "Id", promotion.Id)
                    @Html.CheckBox(prefix + "IsSelected", promotion.IsSelected)
                    <label class="inline">
                        @promotion.Name
                    </label>
                </li>
            }
        </ul>
    }
    else
    {
        <p>
            @("There's no promotion currently available for selection.".Localize())
        </p>
    }
</div>