@model PromotionEditorModel
@{
    Layout = "~/Areas/Commerce/Views/Shared/Blank.cshtml";
    ViewBag.Title = "Promotion".Localize();
}

@section Panel {
    @Html.HeaderPanel().Buttons(buttons => buttons.AddCancelButton())
}

<div class="block" id="basic-info">
    @Html.Action("Steps", "Promotion", new { area = "Commerce", step = 1 })

    @using (Html.BeginForm("BasicInfo", "Promotion", RouteValues.From(Request.QueryString)))
    {
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.PromotionPolicy)
        <div class="common-form">
            <table>
                @Html.EditorFor(m => m.Name)
                <tr>
                    <th>@("Start time".Localize())</th>
                    <td>
                        @Html.TextBoxFor(m => m.StartTime, new { @class = "medium" })
                        @Html.ValidationMessageFor(m => m.StartTime)
                    </td>
                </tr>
                <tr>
                    <th>@("End time".Localize())</th>
                    <td>
                        @Html.TextBoxFor(m => m.EndTime, new { @class = "medium" })
                        @Html.ValidationMessageFor(m => m.EndTime)
                    </td>
                </tr>
                @Html.EditorFor(m => m.RequireCouponCode)
                <tr class="J_CouponcodeHolder hide">
                    <th></th>
                    <td>
                        @Html.TextBoxFor(m => m.CouponCode, new { @class = "medium", placeholder = @Html.DisplayNameFor(m => m.CouponCode) })
                        @Html.ValidationMessageFor(m => m.CouponCode)
                    </td>
                </tr>
                <tr>
                    <th>@("Conditions".Localize())</th>
                    <td>
                        <div data-bind="foreach: conditions">
                            <div class="conditions-expression">
                                <span data-bind="visible: $index() > 0">AND</span>
                                <span data-bind="visible: type() == 'Exclude'">NOT</span>
                                <span data-bind="html: expression"></span>
                            </div>
                        </div>
                        <input type="hidden" name="ConditionsJson" data-bind="value: conditionsJson" />
                        <a href="#" class="btn-edit-conditions">@Html.IconImage("edit-small")</a>
                    </td>
                </tr>
                @Html.EditorFor(m => m.Priority, new { HtmlAttributes = new { @class = "medium" } })
                <tr>
                    <th>@Html.DisplayNameFor(m => m.OverlappingUsage)</th>
                    <td>
                        <div class="clearfix">
                            @Html.DropDownListFor(m => m.OverlappingUsage, Model.AvailableOverlappingUsages, new { @class = "medium" })
                        </div>
                        @Html.Partial("_SelectOverlappablePromotions", Model.OtherPromotions)
                    </td>
                </tr>
            </table>
        </div>
    }

    <div class="wizard-buttons">
        <a data-ajaxform="" class="button">@("Next".Localize()) &raquo;</a>
    </div>
</div>

@Html.Partial("_ConditionsDialog")
@Html.Partial("BasicInfo.Scripts")