@model PromotionEditorModel
@{
    Layout = "~/Areas/Commerce/Views/Shared/Blank.cshtml";
    ViewBag.Title = "Promotion".Localize();
}

@section Panel {
    @Html.HeaderPanel().Buttons(buttons => buttons.AddCancelButton())
}

<div class="block">
    @Html.Action("Steps", "Promotion", new { area = "Commerce", step = 1 })

    @using (Html.BeginForm("BasicInfo", "Promotion", RouteValues.From(Request.QueryString)))
    {
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.PromotionPolicy)
        <div class="common-form">
            <table>
                @Html.EditorFor(m => m.Name)
                @Html.EditorFor(m => m.StartTime)
                @Html.EditorFor(m => m.EndTime)
                @Html.EditorFor(m => m.RequireCouponCode)
                <tr class="J_CouponcodeHolder hide">
                    <th></th>
                    <td>
                        @Html.TextBoxFor(m => m.CouponCode, new { @class = "medium", placeholder = @Html.DisplayNameFor(m => m.CouponCode) })
                        @Html.ValidationMessageFor(m => m.CouponCode)
                    </td>
                </tr>
                <tr>
                    <th>@("Conditions".Localize())</th>
                    <td>
                        <span class="conditions-expression">
                            @Html.Raw(Model.ConditionsExpression)
                        </span>
                        @Html.HiddenFor(m => m.ConditionsExpression)
                        <a href="#" class="btn-edit-conditions">@Html.IconImage("edit-small")</a>
                    </td>
                </tr>
                @Html.EditorFor(m => m.Priority, new { HtmlAttributes = new { @class = "medium" } })
                <tr>
                    <th>@Html.DisplayNameFor(m => m.OverlappingUsage)</th>
                    <td>
                        <div class="clearfix">
                            @Html.DropDownListFor(m => m.OverlappingUsage, Model.AvailableOverlappingUsages, new { @class = "medium" })
                        </div>
                        @Html.Partial("_SelectOverlappablePromotions", Model.OtherPromotions)
                    </td>
                </tr>
            </table>
        </div>
    }

    @Html.Partial("_ConditionsEditor")

    <div class="wizard-buttons">
        <a data-ajaxform="" class="button">@("Next".Localize()) &raquo;</a>
    </div>
</div>


@Html.Partial("BasicInfo.Scripts")