@model Promotion
@{
    Layout = "~/Views/Shared/Blank.cshtml";
    ViewBag.Title = "Complete".Localize();
}

<div class="block">
    @Html.Action("Steps", "Promotion", new { area = "Commerce", step = 3 })
    @using (Html.BeginForm()) { 
    <div class="block content" style="text-align:center">
        <p>
            @(String.Format("Promotion \"{0}\" is successfully created/updated".Localize(), Model.Name))
        </p>
        <p>
            @if (!Model.IsEnabled) { 
                <a href="#" data-id="@Model.Id" class="button btn-enable-promotion">@("Enable this promotion".Localize())</a>
            }
            <a href="@ViewContext.RequestContext.GetRequestValue("return")" class="button gray">@("Back to promotion list".Localize())</a>
        </p>
    </div>
    }
</div>

<script>
    $(function () {
        var commerceName = '@(ViewContext.RequestContext.GetRequestValue("commerceName"))';

        $('.btn-enable-promotion').click(function () {
            window.loading.show();
            $.post('@Url.Action("EnablePromotion")', { id: $(this).data('id'), commerceName: commerceName }, function () {
                window.loading.hide();
                location.href = '@(ViewContext.RequestContext.GetRequestValue("return"))';
            });

            return false;
        })
    });
</script>