@model Promotion
@{
    Layout = "~/Areas/Commerce/Views/Shared/Blank.cshtml";
    ViewBag.Title = "Promotion".Localize();
}

@section Panel {
    <ul class="header-panel">
        <li><a href="@ViewContext.RequestContext.GetRequestValue("return")">@Html.IconImage("back") @("Back to promotion list".Localize())</a></li>
    </ul>
}

<div class="block">
    @Html.Action("Steps", "Promotion", new { area = "Commerce", step = 4 })
    @using (Html.BeginForm())
    {
        <div class="block message success">
            <p>
                @(String.Format("Promotion \"{0}\" is successfully created/updated".Localize(), Model.Name))
            </p>
        </div>
        if (!Model.IsEnabled)
        {
            <div class="wizard-buttons">
                <a href="#" data-id="@Model.Id" class="button J_EnablePromotion">@("Enable this promotion".Localize())</a>
            </div>
        }
    }
</div>

<script>
    $(function () {
        var commerceName = '@(ViewContext.RequestContext.GetRequestValue("commerceName"))';

        $('.J_EnablePromotion').click(function () {
            window.loading.show();
            $.post('@Url.Action("EnablePromotion")', { id: $(this).data('id'), commerceName: commerceName }, function () {
                window.loading.hide();
                location.href = '@Html.Raw(ViewContext.RequestContext.GetRequestValue("return"))';
            });

            return false;
        })
    });
</script>