@model Promotion
@{
    Layout = "~/Areas/Commerce/Views/Shared/Blank.cshtml";

    if ((ViewBag.Title as string) == null)
    {
        ViewBag.Title = "Promotion".Localize();
    }

    var promotionId = Model.Id;
    var editorVirtualPath = "~/Areas/Commerce/Views/Promotion/_DefaultPolicyConfigEditor.cshtml";
    var policy = ViewBag.Policy as IPromotionPolicy;
    
    var editor = policy as IHasCustomPromotionPolicyConfigEditor;
    if (editor != null)
    {
        editorVirtualPath = editor.GetEditorVirtualPath(Model);
    }
}

@section Panel {
    @Html.HeaderPanel().Buttons(buttons => buttons.AddCancelButton())
}

@Html.Partial("Policy.Scripts")

<div class="block">
    @Html.Action("Steps", "Promotion", new { area = "Commerce", step = 3 })

    @Html.Partial(editorVirtualPath, ViewBag.PolicyConfigEditorModel as PromotionPolicyConfigEditorModel)

    <div class="wizard-buttons">
        <a class="button gray" href="@Url.Action("Conditions", "Promotion", RouteValues.From(Request.QueryString).Merge("id", promotionId))">&laquo; @("Back".Localize())</a>
        <a class="button btn-next">@("Next".Localize()) &raquo;</a>
    </div>
</div>
