<div class="wizard">
    <div class="container">
        <span class="active">@("Basic info".Localize())<b></b></span>
        <span class="@(ViewBag.Step > 1 ? "active" : "")">@("Conditions".Localize())@Html.Raw(ViewBag.Step > 1 ? "<b></b>" : "")</span>
        <span class="@(ViewBag.Step > 2 ? "active" : "")">@("Policy".Localize())@Html.Raw(ViewBag.Step > 2 ? "<b></b>" : "")</span>
        <span class="@(ViewBag.Step > 3 ? "active" : "")">@("Complete".Localize())@Html.Raw(ViewBag.Step > 3 ? "<b></b>" : "")</span>
    </div>
</div>