@model BrandEditorModel

@using (Html.BeginForm("Save", "Brand", RouteValues.From(Request.QueryString)))
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.Id)
    <div class="common-form">
        <table>
            @Html.EditorFor(m => m.Name, new { HtmlAttributes = new { @class = "medium" } })
            <tr>
                <th><label>@("Logo".Localize())</label></th>
                <td>
                    <input type="hidden" id="Logo" name="Logo" value="@Model.Logo" />
                    <ul class="form-list images">
                        <li>
                            <div class="file-thumbnail @(string.IsNullOrEmpty(Model.Logo) ? "hide" : "")">
                                <img id="logoImg" src="@Model.Logo" data-owner="commerce" data-property="brand" />
                                <a class="action" id="btnRemove" href="javascript:;" onclick="RemoveImage();">
                                    @Html.IconImage("minus-small")
                                </a>
                            </div>
                        </li>
                    </ul>
                    <a href="javascript:;" class="action J_Upload" data-owner="commerce" data-property="brand" data-src="@Model.Logo">
                        @Html.IconImage("plus-small")
                    </a>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="Description">
                        @("Description".Localize())
                    </label>
                </th>
                <td>
                    <textarea id="Description" name="Description" class="medium">@Model.Description</textarea>
                </td>
            </tr>
        </table>
    </div>
}

<script type="text/javascript">
    $(function () {
        $('.J_Upload').upload({
            on_file_select: function (data) {
                $('#Logo').val(data.file.Url);
                $('#logoImg').attr('src', data.file.Url);
                $('#logoImg').parent().show();
            }
        });

        $('#logoImg').cropimage({
            keep_ratio: false,
            on_image_croped: function (data) {
                $(data.element).attr('src', data.url + '?v=' + new Date().getTime())
            }
        });
    })

    function RemoveImage() {
        $('#Logo').val('');
        $('#logoImg').attr('src', '');
        $('#logoImg').parent().hide();
    }
</script>