@model BrandEditorModel

@using (Html.BeginForm("Save", "Brand", RouteValues.From(Request.QueryString)))
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.Id)
    <div class="common-form">
        <table>
            @Html.EditorFor(m => m.Name, new { HtmlAttributes = new { @class = "medium" } })
            <tr>
                <th><label>@("Logo".Localize())</label></th>
                <td>
                    <input type="hidden" id="Logo" name="Logo" value="@Model.Logo" />
                    <ul class="form-list images">
                        <li>
                            <div class="file-thumbnail @(string.IsNullOrEmpty(Model.Logo) ? "hide" : "")">
                                <img id="logoImg" src="@Model.Logo" data-owner="commerce" data-property="brand" />
                                <a class="action" id="btnRemove" href="javascript:;" onclick="RemoveImage();">
                                    @Html.IconImage("minus small")
                                </a>
                            </div>
                        </li>
                    </ul>
                    <a href="javascript:;" class="action J_Upload" data-owner="commerce" data-property="brand" data-src="@Model.Logo">
                        @Html.IconImage("plus small")
                    </a>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="Description">
                        @("Description".Localize())
                    </label>
                </th>
                <td>
                    <textarea id="Description" name="Description" class="medium">@Model.Description</textarea>
                </td>
            </tr>
            <tr>
                <th>
                    <label>
                        @("Custom Fields".Localize())
                    </label>
                </th>
                <td>
                    <table id="customFields">
                        <thead>
                            <tr>
                                <th>@("Name".Localize())</th>
                                <th>@("Value".Localize())</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.CustomFields != null)
                            {
                                foreach (var cf in Model.CustomFields)
                                {
                                    <tr>
                                        <td>@Html.TextBox("CustomFields.Name", cf.Name)</td>
                                        <td>@Html.TextBox("CustomFields.Value", cf.Value)</td>
                                        <td><a href="javascript:;" onclick="RemoveCustomField(this);">@Html.IconImage("minus small")</a></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <a href="javascript:;" class="action" onclick="AddCustomField();">
                        @Html.IconImage("plus small")
                    </a>                
                </td>
            </tr>
        </table>
    </div>
}

<script type="text/javascript">
    $(function () {
        $('.J_Upload').upload({
            on_file_select: function (data) {
                $('#Logo').val(data.file.Url);
                $('#logoImg').attr('src', data.file.Url);
                $('#logoImg').parent().show();
            }
        });

        $('#logoImg').cropimage({
            keep_ratio: false,
            on_image_croped: function (data) {
                $(data.element).attr('src', data.url + '?v=' + new Date().getTime())
            }
        });
    })

    function RemoveImage() {
        $('#Logo').val('');
        $('#logoImg').attr('src', '');
        $('#logoImg').parent().hide();
    }

    function AddCustomField() {
        var tr = $('<tr></tr>');        
        var name = $('<input type="text" name="CustomFields.Name" value="" />');
        var value = $('<input type="text" name="CustomFields.Value" value="" />');
        var icon = $('<a href="javascript:;" onclick="RemoveCustomField(this);"><img class="icon minus small" src="/Images/invis.gif"></a>');
        tr.append($('<td></td>').append(name));
        tr.append($('<td></td>').append(value));
        tr.append($('<td></td>').append(icon));
        $('#customFields').append(tr);
    }

    function RemoveCustomField(ele) {
        var tr = $(ele).closest('tr');
        tr.remove();
    }
</script>